<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Baby Boogie</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Baby%20Boogie%20Image%20for%20Imagine%20Festival.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Monday October 23rd, 11am<div class="sub header">Dance Studio, 5 O&#39;Connell Street</div> </h3>
            <p>
                Enjoy music and dance with your little one in a workshop especially designed for parents, babies and toddlers. The
                dance studio will be transformed into a calming and comforting environment where dance artist Jess Rowell will guide
                you and your children in an exploration of movement and rhythm. Suitable for children from 0-2 years accompanied by
                a parent or guardian.
            </p>
            <p>
                <b>Admission : </b> €11 per child, accompanying adults go Free! <a href="https://uticket.ie/event/baby-boogie"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>