<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Codordojo Workshop<div class="sub header">in conjunction with Red Hat</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/codordojo.png" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 28th, 2pm<div class="sub header">City Library</div> </h3>
            <p>
                Details Coming Soon.
            </p>
            <p>
                <b>Admission :</b> Free
            </p>
        </div>
    </div>
</div>