<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Graffiti Classics</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Graffiti%20Classics.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday October 26th, 11am<div class="sub header">Theatre Royal</div> </h3>
            <p>
                16 strings, 8 dancing feet and 4 voices with 1 aim: to make classical music wickedly funny
                and fantastically exhilarating for everyone, young and old. Graffiti Classics burst the elitist
                boundaries of the traditional string quartet with their hilarious all-singing, all-dancing musical
                comedy show. It&#39;s a classical concert, a gypsy-folk romp, an opera, a stand-up comedy set
                and a brilliant dance show all rolled into one! From Beethoven to Bluegrass, Baroque to Pop,
                Mozart or Offenbach to Elvis, Strauss to Saturday Night Fever, there really is something for
                everyone and Graffiti Classics never fail to get audiences laughing, clapping and singing
                along. Kids and adults alike love the uplifting and virtuosic variety of musical styles, all tied
                together with cheeky audience interaction.
            </p>
            <p>
                <b>Admission : </b> €7
            </p>
        </div>
    </div>
</div>