<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Horribly Historical Trails</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/history.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Wednesday, Thursday, Friday, Saturday October 25th,26th,27th,28th, 7:30pm<div class="sub header">Starts at Medieval Museum</div> </h3>
            <p>
                Waterford Youth Arts and Imagine Arts Festival are proud to present Horribly Historical
                Trails, returning to the festival after its successful run last year. Join us as we bring you
                through the streets of Waterford to hear the stories hidden in our ancient walls, of those
                who have walked before us. Meet the ghosts of the legends, you have heard the tails off.
                Vikings, Kings, Vampires, and many more of those lost but not forgotten. Be prepared for a
                spooktastical night of frights and delights as you will see Waterford City in a way you have
                never seen it before told through the eyes of all those who have walked through this city for
                hundreds of years. This theatrical tale will be sure to delight children and adults of all ages.
                Written and Directed by Martina Collender.
            </p>
            <p>
                Suitable for children 6 plus. Beginning nightly at 7.30pm at The Medieval Museum.
            </p>
            <p>
                <b>Admission : </b> €5 (adults fee) at the door or to book: <a href="https://uticket.ie/event/horribly-historical-trails"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>