<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Jackula</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Jackula.png" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday October 26th, 7:30pm<div class="sub header">Theatre Royal</div> </h3>
            <p>
                Being a vampire sucks, but being Dracula’s younger brother is driving Jackula batty. Join Jackula on a
                spooktacular quest to step out of his older brother’s shadow and become the world’s most magical
                vampire. Laugh as Jackula makes his pet ghost dance, gasp as Jackula balances five glasses of water
                on his face, and smile as children help him perform fun magic tricks.
            </p>
            <p>
                This is a fun magic and juggling show for the whole family.
            </p>
            <p>
                Ages: 4-12 , Duration: 80minutes
            </p>
            <p>
                <b>Price: </b>€11/€40 Family of 4 <a href="http://www.theatreroyal.ie/events/jackula"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>