<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Mini Musos</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/FB_IMG_1503595431865.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Wednesday October 25th, 10am<div class="sub header">GOMA</div> </h3>
            <p>
                Where words fail music and art speak - music is an amazing communication tool that reaches everyone on
                a certain level and gives them a platform to express themselves. Mini Musos early childhood development
                program uses rhythm and beat, songs and props to encourage young children&#39;s overall development. All
                children, all abilities have fun in the music room.
            </p>
        </div>
    </div>
</div>