<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Puppet Making Workshop<div class="sub header">With Visual Artist Ruth Flynn</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Puppet%20Making%20Workshop%20with%20Visual%20Artist%20Ruth%20Flynn.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday October 26th, 11am<div class="sub header">GOMA</div> </h3>

        </div>
    </div>
</div>