<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Under the Rainbow<div class="sub header">Workshop</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/Under%20the%20Rainbow.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Friday October 20th, 4pm<div class="sub header">Children’s Room, 5 O&#39;Connell Street</div> </h3>
            <p>
                Explore a magical world under the rainbow with artist Nicola Chestnutt to make a dazzling drawing in this FREE art
                workshop, for creative kids with big imaginations! Suitable for children from 7+ years.
            </p>
            <p>
                Kindly supported by Tesco Community Funds.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>