<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Learn Through Experience<div class="sub header">by Immersive VR Education</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/children/vrimmer.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday October 20th, 2pm<div class="sub header">Central Hall</div> </h3>
            <h3 class="ui header">Friday October 27th, 2pm<div class="sub header">GOMA</div> </h3>
            <p>
                CEO David Whelan introduces the Engage virtual platform, a world of exploration and
                learning. Go on a journey with the Apollo 11 astronauts and see the Titanic in all its glory.
                You will also get to see behind the scenes and see how the magic is made. One lucky
                member will be digitised into a virtual avatar.
            </p>
        </div>
    </div>
</div>