<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Alan Shatter </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Alan%20Shatter.jpg" style="height: 450px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday 21 October 9pm<div class="sub header">Large Room City Hall</div> </h3>
            <p>
                Alan Shatter was born in Dublin on the 14th February 1951. He is a law
                graduate of Trinity College Dublin and has a Diploma in European Integration
                from the Europa Institute of the University of Amsterdam.
            </p>
            <p>
                He was a partner in the solicitors firm Gallagher Shatter for almost
                thirty-five years and a member of Dáil Éireann [Lower House of the Irish
                Parliament] during the periods 1981–2002 and 2007–2016. He is a former
                chairman of the Joint Oireachtas [Irish Parliament] Committee on Foreign
                Affairs and of the  Government Task Force on Emergency Planning. He was a
                member of government as both Minister for Justice and Equality and Minister
                for Defence (2011–2014). During Ireland’s Presidency of the European Union
                in 2013 he was President of the EU Council of Justice and Home Affairs
                Ministers and chaired meetings of EU Defence ministers.
            </p>
            <p>
                He is the author of four major academic books on Irish Family Law. He is
                also the author of Family Planning Irish Style, a satire (1979) and Laura, a
                novel (1989).
            </p>
            <p>
                He and his wife Carol live in Dublin and they have two adult children, Dylan
                and Kelly.
            </p>
        </div>
    </div>
</div>