<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Barry McKinley </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Barry_McKinley_Landscape_Headshot%20(2)%20(1).jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br>
            <p>
                Barry McKinley spent a large chunk of his life travelling around the world, writing and working in the construction industry.  From Paris to Sydney to Los Angeles; he spent a dozen years in New York City before returning to Ireland with his wife and twin sons in 2006.  For better or for worse, he missed out on most of the Celtic Tiger years.  His plays have been performed in the US, UK, and Continental Europe.  He has written for the BBC and RTE and was nominated for Best New Play (Elysium Nevada) in 2010.  His stories were twice shortlisted for the Hennessy Literary Award and his novel, A Ton of Malice, was published this year by Old Street Publishing (UK).
                A Ton of Malice is a chronicle of chaos from the late 1970's when McKinley, a young punk at the time, worked for British Nuclear Fuels Ltd. It was completed with the help and support of The Story House Ireland.
            </p>
        </div>
    </div>
</div>