<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Cat Hogan </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/CatHogan--3.jpg" style="height: 460px" >
        </div>
        <div class="ui column">
            <h3 class="ui header">Saturday 21 October 11:30am<div class="sub header">Greyfriars Gallery</div> </h3>
            <p>
                Cat Hogan is an international bestselling crime fiction author from Co. Wexford. Her first award
                nominated novel ‘They All Fall Down’ was released in 2016.
            </p>
            <p>
                Cat lives in her native Co. Wexford with her two boys within spitting distance of the sea. Her father
                Pat, a lightship man, instilled in her a love of the sea and the stars. Her mother, Mag, taught her to
                read before she could walk. Cat drinks too much tea, cooks way too much food and never gets enough
                sleep.
            </p>
            <p>
                She loves her creative life and is a real advocate for positivity and mental health. She facilitates
                workshops for adults concentrating on reading and writing as a tool to foster positive mental health
                and she teaches Creative Writing for Wellness to young teens in secondary schools across the country.
            </p>
            <p>
                She also teaches courses in creative writing for pleasure and her favourite is ‘Couch to 100k’-
                kickstart your writing and go the distance.’
            </p>
            <p>
                With both a Law Degree and a Business Studies degree under her belt, Cat runs her own business in
                content and digital marketing. She runs workshops and gives talks up and down the country to
                creatives and entrepreneurs alike.
            </p>
            <p>
                She has facilitated workshops and given talks at festivals including Write by the Sea, Kinsale Literary
                Festival -Words by Water, Waterford Writers Weekend, Bray Literary Festival, and Wexford Literary
                Fest- Enniscorthy.
            </p>
        </div>
    </div>
</div>