<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Darach Ó Séaghdha</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/darach%20o%2527seaghada.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br>
            <p>
                Darach Ó Séaghdha is the author of "Motherfoclóir: Dispatches From A
                Not So Dead Language", which is inspired by his popular twitter
                account, @theirishfor.
            </p>
            <p>
                Darach was born in 1977 in Rathfarnham. Despite having
                Irish speaking parents he rejected the language as a teenager, when he
                deeply resented being saddled with an unpronounceable Irish name (it's
                actually pronounced O Shay). In his mid-thirties, he tentatively
                revisited the Irish language to try and understand why it mattered so
                much to his father. This lead to him discovering a whole world of
                linguistic treasures which he, a social networking enthusiast, decided
                to share on a twitter account called @theirishfor. Darach's book,
                "Motherfoclóir: Dispatches From A Not So Dead Language" shares some of
                these words and phrases and tells a personal story of a man's
                relationship with his language, his country and his Dad, relationships
                as complicated as the Modh Coinníollach.
                Darach still believes that social media can be a positive force for
                learning, storytelling and organising. He is married with one daughter and lives in

                Swords.
            </p>

        </div>
    </div>
</div>