<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Dave Rudden </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br>
            <img class="ui fluid image" src="../../../assets/images/events/writers/dave%20rudden.jpg" style="height: 450px" >
        </div>
        <div class="ui column">
            <h3 class="ui header">4pm | City Library | Children's workshop with Dave Rudden | Free, for Ages 10+</h3>
            <h3 class="ui header">5pm | Poetry Event | The Politics Of Poetry w/ Sarah Clancy, Karl Parkinson, Elaine Feeney & Dave Lordan | Downes Lounge | Host : Sarah Clancy | €7adm</h3>
            <h3 class="ui header">11am | Poetry Workshop for adults with Dave Lordan | GOMA Gallery | 10adm</h3>
            <p>
                Dave Rudden is the author of Knights of the Borrowed Dark, winner of the 2016 Specsavers
                Senior Children’s Book of the Year, and its sequel, The Forever Court. He enjoys keeping
                pens in his beard and being cruel to fictional children.
            </p>
            <p>
                Dave Rudden has brought author talks and creative writing workshops to over two hundred
                schools, libraries and festivals across Ireland and the UK. His work has appeared in
                the Guardian, the Stinging Fly and the Irish Times, and has been shortlisted for the
                Hennessey New Writing Prize and the Bath Short Story Prize. He is the recipient of the 2011
                Fantasy Book Review Short Story Prize.
            </p>
            <p>
                His first novel, Knights of the Borrowed Dark, was the winner of the Specsavers’ Senior
                Children’s Book of the Year Award and the Most Read Novel at the School Library
                Association Great Reads Awards.
            </p>
            <p>He enjoys keeping pens in his beard and being cruel to fictional children.</p>
        </div>
    </div>
</div>