<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Edward Denniston</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/edward.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday 28th, at 3<div class="sub header">Greyfriars Gallery</div> </h3>
            <p>
                Imagine Festival is delighted to include the launch of Edward Denniston's third collection of poetry, 'For Crying Out Loud', published by Salmon Poetry. Greyfriars Gallery, Saturday 28th, at 3pm. The launch will be fellow poet Grace Wells.
            </p>
            <p>
                Edward's two other collections are: ' The Point of Singing' (Abbey Press, 1999) and 'The Scale of Things' (Salmon 2013). A native of Longford, Edward has lived in Waterford since 1980.
            </p>
            <p>
                Grace has two collections of poetry published with Dedalus Press: 'When God Has Been Called Away To Greater Things'
                and 'Fur'.
            </p>
        </div>
    </div>
</div>