<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Derek Flynn</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Author%20Pic.jpg" style="height: 425px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Friday 20 October, 7pm<div class="sub header">The Book Center</div> </h3>
            <p>
                Derek Flynn is a Waterford writer and musician with a Masters in Creative Writing from Trinity College, Dublin. A regular contributor to “Writing.ie”, Ireland’s premiere writing website, Derek’s work has been featured in a number of publications, including, “Surge”, an anthology of new Irish writing published by O’ Brien Press with the aim of showcasing “the very best of the next generation of Irish authors”.
            </p>
            <p><i>
                    “Broken Falls” When Wyoming cop, John Ryan, receives a package of letters from a recently deceased priest addressed to John’s late father, unravelling the story behind them leads him to the remote fishing village of Broken Falls, Newfoundland, a place filled with strange and colourful characters, whose secrets are as old as the village itself. As he attempts to find out what it was the dead priest did – and how he died – John must confront his own past and the secrets that his father tried so hard to hide.
                </i></p>
        </div>
    </div>
</div>