<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Doireann Ní Ghríofa</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Doireann%20Ní%20Ghríofa.jpg" style="height: 400px" >
        </div>
        <div class="ui column">
            <h3 class="ui header">Sunday 22 October<div class="sub header"> Poetry / Spoken Word Event,  Medieval Museum Garden Room</div></h3>
            <p>
                Doireann Ní Ghríofa is a bilingual writer whose books explore birth,
                death, desire, and domesticity. Among her awards are the Rooney Prize
                for Irish Literature. She frequently participates in
                cross-disciplinary collaborations, fusing poetry with film, dance,
                music, and visual art.  She writes &quot;with tenderness and unflinching
                curiosity” (Poetry Magazine, Chicago).
            </p>
            <p>
                Doireann Ní Ghríofa is a bilingual writer whose books explore birth,
                death, desire, and domesticity. Among her awards are the Rooney Prize
                for Irish Literature, the Michael Hartnett Prize, and the Ireland
                Chair of Poetry bursary. She frequently participates in
                cross-disciplinary collaborations, fusing poetry with film, dance,
                music, and visual art. Recent or forthcoming commissions include work
                for The Poetry Society (Britain), RTÉ Radio 1, Cork City Council &amp;
                Libraries, and The Arts Council/Crash Ensemble. A trilingual
                collaborative pamphlet written with Choctaw poet LeAnne Howe appeared
                recently, commemorating the generosity of the Choctaw people to the
                Irish during the famine of 1847. Doireann’s most recent book is
                ‘Oighear’ (Coiscéim, 2017). She is an Associate of the Trinity College
                Centre for Literary Translation, Dublin. She writes &quot;with tenderness
                and unflinching curiosity” (Poetry Magazine, Chicago).
            </p>
        </div>
    </div>
</div>