<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Eamon Ambrose</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/eamon%20ambrose.jpg" style="height: 400px" >
        </div>
        <div class="ui column">
            <h3 class="ui header">Saturday 21 October<div class="sub header"> Self-Publishing - Panel,  The Library</div></h3>
            <p>
                Eamon Ambrose is a science fiction author and recovering musician from Limerick, and is normally loathe to
                talk about himself in the third person. Having started lhis literary life as a book reviewer and blogger, he has
                contributed book reviews and articles to various websites including Following The Nerd and Headstuff.
                During this time, Eamon used this experience to hone his writing skills and build relationships in the writing
                community. He became aquainted with bestselling author Hugh Howey after being introduced to (by none
                other than Rick O&#39; Shea) and reviewing his novel Wool and became not only a fan of the series, but also
                fascinated with the process of self-publishing itself, of which Hugh was one of the major successes at the
                time.
            </p>
            <p>
                In 2015, Eamon released his first short story, Zero Hour, an experimental science fiction story that
                challenges our preconceptions of the genre, and prepared for obscurity, however his plans were scuppered
                when, despite his best efforts, the story began to sell, eventually becoming an Amazon bestseller, and
                garnering praise and rave reviews from readers and fellow authors alike. Almost two years later, he still waits
                to be contacted by Amazon to be told it was a glitch and they want their money back.
            </p>
        </div>
            <p>
                Then something even stranger happened–readers began to contact him with the question “What happens
                next?” to which the answer was “I have no idea,” and it soon became clear that the story would need to be
                continued, and thus the short story apocalyptically mushroomed into a six-part serial. Happily, many readers
                stuck around for the ride, and it was released as a full novel in October 2016, with an audiobook version
                currently in production.
            </p>
            <p>
                In his time spent in the industry, Eamon has witnessed huge changes and overcome many challenges, as
                well as the many pitfalls associated with self publishing, and regularly dispenses advice to those who wish to
                take the first steps towards being an independent author.
            </p>
            <p>
                His next release is a novella Love And Other Algorithms and his next full novel, Madeleine Strange is due for
                release in late 2017, and he will also be appearing in the upcoming Chronicle Worlds: B-Movie anthology
                with his story Bubbles, as well as The Illustrated Robot anthology with Nokyo Rising. He has also been
                selected to appear in an upcoming anthology of short stories based on Hugh Howey&#39;s Wool. He has guested
                on the popular Author Stories Podcast with Hank Garner, alongside luminaries such as Anne Rice, Patrick
                Rothfuss, and Blake Crouch, to name a few.
            </p>

    </div>
</div>