<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Edward Denniston </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Edward%20Denniston.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday 28 October 3pm<div class="sub header">Greyfriars Gallery</div> </h3>
            <p>
                Launch of Edward Denniston&#39;s third collection of poetry, &#39;For Crying Out Loud&#39;, published by Salmon
                Poetry. Edward&#39;s two other collections are: &#39; The Point of Singing&#39; (Abbey Press, 1999) and &#39;The Scale of
                Things&#39; (Salmon 2013). A native of Longford, Edward has lived in Waterford since 1980.
                Venue: Greyfriars Gallery, Saturday 28th, at 3pm.
            </p>
        </div>
    </div>
</div>