<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Eithne Shortall</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Eithne%20Shortall.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday 22 October 2pm<div class="sub header">Medieval Museum, Garden Room</div> </h3>
            <p>
                Eithne Shortall is the author of Irish Times and
                Sunday Times Bestseller Love In Row 27. Her debut novel has sold into
                nine territories across the world and the TV rights bought by
                NBC-Universal. The romantic comedy, about an airline attendant who
                match-makes her passengers, has been praised by Marian Keyes and
                Patricia Scanlan amongst others. Eithne is also the chief arts writer
                for the Sunday Times Ireland, conducting interviews with various
                figures from the world of arts and writing a fortnightly column
                entitled Culture Vulture. She is a regular contributor to RTE Radio&#39;s
                Arena and has previously worked as a presenter with RTE, BBC Northern
                Ireland and TG4. Born in Dublin, she studied journalism at Dublin City
                University and has lived in London, France and America. She is
                currently working on her second novel, which will be published in May
                2018.
            </p>
        </div>
    </div>
</div>