<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Elaine Feeney</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/colm%20williamson.jpg" style="height: 425px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Saturday 21 October 5pm <div class="sub header">Downes Bar Lounge</div> </h3>
            <p>
                Elaine Feeney is an award winning Galway writer. She has published three collections of poetry, Where’s Katie? (Salmon, 2010) The Radio was Gospel (Salmon, 2014) and Rise (Salmon, 2017). Feeney’s work has been translated, anthologized and recently published in, Poetry Review, Stonecutter Journal, Oxford Poetry, The Stinging Fly and The Manchester Review. In 2016 Feeney was commissioned to write the narrative to Wrongheadeda stage and film production by Liz Roche Company, which is on International tour and is shortlisted for the Bucharest International Film Festival, 2017. Feeney, in collaboration with writers Aoibheann McCann and Aoife NicFerghusacompleted a pilot comedy TVseries in 2017, The Fannypackwhich was Highly Commended by BAFTA. She has just finished her first novel SIC[K].
            </p>
            <p><i>'Out of a bog of Dylan, Degas, & Heaney, up from the wizened path of female poeisis that once stretched, miserly, between Dickinson’s solitude and the suicide of Sylvia Plath, rises Elaine Feeney, with poems that tell history like the gossip it really is, giving body to a world of moments that in this late age still struggle to be told. Reading RISE has resurrected my sense of sound, of the dignity of all labor, and the mystic, enervating work of motherhood and girlhood and even rhyme. I’m so grateful for it.'
                - Ariana Reines, New York, 2017</i></p>
        </div>
    </div>
</div>