<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Hazel Gaynor</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br>
            <img class="ui fluid image" src="../../../assets/images/events/writers/Hazel%20Gaynor,%20copyright%20Deasy%20Photographic.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Sunday 21 October 2pm<div class="sub header">The Library</div> </h3>
            <h3 class="ui header">Sunday 21 October 4pm<div class="sub header">Christ Church Cathedral</div> </h3>
            <p>
                Hazel Gaynor is the New York Times and USA Today bestselling author of THE GIRL WHO CAME HOME (for
                which she received the 2015 RNA Historical Novel of the Year award) and A MEMORY OF VIOLETS. Her third
                novel THE GIRL FROM THE SAVOY was an Irish Times and Globe &amp; Mail Canada bestseller, and was
                shortlisted for the 2016 Irish Book Awards Popular Fiction Book of the Year. She is also a contributing author to
                WWI anthology FALL OF POPPIES: Stories of Love and the Great War. Hazel was selected by US Library
                Journal as one of ‘Ten Big Breakout Authors’ for 2015 and was a WHSmith Fresh Talent selection in spring 2015.
                Her work has been translated into a number of foreign languages. As features writer for national Irish writing
                website<a href="https://www.writing.ie/"> writing.ie</a> Hazel has interviewed Philippa Gregory, Sebastian Faulks, John Boyne, Kate Mosse, Cheryl
                Strayed and Jojo Moyes, among others. In 2017, Hazel will release two novels: THE COTTINGLEY SECRET
                (September) and LAST CHRISTMAS IN PARIS (October, co-written with Heather Webb). Hazel lives in Co.
                Kildare with her husband and two children. She is represented by Michelle Brower of Aevitas Creative, New
                York. For more information, visit<a href="https://www.hazelgaynor.com/"> www.hazelgaynor.com</a>
            </p>
        </div>
    </div>
</div>