<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Judi Curtin</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/judi%20curtin.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br>
            <p>
                Judi Curtin was born in London, and educated in Cork. She studied English and German in UCC and then trained as a primary school teacher. She has been writing since 1999, in which time she has published 25 books for adults and children. Her books include the Alice series, The Eva series and the Friends Forever series. Hailed as ‘The Irish Jacqueline Wilson', many of her books have been bestsellers. On two occasions she has been asked to write a special book to mark World Book Day. Her latest book is Stand by Me, in which Molly and Beth go on a fun-filled adventure back to the 1960’s. Judi now lives in Limerick with her family.
            </p>
        </div>
    </div>
</div>