<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Karl Parkinson</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Karl%20Parkinson.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Saturday 21 October 5pm<div class="sub header">Downes Lounge</div> </h3>
            <p>
                Karl Parkinson is a writer from inner-city Dublin. The Blocks his
                début novel was published in 2016 by New Binary Press. In 2013
                Wurmpress published his début poetry collection, Litany of the City
                and Other Poems, and his second poetry collection, Butterflies of a
                Bad Summer, was published by Salmon in 2016. His work has appeared in
                the anthologies, New Planet Cabaret (New Island Press) and If Ever You
                Go: A Map of Dublin in Poetry and Song (Dedalus Press), The Deep
                Hearts core: Irish poets revisit a touchstone poem (Dedalus Press).
                His work has been published in The Irish Times and RTE Culture, and he
                writes a monthly column called The Write Life, for The Dublin
                Inquirer. His work has been published in several journals, including
                The Stinging Fly, The Poetry Bus, Penduline, Colony, Can Can, The
                Pickled Body, The Bohemyth, The Incubator.
            </p>
            <p>
                Karl is one of Ireland’s most acclaimed live literature performers and
                has read by invitation at festivals and events in Ireland, the UK, the
                US and Canada. His work has been broadcast on RTE1’s Arena Arts show
                many times. In 2015, he featured on the Setanta Ireland live TV New
                Year&#39;s Eve show, and in 2016 on RTE Entertainment.
            </p>
        </div>
    </div>
</div>