<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Liz Nugent</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Liz%20Nugent.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Sunday 22 October 4:30pm<div class="sub header">Medieval Museum Garden Room </div> </h3>
            <p>
                Liz Nugent has published two novels with Penguin, Unravelling Oliver, winner
                of the Crime Fiction Award at the 2014 IBA, and Lying in Wait, winner of the
                Ryan Tubridy Listener’s Choice Award at the 2016 IBA. Her work has been sold
                in translation to fourteen countries.
                Liz worked in theatre for many years as a Stage Manager in Ireland and toured
                internationally with Riverdance.
            </p>
            <p>
                Previously, Liz’s writing work was mostly for broadcast. In 2005, she wrote a
                five-part children’s animated TV series The Resistors, broadcast on TG4 and
                commissioned by the Science Foundation of Ireland.
                In 2006 Liz won a writing bursary from the European Alliance for Television &amp;
                Culture (EATC). It was awarded to Liz for her synopsis for new fictional TV series
                Campus.
                Her television play An Coinne, was one of four to win an open competition and
                was broadcast live by TG4 in 2008.
            </p>
            <p>
                In 2009, she wrote a 1 hour radio play called Appearances- first broadcast on
                RTE Radio 1 and chosen to represent Ireland at the prestigious New York
                Festivals.
                She has been a regular contributor to Sunday Miscellany, a radio nostalgia series
                and Fiction Fifteen, short stories for children, both broadcast on RTE Radio 1. Her

                short story Alice was shortlisted for the Francis McManus short story
                competition.
            </p>
        </div>
            <p>
                Between 2003 and 2013, Liz was a full-time Story Associate on TV soap opera
                Fair City.
                Liz was the recipient of the inaugural Jack Harte bursary from the Irish Writer’s
                Centre and the Tyrone Guthrie Centre in 2014.
                In 2016, Liz was writer in residence at the Princess Grace Irish Library in
                Monaco.
                Liz also leads workshops in creative writing and has curated literary events.
            </p>

    </div>
</div>