<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Dave Lordan</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/dave%20lordan.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br>
            <p>
                Dave Lordan is a multi-genre writer, performer, editor, and pathbreaking
                multimedia educator with four acclaimed books & twenty years experience in
                creativity education & cultural programme design. Check out his colourful
                new website at davelordan.com or follow Dave Lordan on YouTube or Facebook.
                Dave has provided workshops for RTÉ, the Irish Film Institute, Dublin City
                Libraries, Ledbury Poetry Festival, Courthouse Arts Centre, The Irish
                Countrywomen’s Association, Youthreach, Youthspeaks, Children’s Books
                Ireland and numerous other schools, institutions and festivals. He teaches
                creative writing  online & at the Big Smoke Writing Factory and he
                occassionally lecturers on the MA in Poetry Studies at the Mater Dei
                Institute and at The American College Dublin.
            </p>
        </div>
    </div>
</div>