<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Francis Brennan</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/francis%20brennan%20headshot%20high%20res.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday 21 October 6pm<div class="sub header">Large Room - City Hall</div> </h3>
            <p>
                Originally hailing from Dublin, Francis Brennan is the co-owner of the five-star Park Hotel Kenmare,
                in Co. Kerry. Together with his brother John he showed hospitality businesses how to thrive as part
                of the RTÉ series ‘At Your Service’, and more recently he has graced our screens on RTÉ’s ‘Francis
                Brennan’s Grand Tour’. He is the bestselling author of It’s the Little Things, Counting My Blessings
                and will release his new book Francis Brennan’s Book of Household Management with Gill Books in
                September 2017.
            </p>
        </div>
    </div>
</div>