<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Newsaggedon<div class="sub header">by Waterford Whispers</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/colm%20williamson.jpg" style="height: 425px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Friday 20th October 8pm <div class="sub header">Downes Bar Lounge</div> </h3>
            <p>
                Newsageddon, the 2017 annual from the leading satirical website Waterford Whispers News, contains everything you need to know about WWN’s scoops

                on Denis O’Brien’s bid for Irish presidency and the news that the Royal family are relocating to Ireland because of Brexit, as well as the latest on the revelation that 2017 was the year inquiries into gardaí outnumbered actual guards.
            </p>
            <p>
                This one off live show will feature a live news bulletin delivered by anchor man Paddy Browne as he dishes out some of the world's top breaking news stories, followed by a live book reading from the authors themselves, before finishing

                with a live Q&A from the audience.
            </p>
            <p>
                <b>Admission : </b> €7 <a href=https://uticket.ie/event/newsageddon"><i class="ticket large black icon"></i></i> </a>
            </p>
            <img class="ui image" src="../../../assets/images/events/writers/logo1.jpg"/>
        </div>
    </div>
</div>