<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Paul Howard</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/paul%20howard.jpg" style="height: 425px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Friday 20 October 9:30pm <div class="sub header">Medieval Museum Garden Room</div> </h3>
            <p>
                Paul Howard is a multi-award- winning journalist, author, playwright and comedy writer.
                He is best known as the creator of Ross O’Carroll-Kelly, a fictional rugby jock whose exploits have been
                the subject of sixteen novels, which have collectively sold more than one million copies in Ireland alone.
                He is a four-time Irish Book Award winner, collecting the Best Popular Fiction prize for ‘Should Have Got
                Off at Sydney Parade’ in 2007, ‘The Oh My God Delusion’ in 2010, and ‘Downturn Abbey’ in 2013. The
                seventeenth book in the series, ‘Operation Trumpsformation’, will be published in September 2017 by
                Penguin Ireland.
            </p>
            <p>
                He is also the author of three hugely successful Ross O’Carroll-Kelly plays, including ‘The Last Days of the
                Celtic Tiger’ in 2007, ‘Between Foxrock and a Hard Place’ in 2010 and ‘Breaking Dad’ in 2014, all of which
                enjoyed long sell-out runs and remounts in Dublin, Cork and Limerick. 
                In 2012, he wrote the script and the song lyrics for ‘Anglo the Musical’, a hugely successful Avenue Q-
                style, puppet-based, comedy musical about the collapse of Ireland’s banks. His satirical football memoir,
                ‘Triggs – The Autobiography of Roy Keane’s Dog’, was a number one bestseller in 2012 and was
                shortlisted for an Irish Book Award.
            </p>
            <p>
                He has been described by the Irish Times as “Ireland’s pre-eminent satirist” and by the Irish Independent
                as “one of the world’s funniest writers”. In 2013, he was named Columnist of the Year for his weekly
                satirical column in the Irish Times.
            </p>
        </div>
        <p>He has written comedy for radio and television and was one of the main sketch writers on the twice IFTA-
            nominated satirical TV show ‘Irish Pictorial Weekly’, in which he also appeared as David Drumm and Peter
            Darragh Quinn. He has also written sketches for ‘The Mario Rosenstock Show’.
            In 2014, he was commissioned by US network E! to write a pilot for a sitcom he devised called ‘The
            Cliterati’.
        </p>
        <p>
            Before he embarked on a career as a comedy writer, he was one of Ireland’s most respected sports
            journalists, working mostly for The Sunday Tribune, covering World Cups, Olympic Games and numerous
            other major sporting events. He was named Irish Sports Journalist of the Year in the 1998 for an
            investigation into eating disorders among Irish athletes and an interview with the disgraced former
            sprinter, Ben Johnson. He was also shortlisted for the award in 2002, 2003, and 2004.
        </p>
        <p>
            Additionally, he is the author of several best-selling non-fiction books, including The Joy (the true story of
            an inmate’s life in Dublin’s Mountjoy Prison), The Gaffers (an account of the fractious relationship between
            Roy Keane and Mick McCarthy) and Hostage (a book about the IRA kidnappings in the 1970s and 1980s).
            He also ghostwrote the autobiographies of boxer Steve Collins (Celtic Warrior) and broadcaster George
            Hook (Time Added On).
        </p>
        <p>
            In October 2016, his biography of Tara Browne, the Irish-born Guinness heir immortalised in The Beatles’
            song ‘A Day in the Life’, was published by Picador. It won the Best Non-Fiction award at the 2016 Irish
            Book Awards.
            He has recently completed work on a play for The Abbey, Ireland’s national theatre.
        </p>
    </div>
</div>