<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Stefanie Preissnerr</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/stefanie%20preissner.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br>
            <p>
                Stefanie Preissner, Munich-born but Mallow-raised is the creator of hit comedy-drama series Can’t Cope, Won’t Cope – the show was originally commissioned by RTÉ and has since broadcast on BBC Three. Season 2 will go into production in November in Vancouver and

                Dublin. She has also produced a series of short documentaries, How To Adult, with RTÉ Player. Her one-woman theatre show, Solpadeine Is My Boyfriend, enjoyed sell-out runs in Dublin before touring internationally to Bucharest, Edinburgh and Australia, and – as a radio play – it became RTÉ’s most downloaded podcast.            </p>
            <p>
                Stefanie graduated from University College Cork with a BA in Drama and Theatre Studies and Spanish. Alongside her career as a screenwriter and playwright, she has won several awards as an actor. She is a regular contributor to Ireland’s Sunday Independent newspaper and her voice is well-recognised from her prolific voiceover career.
            </p>
            <p>
                She is currently working on a screenplay for Parallel Films and developing a TV pilot with Channel 4.
            </p>
            <p>
                Why Can’t Everything Just Stay the Same? is her first book, out in October.
            </p>
        </div>
    </div>
</div>