<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Rob Doyle </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Rob%20Doyle%20B&W-9492.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday 22 October 12noon<div class="sub header"> Medieval Museum Garden Room</div> </h3>
            <p>
                Rob Doyle’s widely acclaimed first novel, Here Are the Young Men, was selected as one of
                Hot Press magazine’s &#39;20 Greatest Irish Novels from 1916-2016&#39;. His second book, This Is
                the Ritual (Bloomsbury) was a book of the year in the New Statesman, Irish Times and
                Sunday Times. The Sunday Independent called it ‘a masterstroke in experimental short
                fiction brimming with ideas, vulgarity and intelligence.’ Doyle’s writing has been published
                widely, in the Guardian, Vice, BBC World Service, Observer, Dublin Review, Irish Times
                and elsewhere. He is the editor of the Dalkey Archive’s anthology of Irish Literature to be
                published later this year.
            </p>
        </div>
    </div>
</div>