<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Mark Roper</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/mark.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br>
            <p>
                Mark Roper's new poetry collection Bindweed will be published by Dedalus for this Imagine launch date. Mark’s last poetry collection, A Gather of Shadow, Dedalus 2012, was shortlisted for The Irish Times Poetry Now Award in 2013 and won the Michael Hartnett Award in 2014. He has collaborated on 2 publications with photographer Paddy Dwan. The pair are currently at work on a book about the Comeragh Mountains, to be published Autumn 2018. He has also written librettos for 2 operas by Eric Sweeney. An experienced Creative Writing teacher, he has run courses and workshops in a wide variety of settin
            </p>
        </div>
    </div>
</div>