<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Sally Rooney </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Conversations%20with%20Friends%20TPB%20-%20Faber-SR-23.jpg" style="height: 450px" >
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Sunday 22 October 2pm<div class="sub header">Medieval Museum, Garden Room</div></h3>
            <p>
                Sally Rooney was born in 1991 in the West of Ireland, and
                lives in Dublin. She graduated from an MA at Trinity
                College and was ranked the number one competitive
                debater at the European Universities Debating
                Championships in 2013. Her work has appeared in Granta,
                The White Review, The Dublin Review, The Stinging Fly,
                Kevin Barry’s Stonecutter and The Winter Pages anthology.
                Follow her at @sallyrooney.
            </p>
            <p>
                Sally Rooney’s ‘Mr Salary’ has been longlisted
                for the Sunday Times EFG Short Story Award.
                Shortlist announced 19 th March 2017.
            </p>
            <p>
                ‘Sally Rooney is a writer going all the way to the top. Conversations with
                Friends features the 21st century, Irish descendants of Salinger&#39;s guileless
                wiseasses brought to life in prose as taut and coolly poised as early Bret
                Easton Ellis.’<i>
                Colin Barrett, author of Young Skins</i>
            </p>
        </div>
    </div>
</div>