<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Sam Blake </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br/>
            <img class="ui fluid image" src="../../../assets/images/events/writers/samblake%20landscape.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Saturday 21 October 7:30pm<div class="sub header">Large Room City Hall</div> </h3>
            <p>
                Sam Blake is a pseudonym for Vanessa Fox O&#39;Loughlin, the founder of The Inkwell Group publishing
                consultancy and the national writing resources website Writing.ie. Her debut novel, Little Bones, the
                first in the Cat Connolly trilogy spent eight weeks in the Irish top 10, with four weeks in the Number 1
                slot. In Deep Water is out now, with No Turning Backcoming Spring 2018.
            </p>
            <p>
                Sam Blake is the pseudonym of Vanessa Fox O’Loughlin who, the founder of The Inkwell Group publishing
                consultancy and the writing resources website Writing.ie. She is Ireland’s leading literary scout who has
                assisted many award winning and best selling authors to publication. Vanessa conceived and developed
                the National Emerging Writer Programme for Dublin City of Literature, and was the lead consultant and
                presenter for  WritersWebTV bringing free, live, online workshops to writers worldwide. Vanessa is the
                Chair of Irish PEN and the Irish and Eurozone Adviser to the international organisation The Alliance of
                Independent Authors. Listen out for her on Sunshine 106.8fm’s Saturday Morning Show.
            </p>
            <p>Vanessa has been writing fiction since her husband set sail across the Atlantic for eight weeks and she had
                an idea for a book. She is represented by Simon Trewin at WME. The first of her Cat Connolly thriller
                trilogy Little Bones was published in May 2016 and hit the bestseller list,  spending 8 weeks in the Top 10
                with 4 weeks at No. 1. In Deep Water, book 2 of the trilogy was released in April 2017, hitting the bestseller
                list again, and book 3 No Turning Back is due out April 2018.</p>
        </div>
    </div>
</div>