<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Spokes Samhain Imagine poetry night</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Andrej_Kapor.jpg" style="height: 350px" >
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday 28th October, 8pm<div class="sub header">upstairs Phil Grimes pub</div></h3>
            <p>
                Featuring very special Imagine guest, Dublin spoken word artist Andrej Kapor Open mic - spoken word, poetry, rap. All welcome.            </p>
            <p>
                Andrej Kapor is currently artist–in–residence at La Catedral Studios, an independently led art studio in Dublin. He is also signed with independent U.S. record label & publisher Citizen Soldier Entertainment, which he joined in 2013. He runs the LOQ showcase of poetry & hip–hop, as well as the Dublin branch of The Poetry Brothel. He has previously worked as a contributing editor to The Bogman’s Cannon and a facilitator at Exchange Dublin, a co–operative arts space.            </p>
            <p>
                <b>Admission : </b> €5 on the door
            </p>
        </div>
    </div>
</div>