<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Sinead Crowley</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Sinead%20Crowley.jpg" style="height: 300px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday 21 October 6pm & 7:30pm<div class="sub header">Large Room City Hall</div> </h3>
            <p>
                Journalist by day, crime writer by night, Sinéad Crowley is arts and
                media correspondent with RTE News, and the author of the DS Claire
                Boyle series, crime fiction set in Ireland. The first two books in the
                series, &#39;Can Anybody Help Me?&#39; and &#39;Are You Watching Me?&#39; were
                shortlisted for Crime Book of the Year awards at the BGE Irish book
                awards and the third, &#39;One Bad Turn&#39; is released this June.
            </p>
            <p>
                Sinéad was also a contributor to &#39;Trouble is our Business&#39;, a
                collection of new Irish crime writing published by New Island in 2016
            </p>
        </div>
    </div>
</div>