<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Sinead Gleeson</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Sinead%20Gleeson.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday 22 October 12noon and 4pm<div class="sub header">Medieval Museum Garden Room</div> </h3>

            <p>
                Sinéad Gleeson’s essays have appeared in Granta, Winter Papers, Gorse,
                Banshee and Elsewhere Journal. Her short story ‘Counting Bridges’ was
                longlisted at the 2016 Irish Book Awards and in 2017 an essay, ‘Where
                Does it Hurt’? was longlisted for The Lifted Brow Experimental
                Non-Fiction prize. A poem, ‘At Killough Lighthouse’, was featured in
                the anthology, Washing Windows? Irish Women Write Poetry. She is the
                editor of three short anthologies, including the award-winning
                collections, The Long Gaze Back: an Anthology of Irish Women Writers
                (2015) and The Glass Shore: Short Stories by Women Writers from the
                North of Ireland (2016).  She has just finished working on a
                collection of essays, and is also collaborating with the writer
                Doireann Ní Ghríofa on an abecedarium of prose and poetry themed
                around the body. She presents The Book Show on RTE Radio 1.
            </p>

        </div>
    </div>
</div>