<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">They Think It's All Over<div class="sub header">A play by Noel Kelly adapted for radio</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/writers/Rebellion%20at%20Mount%20Sion%20Pic%20(1).jpg" style="height: 350px">
        </div>
        <div class="ui column">

            <h3 class="ui header">Sunday 22 October 7pm<div class="sub header">WLRfm</div> </h3>
            <p>
                They Think It’s All Over’ is a Radio Drama featuring three characters. Set in
                Waterford city in the Spring and Summer of 1966, as Waterford FC win their first
                League of Ireland championship, the State celebrates the 50 th Anniversary of the
                1916 Rising and the 1966 World Cup Finals begin in Wembley. The play features the
                dilemma faced by the protagonist, Leaving Cert student and schoolboy Soccer star,
                James Ryan when he is chosen to play the role of Patrick Pearse in Bro. Dorgan’s
                school Pageant at the same time as an unofficial school Soccer team reaches the All-
                Ireland finals. When the team is prevented by Bro. Dorgan from progressing to the
                national Finals, because it doesn’t concur with the school’s Gaelic ethos, conflict is
                inevitable. James confronts his dilemma and highlights the injustice by hijacking the
                Pageant and then leading a school Strike. Notwithstanding the support and pleading
                of Ma, his mother, the price he pays is expulsion and emigration but the prize he
                gains is intellectual maturity and independence.
            </p>
            <p>
                Featuring Jamie Flynn and Lorraine Murphy
                Directed and Written by Noel Kelly, Executive Producer Michael Grant,
                Sound Engineer David Hayes, Recorded in Paul Grant studio Hillview Waterford
                Supported by BAI and WLR FM.
            </p>

        </div>
    </div>
</div>