<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Tramp Press</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">

            <img class="ui fluid image" src="../../../assets/images/events/writers/Lisa%20Coen%20(left)%20and%20Sarah%20Davis-Goff.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Sunday 22 October 1pm<div class="sub header"> The Parlour Vintage Tea Rooms</div> </h3>
            <p>
                <b>Tramp Press</b> is an independent publisher of fiction established in 2014 to discover and develop excellent
                new and established writing. Tramp is the publisher behind award-winning titles like Mike McCormack’s
                Man Booker-nominated Solar Bones, Sara Baume’s Spill Simmer Falter Wither and most recently
                Arja Kajermo’s The Iron Age <a href="http://www.tramppress.com/"> www.tramppress.com.</a>
            </p>
            <p>
                <b>Sarah Davis-Goff</b> co-founded Tramp Press with Lisa Coen in 2014. An award-winning Irish
                publisher dedicated to finding and rediscovering exceptional fiction, Tramp has published Mike
                McCormack’s Man Booker-nominated Solar Bones, Sara Baume’s Spill Simmer Falter Wither
                and most recently Arja Kajermo’s The Iron Age. Sarah has written about publishing for the Irish
                Times, the Guardian, LitHub and elsewhere. She lives in Dublin.
            </p>
            <p>
                <b>Lisa Coen</b> is originally from Mayo. She and Sarah Davis-Goff are co-founders of Tramp Press, an award-
                winning Irish publisher dedicated to finding and rediscovering exceptional fiction. Tramp has published
                Mike McCormack&#39;s Man Booker-nominated Solar Bones, Sara Baume&#39;s Spill Simmer Falter Wither and
                most recently Arja Kajermo&#39;s The Iron Age.
            </p>
        </div>
    </div>
</div>