<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Drifting Cites<div class="sub header">Micheal Higgins</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/film/Michael%20Higgins%20Drifting%20Cities%20.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
<br/>
            <h3 class="ui header">Monday October 23rd and Friday October 27th, 5:30pm<div class="sub header">3/4 Georges Street</div> </h3>
            <p>
                Two actors play two lovers before meeting death in a car crash. They drift through muddled memories and
                moments in search of one another
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>