<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">In Your Dreams, Boy<div class="sub header">Presented by the brothers of charity services and Waterford Youth Arts</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/film/right%20on%20blues%20bros%20copy.jpg" style="height: 375px;">
        </div>
        <div class="ui column">

            <h3 class="ui header">Monday October 23rd, 6:30pm<div class="sub header">Omniplex</div> </h3>
            <p>
                Bobby’s got himself a hot date. Now he needs a wing-man, and he knows just how to wangle one. The
                trouble is, big brother Luke doesn’t think Bobby is ready for the big, bad world of heartbreak.
            </p>
            <p>
                Sometimes love can all be just a matter of perspective.
            </p>
            <p>
                A comic look at the perils of dating with and without an intellectual disability. (Duration: 17 min.)
                Dir.: Donal Gallagher, D.O.P.: John Loftus, Producer:  Éadaoin Walsh, Writer: James Rockett
            </p>
            <p>
                Followed by Dream Makers: a documentary by Fionn Murphy on the making of In Your Dreams, Boy 
                (Duration: 20 minutes)
            </p>
            <p>
                this film was made for Brothers of Charity Services Waterford by Waterford Youth Arts Film Productions, tickets Free from both BOC and WYA
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>