<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">We Invented Halloween<div class="sub header"> Micheal Fortune</div></h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br/><br/>
            <img class="ui fluid image" src="../../../assets/images/events/film/IMG_1020.JPEG" style="height: 375px;">
        </div>
        <div class="ui column">

            <h3 class="ui header">Monday October 23rd, 7:30pm<div class="sub header">Site Specific</div> </h3>
            <p>
                We Invented Halloween is the title of a series of films
                recorded over the years on Halloween night in the
                Michel Fortune’s family home.
            </p>
            <p>
                The ancient Irish traditional of Hallowe’en, which was
                subsequently brought to the US and Canada by Irish
                emigrants, has been practiced in this part of Wexford
                for centuries. Disguise and role play are two of the
                main underlying themes in this ancient practice, where
                it is believed the living dressed up as the dead in a bit
                to fool the evils spirts that roamed the earth during this
                liminal time of year.
            </p>
            <p>
                For decades a central activity of the Hallowe’en night
                involved the Michael’s mother dressing up in an
                improvised manner with anything that will disguise her
                identity, and calling to his granny’s house, which is
                next door. Visiting the family home in 2005, Michael
                observed the tradtion was still continuing, so he
                decided to record this practice and as a result has
                created a wonderfully honest and contemporary take
                on this ancient practice.
            </p>
            <p>
                This short compilation features snippets from each
                Halloween year and calling to his grandmother who
                has since passed away. In the complete series awe
                observe his mother getting dressed, with the aid of his
                sisters, who dress and undress her with layers of
                coats, socks, tights and plastic masks. The work,
                which involves long, hand-held takes, follows her along
                the road and into his grandmothers house. In the
                recordings, his grandmother ignores the camera and
                welcomes his mother. Each of the films finishes when
                his mother leaves the house, delighted that she has
                fooled his granny once again. By revisiting this annual
                practice the viewer is offered an insight into the
                immediate environment of family life, human
                relationships and a contemporary/ancient ritual.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>