<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">JAWS</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/film/Jaws.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday October 22th, 7pm<div class="sub header">Spirit Spa & Leisure Centre</div> </h3>
            <p>
                The iconic movie JAWS will be screened in the Spirit Spa & Leisure Centre with the audience invited to watch from
                the swimming pool, which will be complete with props and some very special surprises.
            </p>
            <p>
                We are going to need a bigger boat
            </p>
            <p>
                <b>Admission : </b> €10
            </p>
        </div>
    </div>
</div>