<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Sanctuary</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/film/Sanctuary.png" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Tuesday October 24th, 8pm<div class="sub header">Garter Lane</div> </h3>
            <p>
                Larry, has Downs, Sophie, has severe epilepsy. The two are attracted
                to each other and, through a care worker Tom (played by Waterford’s Robert Doherty), they sneak away to a
                hotel room during a supervised trip to the cinema. What do they do
                once they are there? How do they express a love that dare not speak
                it’s name? Are they aware that in Ireland they are about to break the
                law?
            </p>
            <p>
                While these questions are posed the rest of their colleagues seek out
                their own challenges: An impromptu shopping trip, pints in the pub,
                and a surreptitious cuddle in front of a movie screen. Dave Allen once
                said “The secret of comedy is small victories”, and these mini
                triumphs offset the dramatic challenges that take place in a Galway
                hotel room between two lovers who refuse to be defined by their
                disabilities.
            </p>
            <p>
                <b>Admission : </b> €7:50/€6 Conc. Or €9 on the door <a href="http://www.garterlane.ie/"><i class="ticket large black icon"></i>garterlane.ie</a>
            </p>
        </div>
    </div>
</div>