<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Bill Ryder Jones</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/bill%20ryder%20jones%204.jpg">
        </div>
        <div class="ui column">
            <h3 class="ui header">Saturday October 28th<div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                Bill Ryder Jones was a founder member of and lead guitarist with legendary indie band The Coral,
                playing on their first six albums. He then embarked on a solo career, releasing three albums on Domino
                Records to date,. as well as releasing a joint album, Bird Dog Tapes Vol.1 with The Lost Brothers. Bill
                has also toured as guitarist with Artic Monkeys and Mumford & Sons in addition to recording with
                Graham Coxon and producing Wytches and The Lost Brothers.
            </p>
            <p>
                Bill's latest, the highly acclaimed 'West Kirby County Primary', with hints of Pavement and Johnny Marr,
                and songs which, according to NPR, 'sway with a light touch, with melodies that even feel lived in and
                singable on first listen' is classic lo-fi indie. As a live performer The Guardian described him as 'a
                magical, colossal talent' Bill's new album is due for release in 2018.</p>
            <p>
                Bill Ryder Jones & Band play St. Patrick's Gateway Centre Saturday October 28th. with his new album
                due in 2018
            </p>
            <p>
                <b>Admission : </b>€17.50
            </p>

        </div>
    </div>
</div>