<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">City of Dublin Orchestra</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/City%20of%20Dublin%20Chamber%20Orchestra.jpg">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Saturday October 28th <div class="sub header">Christ Church Cathedral</div> </h3>
            <p>
                Since 2014, the orchestra has performed to great acclaim under the baton of its artistic
                director Gavin Maloney. The orchestra performs several concerts annually and has
                collaborated both nationally and internationally with many distinguished soloists.
            </p>
            <p>
                <b>Ticket Prices:</b>
                 €20, €18 (conc) from Garter Lane Box Office. Ph: 051-855038, <a href="https://www.garterlane.ie"><i class="ticket large black icon"></i>www.garterlane.ie</a>
            </p>
        </div>
    </div>
</div>