<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Waterford Music presents : Billy O’Brien &amp; Daniel Kearney</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Billy%20and%20Daniel.jpg" >
        </div>
        <div class="ui column">

            <h3 class="ui header">Thursday October 26th, 7:30pm <div class="sub header">Large Room, City Hall</div> </h3>
            <p>
                Waterford Music’s concert in the superb surroundings of the Large Room in City Hall features not just one but two
                up-coming Waterford-born pianists, Billy O’Brien from Butlerstown, Waterford city, and Daniel Kearney from
                Dungarvan.
            </p>
            <p>
                Billy studied at the Royal Irish Academy of Music under Therese Fahy, and subsequently in Paris under the renowned
                Russian teacher Rena Shereshevskaya. Billy’s debut as a soloist with the RTE Concert Orchestra in August 2016 was
                broadcast on Lyric FM.p>
            <p>
                Daniel has studied with Jan Cap in Cork and currently with Finghin Collins; multi-prizewinner, including in the Cross
                Border Orchestra of Ireland’s Soloist competition and the William Finlay Award for gifted young pianists.
            </p>
            <p>
                They will each play a Bach Partita; then Billy plays a Chopin Mazurka and a Sonata by Janáček. Daniel plays Poulenc,
                Rachmaninov and Kapustin, and for their finale they play together Debussy’s Petite Suite.
            </p>
            <p>
                <b>Tickets:</b>
                available on the door : €15 (Student €5) and includes interval soft drink <a href="http://www.waterford-music.org/">www.waterford-music.org</a>
            </p>
        </div>
    </div>
</div>