<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Dr Mindflip</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Dr%20Mindflip.jpg">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Friday October 20th, 10pm <div class="sub header">The Rogue Gallery</div> </h3>
            <p>
                Punk Freud? Brian Wilson meets Beefheart? However you describe it, the playful psychosis of a Dr.
                Mindflip show is a trip like no other - an assault on the senses courtesy of a mad musical scientist and his
                masked minions.
            </p>
            <p>
                Dr. Mindflip delivers a hefty dose of what Synthesis Magazine called “avant-pop…with teeth” – a masked, mysterious 5-piece oozing out chamber pop with a dark, jazzy edge.
            </p>
            <p>
                <b>Ticket Prices:</b>
                €10
            </p>
            <a href="https://www.youtube.com/watch?v=p26Vb5OyCVY"><i class="huge black youtube square icon"></i></a>
        </div>
    </div>
</div>