<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">GreenShine</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Greenshine.jpg">
        </div>
        <div class="ui column">
            <h3 class="ui header">Sunday October 29th, 10pm <div class="sub header">The Victoria House, Tramore</div> </h3>
            <p>
                Noel Shine &amp; Mary Greene have long been an important element of the folk and Americana scene in
                Ireland and figure Christy Moore and Sharon Shannon amongst their legion of fans.Their material
                straddles the boundaries of contemporary, folk &amp; roots &amp; includes many self-penned songs.Their
                fast picking and close harmonies are a treat to the ear.
            </p>
            <p>
                Noel is a multi-instrumentalist, turning his
                hand to guitar, bass, mandolin, bouzouki &amp; whistle &amp; his musical dexterity had seen him much in
                demand as a session &amp; band player by artists as diverse as funk and soul legends The Republic of
                Loose &amp; The Clancy Brothers and Tommy Makem amongst many others.            </p>
            <p>
                Mary brings rhythm guitar
                to the mix and her voice is a wonderfully versatile instrument. She has added her voice to the
                albums of Christy Moore, John Spillane, Mick Hanly &amp; Frances Black as well as cult psychedelic outfit
                Dr. Strangely Strange.
            </p>
            <p>
                RTE&#39;s
                Aonghus McAnally described it as &#39;The most creative thing to come out of Ireland in quite a while.&#39;
                Similar praise was heaped upon their follow up singles Shadowland &amp; City of Dreams all three songs
                ensuring they are seldom absent for long from radio playlists.
            </p>
        </div>
    </div>
</div>