<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Hedge Schools</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/hedge_schools.jpg" style="height: 250px" >
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday October 29th, 8pm <div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                Hedge Schools - Patrick Barrett and Joe Chester - are in the midst of recording their third album. The
                follow up to their critically acclaimed 'At The End of a Winding Day' is due for release in early 2018.
                Here's a rare opportunity to hear their new material before it's release.
            </p>
        </div>
    </div>
</div>