<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Joey Wright & Band</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/JOEY_1.jpg">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Friday October 20th, 9pm <div class="sub header">Phil Grimes Pub</div> </h3>
            <p>
                Canadian, Joey Wright is a Juno Award winning songwriter, singer and multi instrumentalist. He has
                previously performed in Waterford alongside David Corley. He returns with an acclaimed new album,
                Country, Music, and a stellar band featuring Jenny Whitely alongside Pat McGee and Evan Cranley from
                Montreal indie-rockers, Stars.With echoes of Elvis Costello, Paul McCartney and Nashville Skyline era
                Dylan, Wright's music has been described as “...subtly sweet melodies and the stellar instrumental...
                dreamy, psychedelic folk vibe.” by Canadian music magazine, Exclaim.
            </p>
            <p>
                <b>Admission :</b> €12
            </p>
            <p>
                <b>Tickets </b> can be booked at 051 875759 or visiting the link <a href="https://uticket.ie/event/joey-wright"><i class="ticket large black icon"></i></i> </a>
            </p>
            <p>
                This gig is sponsored by Subterranean Sounds
            </p>
            <a href="https://www.facebook.com/Subterranean-Sounds-611306929023576/"><i class="huge black facebook square icon"></i></a>
        </div>
    </div>
</div>