<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Kila</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Kila.jpg" >
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">SATURDAY 21 OCTOBER, 8pm <div class="sub header">The Apple Market</div> </h3>
            <p>
                Hailed as one of Ireland’s most innovative and exciting bands, Kila’s eight members, come from different musical backgrounds and share a passion for creating great music with an ability to absorb influences from across the globe. Kíla’s music, with its roots in traditional Irish, features a strong percussive like singing and gorgeous melodies driven by a serious rhythmical undercurrent. Kíla have created their own distinctive style of world music, which has won over audiences around the world through their nine recordings to date and their spectacular live performances.
            </p>
            <p>
                <b>Admission :</b> Free Event
            </p>
        </div>
    </div>
</div>