<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Martin Stephenson<div class="sub header">Special Guest Cormac O'Caoimh</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/martin%20stephenson%202.jpg" style="height: 400px">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Friday October 27th, 8pm <div class="sub header">St. Patrick's Gateway Center</div> </h3>
            <p>
                Martin Stephenson and the Daintees will be playing their landmark album Boat To
                Bolivia in its entirety to celebrate 30 years after its debut.
                It is an album that has, if anything, become even dearer to the hearts of those who first
                fell in love with it back in the day.
            </p>
            <p>
                Always popular, Stephenson’s “must see” live performances are an exuberant tour-de-
                force combining heart-in-your-mouth intimacy with playful humour and warm self-
                deprecation. If you are new to this album or simply wish to remind yourself what a very
                special record this was and still is, then get yourself along to see Martin, John Steel
                (guitar), Chris Mordey (bass) and Kate Stephenson (drums).
            </p>
            <p>
                Martin Stephenson and The Daintees play St. Patrick's Gateway Centre Friday October
                27th.
            </p>
            <p>
                <b>Admission :</b> €17.50 <a href="https://uticket.ie/event/martin-stephenson"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>