<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Imagine Music Trail <div class="sub header">IN ASSOCIATION WITH LABYRINTH MGMT</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Oatsie%20Jones.jpg" style="height: 350px;">
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/The%20Silk%20Road.jpg" style="height: 350px;">

        </div>
    </div>
    <div class="ui vertical stripe center aligned segment" id="home">
        <div class="ui text container">
            <p><b>SATURDAY 21 OCTOBER</b></p>
            <p>5PM OATSIE JONES | PHIL GRIMES BAR</p>
            <p>6PM BIG BANG | REVOLUTION</p>
            <p>7PM CENTRAL HALL | KAZBAR</p>
            <p>8PM KÍLA | THE APPLE MARKET</p>
            <p>10PM THE SILK ROAD | SHORTTS</p>
        </div>
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Big%20Bang.jpg" style="height: 350px;">
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Central%20Hall.jpg" style="height: 350px;">

        </div>
    </div>
</div>