<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Oisin Leech <div class="sub header">Supporting act to Bill Ryder Jones</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/oisin%20leech.jpg" style="height: 300px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 28th<div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                Oisin Leech is best known as one half of The Lost Brothers who have released four acclaimed albums since 2007.
                Outside of Lost Brothers he has collaborated with the likes of Steve Wickham, Peter Fallon, The Specials and
                Arctic Monkeys and has recently been commissioned to celebrate the life of Meath poet Francis Ledwidge in song.
                Lost Brothers' 5th album will be released in 2018 and was recorded with Giant Sand in Arizona. Tonight Oisin will
                sing a range of songs new and old.
            </p>

        </div>
    </div>
</div>