<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Propeller Palms & Back Road Smokers Club</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Propeller%20Palms%20-%20052.jpg">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Saturday October 21st, 8pm <div class="sub header">Theatre Royal</div> </h3>
            <p>
                Last November Propeller Palms released their second album, Old Dogs, New Tricks in the wonderful
                setting of the Theatre to a packed house and raucous encores. They are back to do it again with very
                special guests, the Back Road Smokers Club and SON aka Susan O&#39;Neill which will make this event even
                more special.
            </p>
            <p>
                The Palms have lifted three singles from the album, you will never know, Right around now and current
                release, without a Care in the World, which combined, have over forty five thousand views on their
                Facebook page. Coverage from local and National airwaves have helped to establish the band as one of
                Ireland&#39;s Ones to Watch.
            </p>
            <p>
                This is a Waterford special night, Blue and White all the way, not to be missed is the word on the Street so
                dress up and support local, organic, original music!
            </p>
        </div>
    </div>
</div>