<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Shaun Walsh</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Shaun%20Walsh%20Classical%20Guitar.jpg" style="height: 400px">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Friday October 27th, 1:15pm <div class="sub header">Garter Lane</div> </h3>
            <p>
                Classical guitarist Shaun Walsh presents an intimate programme of the some of the masterworks of the classical
                guitar repertoire and some lesser known but equally beautiful and mesmerising music. The recital will span the
                breadth of breezy contemporary Southern Californian compositions, passionate South American staples,
                Baroque and Romantic European works, along with a Middle Eastern inspired opus.
            </p>
            <p>
                Shaun Walsh is Waterford-based classical guitarist who has been performing throughout the region for the past
                15 years.
            </p>
        </div>
    </div>
</div>