<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">The Bonk</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/music/Fixity.jpg" >
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Saturday October 28th, 10pm <div class="sub header">The Rouge</div> </h3>
            <p>
                The Bonk is a project based around compositions by Philip Christie (O Emperor). Gathering
                influences from 60’s garage, jazz and experimental pop, recursive rhythms and improvised
                melodies are brought together in loose minimalist song forms.
            </p>
            <p>
                Their debut album, The Bonk Seems To Be A Verb will be available as a limited edition cassette
                release on thirtythree-45 from October 6th 2017.
            </p>
            <p>
                <b>Admission :</b> €10 <a href="https://uticket.ie/event/the-bonk"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>