<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Yorkston Thorne Khan<div class="sub header">Special Guest Patrick M. Barret of Hedge Schools</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br/>
            <img class="ui fluid image" src="../../../assets/images/events/music/ytk.jpg" >
        </div>
        <div class="ui column">

            <h3 class="ui header">Sunday October 29th, 8pm <div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                James Yorkston,Jon Thorne and Suhail Khan together combine their singular talents
                to create a confluence of currents, among them the north Indian sarangi; jazz-tinged
                bass, reminiscent in places of Danny Thompson; acoustic guitar that owes a debt to
                Dick Gaughan and Mississippi John Hurt; and three very different vocalists - James
                Yorkston (East Neuk of Fife), Jon Thorne (Isle of Wight) and Suhail Yusuf Khan (New
                Delhi).
            </p>
            <p>
                Two critically acclaimed albums in as many years, incredible performances at Green
                Man, Celtic Connections, Edinburgh and Glastonbury Festivals, and tours in India,
                Spain and Ireland have brought increased confidence and more fluid interplay
                between Yorkston, Thorne and Khan.
            </p>
            <p>
                As Jon Thorne says: "I think YTK is a fine example of how music operates without
                boundaries as a common international language and a source of cross-cultural unity.
                It’s an important message in the times that we live in."
            </p>
            <p>
                Yorkston Thorne Khan play St. Patrick's Gateway Centre, Sunday October 29th.
            </p>
            <p>
                <b>Admission : </b> €17.50 <a href="https://uticket.ie/event/yorkston-thorne-khan"><i class="ticket large black icon"></i></a>
            </p>
        </div>
    </div>
</div>