<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="style.css">
    <title>Imagine Festival</title>
</head>
<body>

<%- partial("includes/_header.ejs") %>

<div class="landing-head"></div>

<div class="ui container">
    <br>
    <h1 class="ui dividing header">
        Contact Us
    </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="assets/images/events/art/art1.jpg">
        </div>
        <div class="ui column">
            <form class="ui form">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <label>Subject</label>
                    <input type="text" name="subject" placeholder="Subject">
                </div>
                <div class="field">
                    <label>Content</label>
                    <textarea rows="2"></textarea>
                </div>
                <button class="ui fluid button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="ui horizontal divider">
    Alternatively
</div>
<%- partial("includes/_contact.ejs")%>
<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>