body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #ffffff ;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .landing-head, .visual-art-head, .performance-head, .music-head , .trad-head ,.writer-head, .date-head{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('assets/images/imagine-cover.jpeg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("assets/images/parallax1.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("assets/images/parallax2.jpg");
    min-height: 400px;
}

.bgimg-4{
    background-image: url("assets/images/parallax3.jpg");
    min-height: 400px;
}

.landing-head{
    background-image: url("assets/images/back-head.jpeg");
    min-height: 75%;
}

.visual-art-head{
    background-image: url("assets/images/visual-landing.jpeg");
    min-height: 75%;
}

.performance-head{
    background-image: url("assets/images/perfor-landing.jpg");
    min-height: 75%;
}

.music-head{
    background-image: url("assets/images/music-landing.jpeg");
    min-height: 75%;
}

.trad-head{
    background-image: url("assets/images/trad-landing.jpeg");
    min-height: 75%;
}

.writer-head{
    background-image: url("assets/images/writer-landing.jpg");
    min-height: 75%;
}

.date-head{
    background-image: url("assets/images/date-landing.jpg");
    min-height: 75%;
}

.team-header{
    font-weight: bold;
    font-size: 1.55em;
    margin-top: 7px;
    padding-top: 5px;
    line-height: .5;
    color: #0f0f10;
}

.team-pos{
    font-size: 1em;
    border-bottom: solid 1px #8c8b8b;
}

.center-button{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 95%;
    left: 52%;
    margin-left: -48px;
    margin-top: -25px;
}

.center-lineup{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 40%;
    margin-left: -50px;
    margin-top: -25px;
}

.center-header {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}​


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
