<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Booze, Blass and Banter</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/history/Booze,%20Blaa's%20n%20Banter.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 28th, 9am<div class="sub header">Jordans Bar</div> </h3>
            <p>
                Booze, Blaa&#39;s n Banter, the annual early morning hooley, will again be presented by the Waterford
                Council of Trade Unions and the Imagine Festival at Jordan&#39;s American Bar on Waterford&#39;s Quays,
                on Saturday October 28th. The event starts at 9am and it will kick off the festival&#39;s history day.
            </p>
            <p>
                The morning is a magical miscellany of ten minute local history talks with musical
                interludes of song, comedy and the spoken word, accompanied with complimentary blaas and
                filings. This year some of the speakers include:  Liam Cahill speaking on Irish Soviets incl.
                Waterfords Gasworks in 1923 / Elaine Power on the sinking of the &#39;Alfred D Snow&#39; in 1888 off
                Dunmore / Brid Smith will look at womens liberation within the Russian Revolution in 1917 / Roddy
                Cleere will talk on Pirate Radio and Sinnotts record shops, and many more....
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>