<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Decies - Journal Launch</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/history/Decies%20Launch%20-%20JohnCotter%20notebook.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 28th, 6pm<div class="sub header">Parnell Room, Granville Hotel</div> </h3>
            <p>
                As part of the Imagine Festival the local Waterford Archaeological &amp; Historical Society will
                launch their latest Journal No. 73 which covers many topics from archaeological excavations
                in County Waterford to the former Waterpark student who established the Irish Air Corps.
                Two of this year’s contributors will give a talk on their respective topics: Richard Tobin, The
                Cooper, The Racer and the Draper’s Curate: Settling accounts in the Ballyduff National
                League 1880 to 1891 / Brigid McIntyre, John Cotter - From Aglish to America: a stirring
                story of a forgotten hero of the Gaelic Revival. The talks will be accompanied by live music.
                Journal for sale at €15. All are welcome.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>