<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Revolution is in the Air </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/history/John-Borg.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 28th, 2pm<div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                By 1917 the men of the Easter Rising were now being revered as nationalist heroes , the old order of
                monarchies was being challenged by the revolution in Russia and the working classes talked openly of
                socialism,the withdrawal of Russia from the Great War gave reprieve to Germany and the U Boat war
                was reaching its height. Imagine Arts brings together a panel of experts to talk on three key topics of
                1917. John Borgonovo will deal with the war at sea, Pat McCarthy will look at the changing face of local
                politics and Conor Kostick will examine the appeal of socialism in a local context.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>