<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Imagine Festival </title>
</head>
<body>

<%- partial("../includes/_includes-header.ejs") %>
<%- yield %>
<%- partial("../includes/_sponsors.ejs") %>
<%- partial("../includes/_footer.ejs") %>

</body>
</html>
