<div class="ui vertical stripe center aligned segment">
    <div class="ui text container">
        <h3 class="ui dividing header">Battle of the Blaas<div class="sub header">Blaa-Mageddon</div> </h3>
        <img class="ui centered huge image" src="../assets/images/blaatle/blaatle2.jpg">
        <p>
            In the distant future, the year 3017, war has broken out. In order to claim the origins of the all mighty blaa, clans
            from around Waterford blaa-ttle it out.
        </p>
        <p>
            Under the canopy of the Blaa-Apple Market groups of estranged blaa-ttlers will gather. They have dropped their shields and
            swords and have picked up the flour and eggs for a display unseen before.
        </p>
        <p>
            The clans need <b>YOUR</b> help to be victorious!
        </p>
        <img class="ui centered huge image" src="../assets/images/blaatle/blattle2.jpg">
        <p>
            The event will be a family-friendly participatory event. A theatrical reconstruction set in a post-apocalyptic war-zone.
            Featuring our estranged blaa-ttlers, tonnes of flour, thousands of eggs and YOU.
        </p>
        <p>
            Booking is essential to be part of this one of a kind event. Costume is highly recommended. The event will lead with a
            children's only blaa-ttle followed by live entertainment and will culminate with an adult only blaa-ttle. Props kindly sponsored
            by Fado Productions for the event.
        </p>
        <p>
            All participants must wear <b>goggles</b>
        </p>
        <p> For booking follow this link <a href="https://uticket.ie/event/battle-of-the-blaas"><i class="ticket huge black icon"></i></i> </a></p>
    </div>
</div>