<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../style.css">
    <title>Imagine Festival</title>
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="../assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
</head>
<body>

<%- partial("includes/_includes-header.ejs") %>
<!-- Page Contents -->
<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/contact.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>

<div class="ui container" id="home">
    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container">
            <h1 class="ui dividing header">Contact Us</h1>
            <form class="ui form">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <label>Subject</label>
                    <input type="text" name="subject" placeholder="Subject">
                </div>
                <div class="field">
                    <label>Content</label>
                    <textarea rows="2"></textarea>
                </div>
                <button class="ui disabled fluid secondary basic button" state="disabled" type="submit">Submit</button>
            </form>
        </div>
    </div>
  </div>
<div class="ui horizontal divider">
    Alternatively
</div>
<%- partial("../includes/_contact.ejs")%>
<div class="ui divider"></div>
<div class="bgimg-3">
    <div class="ui vertical stripe center aligned segment">
        <div class='ui text container'>
            <h1 class="ui inverted header">Our team</h1>
            <p>Our team brings a wealth of experience from lots of different areas.</p>
            <p>Feel like helping out, get to know our team a little better.</p>
            <a class="ui secondary basic button" href="../index.html#about">Click for More</a>
        </div>
    </div>
</div>
<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>
