<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/children.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Children's Events</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Graffiti Classics</h3>
            <a href="events/children/graffiti.html"> <img class="ui fluid image" src="../assets/images/events/children/Graffiti%20Classics.jpg" style="height: 350px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Horribly Historical Trails</h3>
            <a href="events/children/history.html"> <img class="ui fluid image" src="../assets/images/events/children/history.jpg" style="height: 350px"></a>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Jackula</h3>
                <a href="events/children/jackula.html"> <img class="ui fluid image" src="../assets/images/events/children/Jackula.png" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Mini Musos</h3>
                <a href="events/children/musos.html"> <img class="ui fluid image" src="../assets/images/events/children/FB_IMG_1503595431865.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Puppet Making</h3>
                <a href="events/children/puppet.html"> <img class="ui fluid image" src="../assets/images/events/children/Puppet%20Making%20Workshop%20with%20Visual%20Artist%20Ruth%20Flynn.jpg" style="height: 250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Learn through Experience</h3>
                <a href="events/children/vrimmer.html"> <img class="ui fluid image" src="../assets/images/events/children/vrimmer.jpg" style="height: 350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Codordojo Workshop</h3>
                <a href="events/children/codordojo.html"> <img class="ui fluid image" src="../assets/images/events/children/codordojo.png" style="height: 350px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Under the Rainbow</h3>
                <a href="events/children/rainbow.html"> <img class="ui fluid image" src="../assets/images/events/children/Under%20the%20Rainbow.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Shadow Dancing</h3>
                <a href="events/performance/shadow.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Shadow%20Dancing%20%20Karen%20and%20Trish.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Baby Boogie</h3>
                <a href="events/children/boogie.html"> <img class="ui fluid image" src="../assets/images/events/children/Baby%20Boogie%20Image%20for%20Imagine%20Festival.jpg" style="height: 250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Hidden Figures - Parent &amp; Baby Friendly</h3>
                <a href="./events/film/hidden.html"><img class="ui fluid image" src="../assets/images/events/film/Hidden-Figures.jpg" style="height:  350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Waterfordopedia</h3>
                <a href="events/children/waterfordboy.html"> <img class="ui fluid image" src="../assets/images/events/children/Waterfordopedia%201.jpg" style="height: 350px"></a>
            </div>
        </div>
    </div>
</div>
