<div class="bgimg-5">
    <div class="ui masthead vertical stripe center aligned segment">
        <div class="ui text container">
            <img class="ui fluid image" src='../assets/images/history.png' />
            <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
        </div>
    </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">History Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Booze, Blaas and Banter</h3>
            <a href="./events/history/booze.html"><img class="ui fluid image" src="../assets/images/events/history/Booze,%20Blaa's%20n%20Banter.jpg" style="height:  250px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Decies - Journal Launch</h3>
            <a href="./events/history/decies.html"><img class="ui fluid image" src="../assets/images/events/history/Decies%20Launch%20-%20JohnCotter%20notebook.jpg" style="height:  250px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Revolution is in the Air</h3>
            <a href="./events/history/revo.html"><img class="ui fluid image" src="../assets/images/events/history/John-Borg.jpg" style="height:  250px"></a>
        </div>
    </div>
</div>
