<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
            Live Music 2017
        </h1>
        <a class="ui huge primary button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Live Music Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Title</h3>
            <img class="ui fluid image" src="../assets/images/events/music/music-s1.jpeg">
        </div>
        <div class="column">
            <h3 class="ui dividing header">Title</h3>
            <img class="ui fluid image" src="../assets/images/events/music/music-s2.jpeg">
        </div>
        <div class="column">
            <h3 class="ui dividing header">Title</h3>
            <img class="ui fluid image" src="../assets/images/events/music/music-s3.jpeg">
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s1.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s2.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s3.jpeg">
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s1.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s2.jpeg">
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s1.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s2.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s3.jpeg">
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s1.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s2.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/music/music-s3.jpeg">
            </div>
        </div>

    </div>
</div>
