<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
            <img class="ui fluid image" src='../../assets/images/music.png' />
            <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
        </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Live Music Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Bill Ryder Jones and Band</h3>
            <a href="events/music/bill-ryder-jones.html"><img class="ui fluid image" src="../assets/images/events/music/bill%20ryder%20jones%201.jpg" style="height: 350px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Martin Stephenson</h3>
            <a href="events/music/martin-stephenson.html"> <img class="ui fluid image" src="../assets/images/events/music/Martin%20Stephenson%20.png" style="height: 350px"></a>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Yorkston Thorne Khan</h3>
                <a href="events/music/yorkston-thorne-khan.html"> <img class="ui fluid image" src="../assets/images/events/music/Yorkston%20Thorne%20Khan.png" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Dime A Dozen</h3>
                <a href="events/music/dime-a-dozen.html"> <img class="ui fluid image" src="../assets/images/events/music/Dime%20A%20Dozen%20with%20Lorcan%20Reidy.png" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Joey Wright</h3>
                <a href="events/music/joey-wright.html"> <img class="ui fluid image" src="../assets/images/events/music/JOEY_1.jpg" style="height: 250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Billy and Daniel</h3>
                <a href="events/music/dilly-and-banial.html"> <img class="ui fluid image" src="../assets/images/events/music/Billy%20and%20Daniel.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">City of Dublin Chamber Orchestra</h3>
                <a href="events/music/city-of-dublin-orchestra.html"><img class="ui fluid image" src="../assets/images/events/music/City%20of%20Dublin%20Chamber%20Orchestra.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Propeller Palms</h3>
                <a href="events/music/propeller-palms.html"><img class="ui fluid image" src="../assets/images/events/music/Propeller%20Palms.jpg" style="height: 250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Dr. Mindflip</h3>
                <a href="events/music/dr-mindflip.html"> <img class="ui fluid image" src="../assets/images/events/music/dr-mindflip.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Shaun Walsh Classical Guitar</h3>
                <a href="events/music/sean-walsh.html"> <img class="ui fluid image" src="../assets/images/events/music/Shaun%20Walsh%20Classical%20Guitar.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">The Bonk</h3>
                <a href="events/music/the-bonk.html"> <img class="ui fluid image" src="../assets/images/events/music/Press%20Bonk.jpg" style="height: 250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Greenshine</h3>
                <a href="events/music/greenshine.html"> <img class="ui fluid image" src="../assets/images/events/music/Greenshine.jpg" style="height: 250px"></a>
            </div>

            <div class="column">
                <h3 class="ui dividing header">Hedge Schools</h3>
                <a href="events/music/hedge-schools.html"> <img class="ui fluid image" src="../assets/images/events/music/hedge_schools.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Oisin Leech</h3>
                <a href="events/music/oisin-leech.html"> <img class="ui fluid image" src="../assets/images/events/music/oisin%20leech.jpg" style="height: 250px"></a>
            </div>
        </div>
    </div>
</div>
