<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
            Social Media
        </h1>
        <a class="ui huge primary button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>

<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">Don't Miss Out!</h3>
        <p>Over 100 events across 10 days it is hard to keep up.</p>
        <p>To keep up to date with everything Imagine follow us on any of our social media accounts.</p>
        <p>With regular updates on events.</p>
        <p>As well as a first look at the events over the festival</p>
        <p><b>Makes sure you don't miss out by following any of the links below</b></p>
        <div class="ui horizontal massive link list" style="padding-left : 30px">
            <a class="item" href="https://www.facebook.com/imaginewaterford/"><i class="big facebook square icon"></i></a>
            <a class="item" href="https://www.youtube.com/watch?v=NNKLrGTl4pU"><i class="big youtube square icon"></i></a>
            <a class="item" href="https://www.google.ie"><i class="big instagram icon"></i></a>
            <a class="item" href="https://www.google.ie"><i class="big snapchat square icon"></i></a>
            <a class="item" href="https://twitter.com/Imagine_Fest"><i class="big twitter square icon"></i></a>
            <a class="item" href="https://www.google.ie"><i class="big vimeo square icon"></i></a>
        </div>
    </div>
</div>
<div class="bgimg-3"></div>
