<div class="landing-head"></div>
<div class="ui container">
  <br>
  <h1 class="ui dividing header">Don't miss out!</h1>
  <div class="ui piled segment">
    <p>Lorem ipsum dolor sit amet, usu no accusam conceptam, ex eos mollis voluptatibus. Feugait prodesset ius eu, nec tation tibique voluptatum in. Feugiat theophrastus delicatissimi no cum, dico zril et vel, mea maiorum vulputate ea. Ad qui vidit quaeque.</p>
  </div>

  <div class="ui stackable equal width grid">
      <div class="ui column">
          <img class="ui fluid image" src="../assets/images/dontmiss.jpg">
      </div>
      <div class="ui centered column">
        <br><br>
          <h3 class="ui header" style="padding-left : 100px">Make sure to follow us on social media <div class="sub header">To keep up to date with everything imagine</div></h3>
          <div class="ui horizontal massive link list" style="padding-left : 30px">
              <a class="item" href="https://www.google.ie"><i class="big facebook square icon"></i></a>
              <a class="item" href="https://www.google.ie"><i class="big google plus square icon"></i></a>
              <a class="item" href="https://www.google.ie"><i class="big instagram icon"></i></a>
              <a class="item" href="https://www.google.ie"><i class="big snapchat square icon"></i></a>
              <a class="item" href="https://www.google.ie"><i class="big twitter square icon"></i></a>
              <a class="item" href="https://www.google.ie"><i class="big vimeo square icon"></i></a>
          </div>
      </div>
  </div>



</div>
