<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
            Looking to help out
        </h1>
        <a class="ui huge primary button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>
<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">Support the Festival</h3>
        <p>Imagine Arts Festival is proud that over 60% of our events are provided at no cost to our audiences</p>
        <p>There are many ways to support the festival</p>
        <p>Help us keep Imagine events free & allow us to Imagine even more</p>
    </div>
</div>
<div class="bgimg-3"></div>
<div class="ui vertical stripe center aligned segment">
    <div class="ui text container">
        <h3 class="ui dividing header">How to Support</h3>
        <p>There are many ways <b>you</b> can help the festival.</p>
        <p>Weather you are a <b>company</b> looking to help sponsor the event, offering many advertising opportunities and more.</p>
        <p>Maybe you have a <b>space</b> you can offer to the festival.</p>
        <p>Or an <b>individual</b>, by contributing your time to the festival or supporting the wristband collections</p>
        <p>Do not hesitate to <b>contact us</b> to discuss the many ways you can help the festival</p>
        <a class="ui huge primary button" href="./contact.html">Contact Us  <i class="send outline icon"></i></a>
    </div>
</div>
