<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
            Like To Help Out
        </h1>
        <a class="ui huge primary button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>
<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">Support the Festival</h3>
        <p>Imagine Arts Festival is proud that over 60% of our events are provided at no cost to our audiences</p>
        <p>There are many ways to support the festival</p>
        <p>Help us keep Imagine events free & allow us to Imagine even more</p>
    </div>
</div>
<div class="bgimg-3"></div>
<div class="ui vertical stripe center aligned segment">
    <div class="ui text container">
        <h3 class="ui dividing header">How to Support</h3>
        <p>There are a number of ways in which <b>you</b> can support Imagine.</p>
        <p>As a <b>company</b> helping to sponsor an event or offering advertising opportunities.</p>
        <p>You may have a <b>space</b> you can offer the festival.</p>
        <p>You may contribute your time to the festival as a <b>volunteer</b>, or supporting the wristband collections</p>
        <p>Don't hesitate to contact us to discuss the many ways <b>you</b> can help Imagine!</p>
        <a class="ui huge primary button" href="./contact.html">Contact Us  <i class="send outline icon"></i></a>
    </div>
</div>

