<div class="landing-head"></div>
<br><br>
<div class="ui container">
    <h1 class="ui dividing header">
        Meet the Team
    </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <h3 class="ui dividing header">Name</h3>
            <img class="ui fluid image" src="../assets/images/team/person-temp.jpeg">
            <p style="padding-top: 5px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        </div>
        <div class="ui column">
            <h3 class="ui dividing header">Name</h3>
            <img class="ui fluid image" src="../assets/images/team/person-temp.jpeg">
            <p style="padding-top: 5px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        </div>
        <div class="ui column">
            <h3 class="ui dividing header">Name</h3>
            <img class="ui fluid image" src="../assets/images/team/person-temp.jpeg">
            <p style="padding-top: 5px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        </div>
        <div class="ui stackable equal width row">
            <div class="ui column">
                <h3 class="ui dividing header">Name</h3>
                <img class="ui fluid image" src="../assets/images/team/person-temp.jpeg">
                <p style="padding-top: 5px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
            </div>
            <div class="ui column">
                <h3 class="ui dividing header">Name</h3>
                <img class="ui fluid image" src="../assets/images/team/person-temp.jpeg">
                <p style="padding-top: 5px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
            </div>
            <div class="ui column">
                <h3 class="ui dividing header">Name</h3>
                <img class="ui fluid image" src="../assets/images/team/person-temp.jpeg">
                <p style="padding-top: 5px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
            </div>
        </div>
    </div>
    <br>
</div>