<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/performance.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Live Performance Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Reginald D Hunter<div class="sub header">Comedy</div> </h3>
            <a href="events/performance/reginald.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Reginald%20D%20Hunter.png" style="height: 250px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Closer Encounters<div class="sub header">Dance</div> </h3>
            <a href="events/performance/encounters.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Jess%20and%20Tobi.jpg" style="height: 250px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Shadow Dancing<div class="sub header">Dance Workshop</div> </h3>
            <a href="events/performance/shadow.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Shadow%20Dancing%20%20Karen%20and%20Trish.jpg" style="height: 250px"></a>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Youth Dance Celebration<div class="sub header">Dance</div> </h3>
                <a href="events/performance/youthd.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Youth%20Dance%20Celebration.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Modpoets<div class="sub header">Spoken Word</div> </h3>
                <a href="events/performance/modpoets.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Modpoets.png" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">They Think It's All Over<div class="sub header">Radio Drama</div> </h3>
                <a href="events/writers/they-think-its-all-over.html"> <img class="ui fluid image" src="../assets/images/events/writers/Rebellion%20at%20Mount%20Sion%20Pic%20(1).jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s3.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s2.jpeg">
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s1.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s2.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s3.jpeg">
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s1.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s2.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/theatre/per-s3.jpeg">
            </div>
        </div>

    </div>
</div>
