<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../style.css">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="../assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
    <script>
			$(document).ready(function() {
				$('.tabular.menu .item')
					.tab();
			});

    </script>
</head>
<body>
<%- partial("includes/_includes-header.ejs") %>
<div class="bgimg-5">
    <div class="ui masthead vertical stripe center aligned segment">
        <div class="ui text container">
            <img class="ui fluid image" src='../assets/images/tickets.png' />
            <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
        </div>
    </div>
</div>

<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Festival Time Table 2017<div class="sub header">Simply click for tickets</div> </h1>

    <div class="ui active" data-tab="first">
        <table class="ui blue striped table">
            <thead>
            <tr><th class="seven wide">Event</th>
                <th class="five wide">Venue</th>
                <th class="two wide">Date</th>
                <th class="two wide">Cost</th>
            </tr></thead><tbody>
            <tr>
                <td><a href="https://uticket.ie/event/martin-stephenson">Martin Stephenson</a></td>
                <td>St. Patrick's Gateway</td>
                <td>Friday October 27th, 8pm</td>
                <td><a href="https://uticket.ie/event/martin-stephenson">€17.50</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/bill-ryder-jones">Bill Ryder Jones</a></td>
                <td>St. Patrick's Gateway</td>
                <td>Saturday October 28th</td>
                <td><a href="https://uticket.ie/event/bill-ryder-jones">€17.50</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/yorkston-thorne-khan">Yorkston Thorne Khan</a></td>
                <td>St. Patrick's Gateway</td>
                <td>Sunday October 29th, 8pm</td>
                <td><a href="https://uticket.ie/event/yorkston-thorne-khan">€17.50</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/john-dwyer">John Dwyer and Friends in Concert</a></td>
                <td>St. Patrick's Gateway</td>
                <td>Friday October 20th, 8pm</td>
                <td><a href="https://uticket.ie/event/john-dwyer">€15/€12</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/noel-hill-and-frankie-gavin">Noel Hill and Frankie Gavin, with Brian McGrath</a></td>
                <td>St. Patrick's Gateway</td>
                <td>Saturday October 21st, 8pm</td>
                <td><a href="https://uticket.ie/event/noel-hill-and-frankie-gavin">€15/€12</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/dime-a-dozen">Dime a Dozen</a></td>
                <td>St. John's College</td>
                <td>Thursday October 19th, 8pm</td>
                <td><a href="https://uticket.ie/event/dime-a-dozen">€16.54</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/closer-encounters">Close Encounters</a></td>
                <td>Viking Museum</td>
                <td>Friday October 20th, 5pm & 7pm</td>
                <td><a href="https://uticket.ie/event/closer-encounters">€10/€8</a></td>
            </tr>
            <tr>
                <td><a href="http://www.theatreroyal.ie/events/reginald-d-hunter">Reginald D Hunter</a></td>
                <td>Theatre Royal</td>
                <td>Friday October 20th, 8pm</td>
                <td><a href="http://www.theatreroyal.ie/events/reginald-d-hunter">€26</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/newsageddon">Newsaggedon by Waterford Whispers</a></td>
                <td>Downes Bar Lounge</td>
                <td>Friday 20th October 8pm </td>
                <td><a href="https://uticket.ie/event/newsageddon">€7</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/paul-howard">Paul Howard</a></td>
                <td>Medieval Museum Garden Room</td>
                <td>Friday 20 October 9:30pm</td>
                <td><a href="https://uticket.ie/event/paul-howard">Booking</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/joey-wright">Joey Wright</a></td>
                <td>Phil Grimes Pub</td>
                <td>Friday October 20th, 9pm</td>
                <td><a href="https://uticket.ie/event/joey-wright">€12</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/puppet-making ">Puppet Making Workshop </a></td>
                <td>Thursday October 26th, 11am </td>
                <td>GOMA </td>
                <td><a href="https://uticket.ie/event/puppet-making ">€6</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/couch-to-100k ">Couch to 100k by Cat Hogan</a></td>
                <td>Saturday 21 October 11:30am </td>
                <td>Greyfriars Gallery </td>
                <td><a href="https://uticket.ie/event/couch-to-100k "> €10</a></td>
            </tr>
            <tr>
                <td><a href=" https://uticket.ie/event/politics-of-poetry"> The Politics Of Poetry </a></td>
                <td>Saturday 21 October, 5pm </td>
                <td>Downes Lounge </td>
                <td><a href=" https://uticket.ie/event/politics-of-poetry"> €7</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/francis-brennan ">Francis Brennan </a></td>
                <td> Saturday 21 October, 6pm </td>
                <td>Large Room - City Hall </td>
                <td><a href=" https://uticket.ie/event/francis-brennan"> €7</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/crime "> Women Crime Writing with Jane Casey</a></td>
                <td> Saturday 21 October, 7:30pm </td>
                <td>Large Room City Hall </td>
                <td><a href="https://uticket.ie/event/crime "> €7</a></td>
            </tr> <tr>
                <td><a href="http://www.theatreroyal.ie/events/propeller-palms-feat-backroad-smokers-club ">Propeller Palms Feat Backroad Smokers Club </a></td>
                <td>Saturday October 21st, 8pm </td>
                <td>Theatre Royal </td>
                <td><a href="http://www.theatreroyal.ie/events/propeller-palms-feat-backroad-smokers-club "> €16</a></td>
            </tr> <tr>
                <td><a href="https://uticket.ie/event/alan-shatter "> Alan Shatter</a></td>
                <td>Saturday 21 October, 9pm </td>
                <td>Large Room City Hall </td>
                <td><a href=" https://uticket.ie/event/alan-shatter"> €10</a></td>
            </tr> <tr>
                <td><a href="https://uticket.ie/event/poetry-workshop ">Poetry Workshop with Dave Lordan </a></td>
                <td>Sunday 22 October 11am </td>
                <td> GOMA Gallery</td>
                <td><a href="https://uticket.ie/event/poetry-workshop "> €10</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/secular-sunday-service ">Secular Sunday Service </a></td>
                <td> Sunday 22 October 12noon</td>
                <td>Medieval Museum Garden Room  </td>
                <td><a href="https://uticket.ie/event/secular-sunday-service "> €</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/battle-of-the-blaas ">Battle of the Blaas </a></td>
                <td>Sunday 22nd October, 1pm </td>
                <td>The Apple Market </td>
                <td><a href="https://uticket.ie/event/battle-of-the-blaas ">For Booking</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/first-timers ">First-timers </a></td>
                <td>Sunday 22nd October, 2pm </td>
                <td>Medieval Museum, Garden Room  </td>
                <td><a href="https://uticket.ie/event/first-timers "> €7</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/liz-nugent ">Interview with Liz Nugent </a></td>
                <td>Sunday 22nd October, 4:30pm </td>
                <td> Medieval Museum Garden Room </td>
                <td><a href="https://uticket.ie/event/liz-nugent "> €7</a></td>
            </tr>
            <tr>
                <td><a href="http://www.theatreroyal.ie/events/youth-dance-celebration ">Youth Dance Celebration </a></td>
                <td>Sunday October 22th, 5pm </td>
                <td>Theatre Royal </td>
                <td><a href="http://www.theatreroyal.ie/events/youth-dance-celebration "> €7</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/thebes "> Thebes</a></td>
                <td>Sunday 22 October, 6pm & 6:45pm </td>
                <td>Viking Museum, Undercroft</td>
                <td><a href="https://uticket.ie/event/thebes "> €6</a></td>
            </tr> <tr>
                <td><a href="https://uticket.ie/event/baby-boogie ">Baby Boogie </a></td>
                <td> Monday October 23rd, 11am</td>
                <td>Dance Studio, 5 O&#39;Connell Street </td>
                <td><a href="https://uticket.ie/event/baby-boogie "> €11 per child</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/mask-making ">Special Effects Mask Making </a></td>
                <td> Tuesday October 25th, 2pm</td>
                <td>The Rogue Gallery </td>
                <td><a href="https://uticket.ie/event/mask-making "> €20</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/mini-musos ">Mini Musos </a></td>
                <td>Wednesday October 25th, 10am </td>
                <td>GOMA</td>
                <td><a href="https://uticket.ie/event/mini-musos "> €6</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/shadow-dancing ">Shadow Dancing </a></td>
                <td> Wednesday October 25th, 3pm</td>
                <td>5 O'Connell Street </td>
                <td><a href="https://uticket.ie/event/shadow-dancing "> €15</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/submerged ">Submerged</a></td>
                <td>Wednesday 25 & Thursday October 27, 6pm </td>
                <td>3/4 Georges Street </td>
                <td><a href="https://uticket.ie/event/submerged "> €10</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/horribly-historical-trails "> Horribly Historical Trails</a></td>
                <td>Wednesday, Thursday, Friday, Saturday October 25th,26th,27th,28th, 7:30pm </td>
                <td>Starts at Medieval Museum </td>
                <td><a href="https://uticket.ie/event/horribly-historical-trails "> €5</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/nigel-rolfe ">Nigel Rolfe </a></td>
                <td>Thursday October 26th, 7:30pm </td>
                <td>St. John's College </td>
                <td><a href="https://uticket.ie/event/nigel-rolfe "> Free</a></td>
            </tr>
            <tr>
                <td><a href="http://www.theatreroyal.ie/events/jackula ">Jackula </a></td>
                <td>Thursday October 26th, 7:30pm </td>
                <td>Theatre Royal </td>
                <td><a href="http://www.theatreroyal.ie/events/jackula "> €11</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/vr-education "> Learn Through Experience</a></td>
                <td>Friday October 20th, 2pm & Friday October 27th, 2pm </td>
                <td>Central Hall & GOMA </td>
                <td><a href="https://uticket.ie/event/vr-education "> Free Event</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/drifting-cities ">Drifting Cites </a></td>
                <td>Monday October 23rd and Friday October 27th, 5:30pm </td>
                <td>3/4 Georges Street</td>
                <td><a href="https://uticket.ie/event/drifting-cities "> Free Event</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/savage-love "> Savage Love</a></td>
                <td>Friday 27 & Saturday 28 October, 6pm </td>
                <td>Besco Ballybricken </td>
                <td><a href="https://uticket.ie/event/savage-love "> €12</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/modpoets ">Modpoets </a></td>
                <td>Friday October 27th, 7:30pm </td>
                <td>The Parlour Vintage Tea Rooms </td>
                <td><a href="https://uticket.ie/event/modpoets "> €2</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/pinhole-photography ">Pinhole Photography </a></td>
                <td>Saturday October 28th, 10am </td>
                <td>GOMA </td>
                <td><a href="https://uticket.ie/event/pinhole-photography "> €25</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/francesca-castellano ">Francesca Castellano</a></td>
                <td>Saturday October 28th, 12pm </td>
                <td>3/4 George's street </td>
                <td><a href="https://uticket.ie/event/francesca-castellano "> Free</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/spokes ">Spokes Samhain Poetry night with Andrej Kapor </a></td>
                <td>Saturday 28th October 8pm </td>
                <td> Phil Grimes</td>
                <td><a href="https://uticket.ie/event/spokes "> Booking</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/slsd ">SLSD </a></td>
                <td>Saturday 28 October, 10pm </td>
                <td>Besco Ballybricken </td>
                <td><a href="https://uticket.ie/event/slsd "> €15</a></td>
            </tr>
            <tr>
                <td><a href="https://uticket.ie/event/the-bonk ">The Bonk </a></td>
                <td>Saturday October 28th, 10pm </td>
                <td>The Rouge Gallery</td>
                <td><a href="https://uticket.ie/event/the-bonk "> €10</a></td>
            </tr>
            </tbody>
        </table>


            </tbody>
        </table>
    </div>
</div>


<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>
