<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../style.css">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="../assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
    <script>
      $(document).ready(function() {
        $('.tabular.menu .item')
        .tab();
      });

    </script>
</head>
<body>
<%- partial("includes/_includes-header.ejs") %>
<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
            Our timetable 2017
        </h1>
        <a class="ui huge primary button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>

<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Festival Time Table 2017</h1>

    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">By Date</a>
      <a class="item" data-tab="second">By Event</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <h3 class="ui header">20th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">21st October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">22nd October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">23rd October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">24th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">25th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">26th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">27th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">28th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">29th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">30th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>



    </div>



    <div class="ui bottom attached tab segment" data-tab="second">
      <h3 class="ui header">Visual Art</h3>
      <table class="ui red table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Live Music</h3>
      <table class="ui orange table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Live Performance</h3>
      <table class="ui blue table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Trad Weekend</h3>
      <table class="ui green table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Writers Weekend</h3>
      <table class="ui pink table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
    </div>
</div>


<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>
