<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../style.css">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="../assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
    <script>
      $(document).ready(function() {
        $('.tabular.menu .item')
        .tab();
      });

    </script>
</head>
<body>
<%- partial("includes/_includes-header.ejs") %>
<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
        <img class="ui fluid image" src='../assets/images/timetable.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>

<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Festival Time Table 2017</h1>

    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Events</a>
      <a class="item" data-tab="second">Tickets</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <h3 class="ui header">Thursday 19th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Imagine Opening Exhibition : Bernadette Kiely</td>
              <td>Greyfriars Gallery</td>
              <td>6pm</td>
              <td>Free Event</td>
          </tr>
          <tr>
              <td>Dime A Dozen (with Lorcan Reidy)</td>
              <td>St. John's College</td>
              <td>8pm</td>
              <td>€15</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Friday 20th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>SEMS Darkspace Immersive Interactive Lighting</td>
              <td>16/18 O'Connell Street</td>
              <td>1pm</td>
              <td>Free Event</td>
          </tr>
          <tr>
              <td>Elaine Hoey</td>
              <td>GOMA</td>
              <td>1pm</td>
              <td>Free Event</td>
          </tr>
          <tr>
              <td>Sean Walsh Classical Guitar Performance</td>
              <td>Garter Lane</td>
              <td>1:15pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Immersive VR Education Animation</td>
              <td>Central Hall</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Workshop : Under the Rainbow</td>
              <td>Children's Room, 5 0'Connell Street</td>
              <td>4pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Dave Rudden - Children's Workshop</td>
              <td>City Library</td>
              <td>4pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Closer Encounters</td>
              <td>Medieval Museum</td>
              <td>5pm & 7pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Waterford Writers Weekend Reception</td>
              <td>Theatre Royal Vestibule</td>
              <td>5pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Stefanie Preissner</td>
              <td>Theatre Royal Vestibule</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Ben Hennessy Exhibition</td>
              <td>GOMA</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Derek Flynn Book Launch</td>
              <td>The Book Centre</td>
              <td>7pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Will It Fit In The Van</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Reginald D Hunter</td>
              <td>Theatre Royal</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>John Dwyer and Friends</td>
              <td>St. Patrick's Gateway</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Waterford Whispers News - Newsageddon</td>
              <td>Henry Downes Bar</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Paul Howard</td>
              <td>Medieval Museum</td>
              <td>9.30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Joey Wright</td>
              <td>Phil Grimes Bar</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Dr. Mindflip</td>
              <td>The Rogue Gallery</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>John Dwyer Trad Weekend Sessions In Pubs</td>
              <td>Jordans, Dooleys Hotel, The Reg, Downes</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Saturday 21st October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Judi Curtin (Kids Event)</td>
              <td>City Library</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Instrument Workshops</td>
              <td>Gaelsciol na nDeise</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Puppet Making</td>
              <td>GOMA</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Couch to 100k with Cat Hogan</td>
              <td>Greyfriars</td>
              <td>11:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>The Story House Presents : Barry McKinley</td>
              <td>The Book Centre</td>
              <td>12pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Motherfocloir - Dispatches From A Not So Dead Language</td>
              <td>Geoffs Bar</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Self-Publishing w/ Hazel Gaynor and Eamon Ambrose</td>
              <td>City Library</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Poerty Collection Launch : Mark Roper</td>
              <td>GreyFriars</td>
              <td>3pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>John Dwyer Trad Weekend Session</td>
              <td>Tullys</td>
              <td>3pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>U18 Trad Composition Competition</td>
              <td>Dooleys Hotel</td>
              <td>3:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Hazel Gaynor talks about The Cottingley Fairies</td>
              <td>Sunday School Room Christ Church Cathedral</td>
              <td>4pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>JDTW Trad Session</td>
              <td>The Reg</td>
              <td>4pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Politics of Poetry : Sarah Clancy, Karl Parkinson, Elaine Feeney, Dave Lordan</td>
              <td>Henery Downes</td>
              <td>5pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Music Trail - Oatsie Jones</td>
              <td>Phil Grimes Bar</td>
              <td>5pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Music Trail - Big Bang</td>
              <td>Revolution</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>John Dwyer Trad Weekend Session</td>
              <td>Tullys</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Francis Brennan interviewed by Sinead Crowley</td>
              <td>Large Room, City Hall</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Music Trail - Central Hall</td>
              <td>Kazbar</td>
              <td>7pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Crime w. Jane Casey, Alex Barclay, Sinead Crowley & Sam Blake</td>
              <td>Large Room, City Hall</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Music Trail - Kila</td>
              <td>The Apple Market</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Will It Fit In The Van?</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Propeller Palms</td>
              <td>Theatre Royal</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Alan Shatter</td>
              <td>Large Room, City Hall</td>
              <td>9pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Music Trail - The Silk Road</td>
              <td>Shortts</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>John Dwyer Trad Weekend - Sessions In Pubs</td>
              <td>Jordans, Dooleys Hotel, The Reg, Downes</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>John Dwyer Trad Weekend - Festival Bar</td>
              <td>Dooleys Hotel Bar</td>
              <td>Midnight - 2am</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Sunday 22nd October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Poetry Workshop - Dave Lordan</td>
              <td>Greyfriars</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Secular Sunday Service w. Doreann Ni Ghriota, Sinead Gleeson, Rob Doyle, Sarah Clancy and local poets Edward Denniston, Mark Roper and Freank Farrelly - Broadcast Live on WLRfm</td>
              <td>Greyfriars</td>
              <td>12pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Outside the Box - Wheel of Time</td>
              <td>Site Specific (TBA)</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>How NOT To Approach Publisher w/ Lisa Coen & Sarah Davis-Goff</td>
              <td>The Parlour Vintage Tea Rooms</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Battle of the Blaas (Blaa-mageddon)</td>
              <td>The Apple Market</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>City of Waterford Brass Oompah Band</td>
              <td>The Apple Market</td>
              <td>1:45pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>First-timers w/ Sally Rooney, Ciaran McMenamin, Eithne Shortall</td>
              <td>Medieval Museum, Garden Room</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Final John Dwyer Trad Weekend Session</td>
              <td>Dooleys Hotel</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Waterfordopedia</td>
              <td>Garter Lane</td>
              <td>3pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Liz Nugent</td>
              <td>Medieval Museum, Garden Room</td>
              <td>4:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Youth Dance Celebration</td>
              <td>Theatre Royal</td>
              <td>5pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Thebes - A life in Shadows</td>
              <td>Medieval Museum, Undercroft</td>
              <td>6pm & 7pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Documentary Screening : A Place to Go</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>

          </tbody>
      </table>

      <h3 class="ui header">Monday 23rd October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Workshop : Baby Boogie</td>
              <td>Children's Room, 5 O'Connell Street</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Micheal Higgins - Drifting Cities</td>
              <td>3/4 Georges Street</td>
              <td>4pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Brothers of Charity Film : 'In Your Dreams, Boy'</td>
              <td>Omniplex</td>
              <td>6:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Creative Identities Design Programme Launch</td>
              <td>Garter Lane</td>
              <td>7pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Tuesday 25th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Parent & Baby Friendly Screening of Hidden Figures</td>
              <td>Garter Lane</td>
              <td>10:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Special Effects Mask Making</td>
              <td>The Rogue Gallery</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Aideen Barry (talk)</td>
              <td>GOMA</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Sanctuary</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Wednesday 25th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>When Words Fail and Art Speaks - Mini Musos</td>
              <td>GOMA</td>
              <td>10am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Shadow Dancing</td>
              <td>5 O'Connell Street</td>
              <td>3pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Submerged</td>
              <td>3/4 Georges Street</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Horribly Historical Trails</td>
              <td>Starts at Medieval Museum</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Janey Dillis</td>
              <td>Central Hall</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Thursday 26th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Graffiti Classics</td>
              <td>Theatre Royal</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Puppet Making</td>
              <td>GOMA</td>
              <td>11am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Opening of Exhibition - Jenny Richardson</td>
              <td>Waterford Healing Arts Trust</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Submerged</td>
              <td>3/4 Georges Street</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Nigel Rolfe</td>
              <td>St. John's College</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Jackula</td>
              <td>Theatre Royal</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Horribly Historical Trails</td>
              <td>Starts at Medieval Museum</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Alice In Wonderland</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Janey Dillis</td>
              <td>Central Hall</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Friday 29th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Shaun Walsh Classical Guitar</td>
              <td>Garter Lane</td>
              <td>1:15pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Immersive VR Education Animation</td>
              <td>GOMA</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Higgins – Drifting Cities</td>
              <td>3/4 Georges Street</td>
              <td>4pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Savage Love</td>
              <td>Besco, Ballybricken</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>The Water Stave / Nems</td>
              <td>Shine Discovery</td>
              <td>6:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Modpoets</td>
              <td>The Parlour Vintage Tea Rooms</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Horribly Historical Trails</td>
              <td>Starts at Medieval Museum</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Martin Stephenson and the Daintees</td>
              <td>St. Patrick’s Gateway</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Alice In Wonderland</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Vintners Weekend Of Sound</td>
              <td>Various Locations</td>
              <td>6pm – 2am</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Saturday 28th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Booze, Blaas and Banter</td>
              <td>Jordans Bar</td>
              <td>9am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Pinhole Photography in association with Lismore Castle Arts</td>
              <td>GOMA</td>
              <td>10am</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Francesca Castellano durational performance</td>
              <td>TBA</td>
              <td>12pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Discussion with Michael Fortune</td>
              <td>Garter Lane</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Halloween Stories Under Canopies</td>
              <td>City Library</td>
              <td>1pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Codor Dojo</td>
              <td>City Library</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>History Talks - Remembering 1917</td>
              <td>St. Patrick’s Gateway</td>
              <td>2pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Edward Denniston Book Launch</td>
              <td>Greyfriars Gallery</td>
              <td>3pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Savage Love</td>
              <td>Besco, Ballybricken</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Decies – Book Launch</td>
              <td>Parnell Room, Granville Hotel</td>
              <td>6pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Horribly Historical Trails</td>
              <td>Starts at Medieval Museum</td>
              <td>7:30pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Bill Ryder Jones</td>
              <td>St. Patrick’s Gateway</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Alice In Wonderland</td>
              <td>Garter Lane</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Spokes Samhain Imagine Poetry Night</td>
              <td>Phil Grimes</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>SLSD</td>
              <td>Besco, Ballybricken</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>The Bonk</td>
              <td>The Rogue Gallery</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Vintners Weekend Of Sound</td>
              <td>Various Locations</td>
              <td>6pm – 2am</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>

      <h3 class="ui header">Sunday 29th October</h3>
      <table class="ui black table">
          <thead>
          <tr><th>Event</th>
              <th>Venue</th>
              <th>Time</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>Radio Drama: They Think It’s All Over</td>
              <td>WLRfm</td>
              <td>7pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Yorkston Thorne Khan</td>
              <td>St. Patrick’s Gateway</td>
              <td>8pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Greenshine</td>
              <td>The Victoria House, Tramore</td>
              <td>10pm</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Michael Fortune - We Invented Halloween</td>
              <td>TBA</td>
              <td>TBA</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>Vintners Weekend Of Sound</td>
              <td>Various Locations</td>
              <td>6pm – 2am</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>



    </div>



    <div class="ui bottom attached tab segment" data-tab="second">
      <h3 class="ui header">Visual Art</h3>
      <table class="ui red table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Live Music</h3>
      <table class="ui orange table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Live Performance</h3>
      <table class="ui blue table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Trad Weekend</h3>
      <table class="ui green table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
      <h3 class="ui header">Writers Weekend</h3>
      <table class="ui pink table">
          <thead>
          <tr><th>Name</th>
              <th>Location</th>
              <th>Time</th>
              <th>Day</th>
              <th>Cost</th>
          </tr></thead><tbody>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          <tr>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
              <td>bla</td>
          </tr>
          </tbody>
      </table>
    </div>
</div>


<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>
