<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
     <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/trad.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">John Dwyer Trad Fest Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Noel Hill, Frankie Gavin, with Brian McGrath</h3>
            <a href="events/trad/noel-frankie-brian.html"> <img class="ui fluid image" src="../assets/images/events/trad/Noel%20Hill.jpg" style="height: 250px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">John Dwyer and Friends in Concert</h3>
            <a href="events/trad/tutors.html"> <img class="ui fluid image" src="../assets/images/events/trad/John%20Dwyer.jpg" style="height: 250px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Pub Sessions</h3>
            <a href="events/trad/pub.html"> <img class="ui fluid image" src="../assets/images/events/trad/trad.jpg" style="height: 250px"></a>
        </div>


        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Music and Dance Workshops</h3>
                <a href="events/trad/music-dance.html"> <img class="ui fluid image" src="../assets/images/events/trad/Irene%20Cunningham.jpg" style="height: 350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Final of U18 composition competition</h3>
                <a href="events/trad/u18.html"> <img class="ui fluid image" src="../assets/images/events/trad/u18.jpeg" style="height: 350px"></a>
            </div>
        </div>



    </div>
</div>
