<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
            <img class="ui fluid image" src='../../assets/images/visual-art-2.png' />
            <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
        </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Visual Art Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Aideen Barry</h3>
            <a href="./events/visual-art/aideen-barry.html"><img class="ui fluid image" src="../assets/images/events/art/AB%20Images.003.jpeg" style="height:  350px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Elaine Hoey</h3>
            <a href="./events/visual-art/elaine-hoey.html"><img class="ui fluid image" src="../assets/images/events/art/ElaineHoey_StrangerThanFictionIsFact_002psd.jpg" style="height:  350px"></a>
        </div>


        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Bernadette Kiely</h3>
                <a href="./events/visual-art/bernadette.html"><img class="ui fluid image" src="../assets/images/events/art/bernadette.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Immersive Interactive Light Installation</h3>
                <a href="./events/visual-art/sems.html"><img class="ui fluid image" src="../assets/images/events/art/SEMS_pic.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Submerged</h3>
                <a href="./events/visual-art/submerged.html"><img class="ui fluid image" src="../assets/images/events/art/vlcsnap-2017-06-28-10h23m12s144.png" style="height:  250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/art/art-event-tester1.jpg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/art/art-event-tester2.jpeg">
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/art/art-event-tester1.jpg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/art/art-event-tester2.jpeg">
            </div>
            <div class="column">
                <h3 class="ui dividing header">Title</h3>
                <img class="ui fluid image" src="../assets/images/events/art/art-tester-3.jpeg">
            </div>
        </div>

    </div>
</div>
