<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui text container">
            <img class="ui fluid image" src='../../assets/images/visual-art-2.png' />
            <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
        </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Visual Art Lineup 2017</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Bernadette Kiely</h3>
            <a href="./events/visual-art/bernadette.html"><img class="ui fluid image" src="../assets/images/events/art/bernadette.jpg" style="height:  350px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Nigel Rolfe</h3>
            <a href="./events/visual-art/nigel.html"><img class="ui fluid image" src="../assets/images/events/art/Rolfe_Artic_Action_2015.jpg" style="height:  350px"></a>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Aideen Barry - Talk</h3>
                <a href="./events/visual-art/aideen-barry.html"><img class="ui fluid image" src="../assets/images/events/art/AB%20Images.003.jpeg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Elaine Hoey</h3>
                <a href="./events/visual-art/elaine-hoey.html"><img class="ui fluid image" src="../assets/images/events/art/ElaineHoey_StrangerThanFictionIsFact_002psd.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Ben Hennessy - Boat</h3>
                <a href="./events/visual-art/benhen.html"><img class="ui fluid image" src="../assets/images/events/art/boat.png" style="height:  250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Submerged</h3>
                <a href="./events/visual-art/submerged.html"><img class="ui fluid image" src="../assets/images/events/art/vlcsnap-2017-06-28-10h23m12s144.png" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Immersive Interactive Light Installation</h3>
                <a href="./events/visual-art/sems.html"><img class="ui fluid image" src="../assets/images/events/art/SEMS_pic.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Francesca Costellanio</h3>
                <a href="./events/visual-art/fran.html"><img class="ui fluid image" src="../assets/images/events/art/Francesca%20Site%20specific%20.jpg" style="height:  250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Jack O&#39;Hare.</h3>
                <a href="./events/visual-art/tower.html"><img class="ui fluid image" src="../assets/images/events/art/tower%20JackOHare_Imagine-festival_sketch1.jpg" style="height:  350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Genius Loci</h3>
                <a href="./events/visual-art/20ten.html"><img class="ui fluid image" src="../assets/images/events/art/20ten.png" style="height:  350px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Closer Encounters</h3>
                <a href="events/performance/encounters.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Jess%20and%20Tobi.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Tara Keegan</h3>
                <a href="./events/visual-art/tarak.html"><img class="ui fluid image" src="../assets/images/events/art/Georges%20Court%20Shopping%20centreTara%20Keegan%20Intramural%202017.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">A Year Out</h3>
                <a href="./events/visual-art/yearout.html"><img class="ui fluid image" src="../assets/images/events/art/WHAT%20Granny%20Brings%20Grapes.jpg" style="height:  250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Ben Hennessy - Time</h3>
                <a href="./events/visual-art/time.html"><img class="ui fluid image" src="../assets/images/events/art/Index%20explore-european-artists-van-gogh-pic.jpg" style="height:  350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">The infinite whatever</h3>
                <a href="events/performance/debbie.html"> <img class="ui fluid image" src="../assets/images/events/art/Debbie%20Godsell%20The%20Infinite%20Whatever%20Debbie%20Godsell%20Image%201.jpg" style="height: 350px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Archetype/ Uchronia</h3>
                <a href="./events/visual-art/uchronia.html"><img class="ui fluid image" src="../assets/images/events/art/Sinead%20McDonald%20'Self%20Portrait%20Once%20Removed'%20Sinead%20McDonald.jpg" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Pinhole Photography</h3>
                <a href="./events/visual-art/pinhole.html"><img class="ui fluid image" src="../assets/images/events/art/pinhole.png" style="height:  250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Creative Identities</h3>
                <a href="./events/visual-art/creative.html"><img class="ui fluid image" src="../assets/images/events/art/creative.png" style="height:  250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Imagine Exhibition Awards 2017</h3>
                <a href="./events/visual-art/grads.html"><img class="ui fluid image" src="../assets/images/events/art/grads/Grad,%20Robyn%20Deasy%20.jpg" style="height:  350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">The infinite whatever</h3>
                <a href="events/performance/debbie.html"> <img class="ui fluid image" src="../assets/images/events/art/Debbie%20Godsell%20The%20Infinite%20Whatever%20Debbie%20Godsell%20Image%201.jpg" style="height: 350px"></a>
            </div>
        </div>
    </div>
</div>
