<div class="bgimg-3">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/volunteer.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>
<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">How To Get Involved</h3>
        <p>Imagine Arts Festival run over 100 events across 10 days.</p>
        <p>With out the help of our volunteers this would not be possible.</p>
        <p>If you want to get involved with an inviting and social group of people.</p>
        <p>Do not hesitate to contact us today to discuss how to get involved.</p>
        <a class="ui secondary basic button" href="./contact.html">Contact Us  <i class="send outline icon"></i></a>
    </div>
</div>
<div class="bgimg-5">
    <div class="ui vertical stripe center aligned segment">
        <div class='ui text container'>
            <h1 class="ui inverted header">Need to know more?</h1>
            <p>Imagine is now its 16th year and has grown to be one of Irelands premier arts festivals.</p>
            <a class="ui secondary basic button" href="../index.html#about">Click for More</a>
        </div>
    </div>
</div>
