<div class="landing-head"></div>
<div class="ui container">
    <br>
    <div class="ui dividing header">
        Get Involved
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/parallax3.jpg">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">
                Want to Help Out
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Graccho, eius fere, aequalí? Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Quam tu ponis in verbis, ego positam in re putabam. Sed haec quidem liberius ab eo dicuntur et saepius. Experiamur igitur, inquit, etsi habet haec Stoicorum ratio difficilius quiddam et obscurius. Duo Reges: constructio interrete. Tu enim ista lenius, hic Stoicorum more nos vexat. Minime vero istorum quidem, inquit. Rationis enim perfectio est virtus;</p>
            <a href="../contact.html"><button class="ui fluid blue button">Contact Us</button></a>
        </div>
    </div>
</div>