<div class="bgimg-5">
  <div class="ui masthead vertical stripe center aligned segment">
    <div class="ui text container">
        <img class="ui fluid image" src='../../assets/images/writers.png' />
        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
    </div>
  </div>
</div>
<div class="ui container" id="home">
    <br>
    <h1 class="ui dividing header">Writers Weekend Lineup 2017</h1>
    <div class="ui piled segment">
        <h3 class="ui header">Friday 20 October</h3>

        <p>4pm | City Library | Children's workshop with Dave Rudden | Free, for Ages 10+</p>
        <p>5pm | Theatre Royal Vestibule | WWW Launch with Rick O'Shea | The winners of the national Waterford Poetry Prize 2017 will be announced and prizes presented | Free</p>
        <p>6pm | Theatre Royal Vestibule | Public Interview by Edel Coffey with author, screenwriter and playwright Stefanie Preissner | Free</p>
        <p>7pm | The Book Centre | Book Launch by local writer Derek Flynn | Free</p>
        <p>8pm | Henry Downes | Waterford Whispers News presents Newsageddon | €7adm <a href="https://uticket.ie/event/newsageddon"><i class="ticket large black icon"></i></a></p>
        <p>9:30pm | Medieval Museum Garden Room | Public Interview with Paul Howard | Interviewer : Damien O'Meara | €10 adm <a href="https://uticket.ie/event/paul-howard"><i class="ticket large black icon"></i></a></p>
    </div>
    <div class="ui piled segment">
        <h3 class="ui header">
            Saturday 21 October
        </h3>
            <p>11am | City Library | Childrens workshop - Judi Curtin | Free, For Ages 8+</p>
            <p>11:30am | Greyfriars Gallery | Workshop - Couch to 100k with Cat Hogan | €10 <a href="https://uticket.ie/event/couch-to-100k"><i class="ticket large black icon"></i></i> </a></p>
            <p>12noon | The Book Centre | The Story House Presents... Public Interview - Barry Mckinley | Interviewer : Tony Clayton-Lee | Free</p>
            <p>1pm | Event | Motherfocloir | Dispatches From A Not So Dead Language | Darach O'Seaghdha | Geoff's Pub | Free</p>
            <p>2pm | Panel | Self-Publishing with Hazel Gaynor and Eamon Ambrose | The Library | Moderator : Vanessa O'Loughlin | Free</p>
            <p>3pm | Poetry Collection Launch by local poet Mark Roper | Greyfriars Gallery | Launched by : Hames Harpur Free</p>
            <p>4pm | Hazel Gaynor talks about her book on the famous hoax of The Cottingley Fairies | Christ Church Cathedral | Free</p>
            <p>5pm | Poetry Event | The Politics Of Poetry w/ Sarah Clancy, Karl Parkinson, Elaine Feeney & Dave Lordan & two local young poets Alana Daly Mulligan and Sasha Terfous with music by Derek Flynn and friends | Downes Lounge | Host : Sarah Clancy | €7adm<a href="https://uticket.ie/event/politics-of-poetry"><i class="ticket large black icon"></i></i> </a></p>
            <p>6pm | Public Interview hotelier and TV personality Francis Brennan | Large Room - City Hall | Interviewer : Sinead Crowley | €7adm or €20 for Large Room 3 events <a href="https://uticket.ie/event/francis-brennan"><i class="ticket large black icon"></i></i> </a></p>
            <p>7:30pm | Panel Event | featuring Women Crime Writing with Jane Casey, Alex Barclay, Sinead Crowley & Sam Blake | Large Room City Hall | €7adm <a href="https://uticket.ie/event/crime"><i class="ticket large black icon"></i></i> </a></p>
            <p>9pm | Public Interview Fine Gael ex-Minister for Justice and now fiction writer Alan Shatter | Large Room City Hall | Interviewer : Rick O'Shea | €10adm <a href="https://uticket.ie/event/alan-shatter"><i class="ticket large black icon"></i></i> </a></p>
    </div>
    <div class="ui piled segment">
        <h3 class="ui header">
            Sunday 22 October
        </h3>
        <p>11am | Poetry Workshop for adults with Dave Lordan | GOMA Gallery | 10adm <a href="https://uticket.ie/event/poetry-workshop"><i class="ticket large black icon"></i></i> </a></p>
        <p>12noon | Poetry / Spoken Word Event | Secular Sunday Service with Doireann Ni Ghriofa, Sinead Gleeson, Rob Doyle,
        Sarah Clancy. Also Local poets Mark Roper, Edward Denniston and Frank Farrelly | Medieval Museum Garden Room | This event will be broadcast live on WLRfm |
            €7adm <a href="https://uticket.ie/event/secular-sunday-service"><i class="ticket large black icon"></i></i> </a></p>
        <p>1pm | Panel |How NOT to Approach Publishers with Lisa Coen & Sarah Davis-Goff | The Parlour Vintage Tea Rooms</p>
        <p>2pm | Panel | First-timers with Sally Rooney, Ciaran McMenamin, Eithne Shortall | Medieval Museum, Garden Room |
        Moderator : Rick O'Shea | €7adm <a href="https://uticket.ie/event/first-timers"><i class="ticket large black icon"></i></i> </a></p>
        <p>3pm-3.45pm | Waterfordopedia with Kathi and John Burke | Garter Lane Theatre | €4 each or €12 for family of four Booking
        through garterlane.ie</p>
        <p>4.30pm | Public Interview by Sinead Gleeson with crime writer Liz Nugent | Medieval Museum Garden Room | €7adm <a href="https://uticket.ie/event/liz-nugent"><i class="ticket large black icon"></i></i> </a></p>
    </div>
    <div class="ui piled segment">
        <h3 class="ui header">
            Extra Literature Events
        </h3>
        <p><b>Friday 27th October</b> | 7:30pm | Modpoets | The Parlour Vintage Tea Rooms <a href="https://uticket.ie/event/modpoets"><i class="ticket large black icon"></i></i> </a> </p>
        <p><b>Saturday 28th October</b> | 3pm | Poetry Book Launch Edward Denniston | Greyfriars Gallery</p>
        <p><b>Saturday 28th October</b> | 8pm | Spokes Samhain Poetry night with Andrej Kapor | Phil Grimes <a href="https://uticket.ie/event/spokes"><i class="ticket large black icon"></i></i> </a></p>
    </div>

    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">Paul Howard</h3>
            <a href="events/writers/paul.html"> <img class="ui fluid image" src="../assets/images/events/writers/paul%20howard.jpg" style="height: 350px"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Cat Hogan</h3>
            <a href="events/writers/cat-hogan.html"> <img class="ui fluid image" src="../assets/images/events/writers/CatHogan--3.jpg" style="height: 350px"></a>
        </div>


        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Dave Rudden</h3>
                <a href="events/writers/dave-rudden.html"> <img class="ui fluid image" src="../assets/images/events/writers/dave%20rudden.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Doireann Ní Ghríofa</h3>
                <a href="events/writers/doireann.html"> <img class="ui fluid image" src="../assets/images/events/writers/Doireann%20Ní%20Ghríofa.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Eamon Ambrose</h3>
                <a href="events/writers/eamon-ambrose.html"> <img class="ui fluid image" src="../assets/images/events/writers/eamon%20ambrose.jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Edward Denniston</h3>
                <a href="events/writers/denniston.html"> <img class="ui fluid image" src="../assets/images/events/writers/edward.jpg" style="height: 350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Francis Brennan</h3>
                <a href="events/writers/mr-brennan.html"> <img class="ui fluid image" src="../assets/images/events/writers/Francis%20Brennan%201.jpg" style="height: 350px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Eithne Shortall</h3>
                <a href="events/writers/eithne.html"> <img class="ui fluid image" src="../assets/images/events/writers/Eithne%20Shortall.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Hazel Gaynor</h3>
                <a href="events/writers/hazel.html"> <img class="ui fluid image" src="../assets/images/events/writers/Hazel%20Gaynor,%20copyright%20Deasy%20Photographic.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Karl Parkinson</h3>
                <a href="events/writers/karl.html"> <img class="ui fluid image" src="../assets/images/events/writers/Karl%20Parkinson.jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Liz Nugent</h3>
                <a href="events/writers/liz.html"> <img class="ui fluid image" src="../assets/images/events/writers/Liz%20Nugent.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Alan Shatter</h3>
                <a href="events/writers/alan-shatter.html"> <img class="ui fluid image" src="../assets/images/events/writers/Alan%20Shatter.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Sinead Gleeson</h3>
                <a href="events/writers/sinead-gleeson.html"> <img class="ui fluid image" src="../assets/images/events/writers/Sinead%20Gleeson.jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Rob Doyle</h3>
                <a href="events/writers/rob.html"> <img class="ui fluid image" src="../assets/images/events/writers/Rob%20Doyle%20B&W-9492.jpg" style="height: 350px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Waterfordopedia</h3>
                <a href="events/writers/fatti.html"> <img class="ui fluid image" src="../assets/images/events/writers/Fatti%20Burke.jpg" style="height: 350px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Sam Blake</h3>
                <a href="events/writers/sam.html"> <img class="ui fluid image" src="../assets/images/events/writers/samblake%20landscape.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Sinead Crowley</h3>
                <a href="events/writers/sinead-crowley.html"> <img class="ui fluid image" src="../assets/images/events/writers/Sinead%20Crowley.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Tramp Press</h3>
                <a href="events/writers/tramp-press.html"> <img class="ui fluid image" src="../assets/images/events/writers/Lisa%20Coen%20(left)%20and%20Sarah%20Davis-Goff.jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">

            <div class="column">
                <h3 class="ui dividing header">Samhain with guest poet Andre Kpor</h3>
                <a href="events/writers/samhain.html"> <img class="ui fluid image" src="../assets/images/events/writers/Andrej_Kapor.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Modpoets</h3>
                <a href="events/performance/modpoets.html"> <img class="ui fluid image" src="../assets/images/events/theatre/Modpoets.png" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Sally Rooney</h3>
                <a href="events/writers/sally-rooney.html"> <img class="ui fluid image" src="../assets/images/events/writers/Conversations%20with%20Friends%20TPB%20-%20Faber-SR-23.jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Mark Roper</h3>
                <a href="events/writers/roper.html"> <img class="ui fluid image" src="../assets/images/events/writers/mark.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Stefanie Preissner</h3>
                <a href="events/writers/preissner.html"> <img class="ui fluid image" src="../assets/images/events/writers/stefanie%20preissner.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Darach Ó Séaghdha</h3>
                <a href="events/writers/darach.html"> <img class="ui fluid image" src="../assets/images/events/writers/darach%20o%2527seaghada.jpg" style="height: 250px"></a>
            </div>
        </div>

        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Dave Lordan</h3>
                <a href="events/writers/lordan.html"> <img class="ui fluid image" src="../assets/images/events/writers/dave%20lordan.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Barry McKinley </h3>
                <a href="events/writers/bmckinley.html"> <img class="ui fluid image" src="../assets/images/events/writers/Barry_McKinley_Landscape_Headshot%20(2)%20(1).jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Judi Curtin</h3>
                <a href="events/writers/judi.html"> <img class="ui fluid image" src="../assets/images/events/writers/judi%20curtin.jpg" style="height: 250px"></a>
            </div>
        </div>
        <div class="ui stackable equal width row">
            <div class="column">
                <h3 class="ui dividing header">Waterford Whispers Newsaggedon</h3>
                <a href="events/writers/newsageddon.html"> <img class="ui fluid image" src="../assets/images/events/writers/colm%20williamson.jpg" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Elaine Feeney</h3>
                <a href="events/writers/elaine.html"> <img class="ui fluid image" src="../assets/images/events/writers/elaine%20feeney.JPG" style="height: 250px"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">Derek Flynn</h3>
                <a href="events/writers/derek.html"> <img class="ui fluid image" src="../assets/images/events/writers/Author%20Pic.jpg" style="height: 250px"></a>
            </div>
        </div>




    </div>
</div>
