<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Music and Dance Workshops</h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Aidan O'Donnell
                </div>
                <img src="../../../assets/images/events/trad/Aidan%20O'Donnell.jpg" style="height: 400px"/>
            </div>
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 21st, 11am - 2pm <div class="sub header">Gaelscoil na nDéise, Carrickpherish</div> </h3>
            <p>
                <b>Admission : </b>€25 for instrumental classes, €15 for dance class, €10 for beginner whistle), Family Prices Available
            </p>
            <p>
                <b>For Information : </b>contact johndwyertradweekend@outlook.com or 087-9664436
            </p>
            <p>
                Aidan O'Donnell and Dylan Foley (Fiddle), Mairead Hurley and Jack Talty (Concertina), Ann Marie Gorgan (Tin Whistle),
                John Black (Flute), Padraig McGoven (Uilleann Pipes), Irene Cunningham (Sean Nos Dance),
                Derek Hickey (Accordion), Brian McGrath (Banjo)
            </p>
            <p>
                A seperate tin whistle class for <b>total beginners</b> will take place from 11:30am - 1:30pm
            </p>
        </div>
    </div>
    <div class="ui stackable four column grid">
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Anne-Marie Gorgan
                </div>
                <img src="../../../assets/images/events/trad/Anne-Marie%20Grogan.jpg" style="height: 275px">
            </div>
        </div>
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Dylan Foley
                </div>
                <img src="../../../assets/images/events/trad/Dylan.jpg" style="height: 275px">
            </div>
        </div>
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Padraig McGovern
                </div>
                <img src="../../../assets/images/events/trad/Padraig-McGovern.jpg" style="height: 275px">
            </div>
        </div>
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Mairead Hurley
                </div>
                <img src="../../../assets/images/events/trad/Mairead%20Hurley.jpg" style="height: 275px">
            </div>
        </div>
    </div>
    <br/>
    <div class="ui divider"></div>
</div>