<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Noel Hill and Frankie Gavin, with Brian McGrath <div class="sub header">Opening Concert</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Noel Hill
                </div>
                <img src="../../../assets/images/events/trad/Noel%20Hill.jpg" style="height: 400px"/>
            </div>
        </div>

        <div class="ui column">
            <h3 class="ui header">Friday October 20th, 8pm <div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                Two giants of Irish traditional music come together for a rare performance at this
                year&#39;s John Dwyer Weekend. The &#39;kings&#39; of concertina and fiddle will put on a
                rousing performance that any lover of traditional music will not want to miss.
            </p>
            <p>
                Noel Hill is one of those standard-setting voices in Irish music today. Few
                musicians in any field or in any generation achieve a position where both
                audiences and experts agree on their preeminence and mastery of an
                instrument; Noel Hill’s virtuosity has firmly established him as the defining
                Irish concertina player of our time.
            </p>
            <p>
                Frankie Gavin is the most celebrated Irish fiddle player of all time and has performed
                and recorded with rock legends The Rolling Stones, Jazz Legend Stephane Grappelli
                and world renowned violinist Sir Yehudi Menuhin amongst many others.
                ​He is considered by most to be the most virtuosic fiddle player in the Irish Tradition.
            </p>
            <p>
                They will be joined on the night by Brian McGrath on piano for what will be certainly
                one of the most unforgettable performances of the festival to-date.
            </p>
            <p>
                <b>Admission : </b> €15 and €12 conc.
            </p>
        </div>
    </div>
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Frankie Gavin
                </div>
                <img src="../../../assets/images/events/trad/Frankie%20Gavin.jpg" style="height: 400px">
            </div>
        </div>
        <div class="column">
            <div class="ui fluid image">
                <div class="ui black ribbon label">
                    Brian McGrath
                </div>
                <img src="../../../assets/images/events/trad/Brian%20McGrath.jpg" style="height: 400px">
            </div>
        </div>
    </div>

    <div class="ui divider"></div>
</div>