<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Pub Sessions<div class="sub header">Featuring top players from throughout Ireland</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/trad/trad.jpg" style="height: 300px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday October 20th - Sunday October 22nd</h3>
            <p>
                <b>Friday 20th 10pm - Midnight</b> : Jordans Bar, Dooleys Hotel, Reginald Bar, Downes
            </p>
            <p>
                <b>Saturday 21st Afternoon Sessions </b> : 3pm to 5pm Tullys Bar / 4pm to 6pm Reginald Bar / 6pm - 8pm
                Tullys
            </p>
            <p>
                <b>Saturday 21st Night Sessions</b> : 10pm - Midnight Jordans Bar, Dooleys Hotel, Reginald Bar, Downes Bar
            </p>
            <p>
                <b>Late Night Festival Club</b> :  12 midnight to 2am Dooleys Hotel Bar
            </p>
            <p>
                <b>Sunday 22nd</b> : Final Session 2pm, Dooleys Bar
            </p>

        </div>
    </div>
</div>