<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">John Dwyer and Friends in Concert</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/trad/Jack%20Talty.jpg" style="height: 300px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday October 20th<div class="sub header">St. Patrick's Gateway Centre</div> </h3>
            <p>
                A gala concert ​featuring John Dwyer (fiddle), Mairéad Hurley (concertina) and John
                Blake (flute), Padraig McGovern (uilleann pipes), Ann Marie Grogan (whistle/flute),
                Brian McGrath (banjo) and Derek Hickey (accordion), Jack Talty (concertina), Aidan
                O&#39;Donnell (fiddle), Dylan Foley (fiddle), Irene Cunningham (dance) with Neill Byrne
                (fiddle), Edel Fox (concertina), Seán Ó Fearghail (bouzouki) and Caoimhín Ó
                Fearghail (guitar).
            </p>
            <p>
                <b>Admission : </b> €12 and €10 conc. <a href="https://uticket.ie/event/john-dwyer"><i class="ticket large black icon"></i></i></a>
            </p>
        </div>
    </div>
</div>