<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Final of U-18 composition competition<div class="sub header"><i>Sponsored by Custy&#39;s Music​ Shop, Co. Clare</i></div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/trad/u18.jpeg">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 21st, 3:30pm<div class="sub header">Dooley's Hotel</div> </h3>
            <p>
                This competition is open to U-18 traditional musicians on all instruments. All tune
                types, within the traditional idiom, will be accepted. Please send mp3/digital
                recordings to <b>johndwyertradweekend@outlook.com</b> before Friday 13th October. The
                winning tunes will be chosen by John Dwyer himself.
            </p>
            <p>
                For more information, contact <b>087-9664436</b>
            </p>
        </div>
    </div>
</div>