<footer>
    <div class="ui divider"></div>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Visual Arts</h4>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Live Music</h4>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Theatre</h4>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Trad Weekend</h4>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Writers Weekend</h4>

                </div>
            </div>
            <div class="ui section divider"></div>
            <h4 class="ui inverted header">Imagine Arts Festival</h4>
            <div class="ui inverted horizontal small divided link list">
                <a class="item" href="https://www.google.ie"><i class="large facebook square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large google plus square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large instagram icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large snapchat square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large twitter square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large vimeo square icon"></i></a>
            </div>
        </div>
    </div>

</footer>
