<footer>
    <div class="ui divider"></div>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui header">Visual Arts</h4>
                    <div class="ui link list">
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link One</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Two</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Three</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Live Music</h4>
                    <div class="ui link list">
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link One</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Two</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Three</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Theatre</h4>
                    <div class="ui link list">
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link One</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Two</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Three</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Trad Weekend</h4>
                    <div class="ui link list">
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link One</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Two</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Three</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Writers Weekend</h4>
                    <div class="ui link list">
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link One</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Two</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Three</a>
                        <a href="https://semantic-ui.com/examples/fixed.html#" class="item">Link Four</a>
                    </div>
                </div>
            </div>
            <div class="ui section divider"></div>
            <img src="../../assets/images/imagine.png" class="ui centered tiny image">
            <div class="ui horizontal small divided link list">
                <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Site Map</a>
                <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Contact Us</a>
                <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Terms and Conditions</a>
                <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Privacy Policy</a>
            </div>
        </div>
    </div>

</footer>