<footer>
    <div class="ui divider"></div>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui header">Visual Arts</h4>
                    <div class="ui link list">
                        <a href="https://www.google.ie" class="item">Link One</a>
                        <a href="https://www.google.ie" class="item">Link Two</a>
                        <a href="https://www.google.ie" class="item">Link Three</a>
                        <a href="https://www.google.ie" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Live Music</h4>
                    <div class="ui link list">
                        <a href="https://www.google.ie" class="item">Link One</a>
                        <a href="https://www.google.ie" class="item">Link Two</a>
                        <a href="https://www.google.ie" class="item">Link Three</a>
                        <a href="https://www.google.ie" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Theatre</h4>
                    <div class="ui link list">
                        <a href="https://www.google.ie" class="item">Link One</a>
                        <a href="https://www.google.ie" class="item">Link Two</a>
                        <a href="https://www.google.ie" class="item">Link Three</a>
                        <a href="https://www.google.ie" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Trad Weekend</h4>
                    <div class="ui link list">
                        <a href="https://www.google.ie" class="item">Link One</a>
                        <a href="https://www.google.ie" class="item">Link Two</a>
                        <a href="https://www.google.ie" class="item">Link Three</a>
                        <a href="https://www.google.ie" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Writers Weekend</h4>
                    <div class="ui link list">
                        <a href="https://www.google.ie" class="item">Link One</a>
                        <a href="https://www.google.ie" class="item">Link Two</a>
                        <a href="https://www.google.ie" class="item">Link Three</a>
                        <a href="https://www.google.ie" class="item">Link Four</a>
                    </div>
                </div>
            </div>
            <div class="ui section divider"></div>
            <img src="../../assets/images/imagine.png" class="ui centered tiny image">
            <div class="ui horizontal small divided link list">
                <a class="item" href="https://www.google.ie"><i class="large facebook square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large google plus square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large instagram icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large snapchat square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large twitter square icon"></i></a>
                <a class="item" href="https://www.google.ie"><i class="large vimeo square icon"></i></a>
            </div>
        </div>
    </div>

</footer>
