
<header>
    <div class="ui six item top fixed menu">
        <a class="ui item" href="../../index.html">
            <img src="../../assets/images/imagine.png" class="ui centered tiny image">
        </a>
        <a class="ui item" href="../../index.html">Home</a>
        <div class="ui simple dropdown item">
            <span class="text">Events</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="ui item" href="../../strands/vaevent.html">Visual Arts</a>
                <a class="ui item" href="../../strands/mevent.html">Music</a>
                <a class="ui item" href="../../strands/tevent.html">Theatre</a>
                <div class="ui divider"></div>
                <a class="ui item" href="../../strands/tradevent.html">Trad Fest</a>
                <a class="ui item" href="../../strands/writerevent.html">Writers Weekend</a>
                <div class="ui divider"></div>
                <a class="ui item" href="../../strands/dateevent.html">By Date</a>
            </div>
        </div>
        <a class="ui item" href="../../team.html">Team</a>
        <a class="ui item">Timetable</a>
        <a class="ui item">Contact Us</a>
    </div>
</header>
