
<header>
    <div class="ui six item top fixed menu">
      <div class="ui container">
        <a class="ui item" href="../../index.html">
            Imagine Arts
        </a>
        <div class="ui simple dropdown item">
            <span class="text">Events</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="ui item" href="../../strands/vaevent.html">Visual Arts</a>
                <a class="ui item" href="../../strands/mevent.html">Music</a>
                <a class="ui item" href="../../strands/tevent.html">Theatre</a>
                <div class="ui divider"></div>
                <a class="ui item" href="../../strands/tradevent.html">Trad Fest</a>
                <a class="ui item" href="../../strands/writerevent.html">Writers Weekend</a>
                <div class="ui divider"></div>
                <a class="ui item" href="../../strands/dateevent.html">By Date</a>
            </div>
        </div>

        <a class="ui item" href="../../timetable.html">Timetable</a>

        <div class="ui simple dropdown item">
          <span class="text">The Festival</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="ui item" href="#">About the Festival</a>
            <a class="ui item" href="../../team.html">Meet the Team</a>
            <div class="ui divider"></div>
            <a class="ui item" href="#">Visual Art</a>
            <a class="ui item" href="#">Music</a>
            <a class="ui item" href="#">Performance</a>
            <div class="ui divider"></div>
            <a class="ui item" href="#">Writers Weekend</a>
            <a class="ui item" href="#">Trad Fest</a>
          </div>
        </div>

        <div class="ui simple dropdown item">
          <span class="text">Get Involved</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="ui item" href="../../strands/volunteer.html">Volunteer</a>
            <a class="ui item" href="#">Sponser</a>
            <div class="ui divider"></div>
            <a class="ui item" href="#">Social Media</a>
            <a class="ui item" href="../../contact.html">Contact Us</a>
          </div>
        </div>

        <a class="ui item" href="../../contact.html">Contact Us</a>
    </div>
  </div>
</header>
