<section>
    <div class="ui container">
        <div class="ui divider"></div>
        <div class="ui equal width row">
            <div class="ui vertical center aligned segment">
                Proudly Sponsered by
            </div>
        </div>
        <div class="ui stackable centered equal width grid">
            <div class="column">
                <div class="ui vertical center aligned segment">
                    <br>
                    <img class="ui centered small image" src="../../assets/images/sponsors/spon-1.jpeg">
                </div>
            </div>
            <div class="column">
                <div class="ui vertical center aligned segment">
                    <img class="ui centered small image" src="../../assets/images/sponsors/spon-3.png">
                </div>
            </div>
            <div class="column">
                <br>
                <div class="ui vertical center aligned segment">
                    <img class="ui centered small image" src="../../assets/images/sponsors/spon-2.jpg">
                </div>
            </div>
        </div>
    </div>
</section>