<div class="ui container">
    <br>
    <h1 class="ui dividing header">
        Ones To Watch
    </h1>
    <div class="ui special cards" style="padding-top: 10px">
        <div class="ui stackable two column grid">
            <div class="ui column">
                <h2 class="ui header">John Dwyer and Friends in Concert</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../../strands/events/trad/tutors.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/trad/John%20Dwyer.jpg" style="height: 370px">
                    </div>
                </div>
            </div>

            <div class="ui column">
                <h2 class="ui header">Paul Howard</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../strands/events/writers/paul.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/writers/paul%20howard.jpg" style="height: 370px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
