<div class="ui container">
    <br>
    <h1 class="ui dividing header">
        Ones To Watch
    </h1>
    <div class="ui special cards" style="padding-top: 10px">
        <div class="ui stackable two column grid">
            <div class="ui column">
                <h2 class="ui header">BOAT - Ben Hennessy</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../../strands/events/visual-art/benhen.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/art/boat.png" style="height: 370px">
                    </div>
                </div>
            </div>

            <div class="ui column">
                <h2 class="ui header">Submerged</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../strands/events/visual-art/submerged.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/art/vlcsnap-2017-06-28-10h23m12s144.png" style="height: 370px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
