<div class="ui container">
    <br>
    <h1 class="ui dividing header">
        Ones To Watch
    </h1>
    <div class="ui special cards" style="padding-top: 10px">
        <div class="ui stackable two column grid">
            <div class="ui column">
                <h2 class="ui header">Propeller Palms</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../../strands/events/music/propeller-palms.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/events/music/Propeller%20Palms.jpg" style="height: 370px">
                    </div>
                </div>
            </div>

            <div class="ui column">
                <h2 class="ui header">Battle of the Blaas</h2>
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../../../strands/battle-of-the-blaas.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <img src="../../../assets/images/blaatle/blaatle2.jpg" style="height: 370px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
