<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Title</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../assets/images/parallax2.jpg">
        </div>
        <div class="ui column">
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Conferam avum tuum Drusum cum C. Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque concedimus; An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat? Duo Reges: constructio interrete. Utinam quidem dicerent alium alio beatiorem! Iam ruinas videres. Moriatur, inquit. Nos paucis ad haec additis finem faciamus aliquando;
            </p>
            <p>***link to ticket somewhere here***</p>
        </div>
    </div>
</div>