<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Alice In WonderLand<div class="sub header">adapted by Jocelyn Clarke</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Alice%20In%20Wonderland.png" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday 26 - Saturday 28 October, 8pm<div class="sub header">Garter Lane Theatre</div> </h3>
            <p>
                A spooky tale for Halloween. This classic literary tale enthrals and engages children and adults alike, as
                they follow Alice who falls down a rabbit hole and lands into a world full of fantastic people and strange and
                unpredictable events. Originally adapted for the stage by Jocelyn Clarke, this acclaimed production was
                restaged by Blue Raincoat last year as part of the company&#39;s 25th year celebrations. This fast-paced and
                physical retelling of Alice in Wonderland has a running time of 70 minutes, no interval.
            </p>
            <p>
                Choreographed and directed by Libby Seward.
            </p>
            <p>
                Created in collaboration with dancers: Jess Rowell and Tobi Omoteso
            </p>
            <p>
                <b>Admission : </b> Tickets €21/16 <a href="http://www.garterlane.ie/"><i class="ticket large black icon"></i>garterlane.ie</a>
            </p>

        </div>
    </div>
</div>