<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Janey Dillis<div class="sub header">Presented by Callback Theatre</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/janey.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Wednesday 25th & Thursday 26th October, 6pm<div class="sub header">Central Hall</div> </h3>
            <p>
                From the company who brought you the HIT show Fred & Alice . . . What would happen if you woke up
                one morning, found yourself in the middle of a snow storm and you have no power, no heat, no phone, no food?
            </p>
            <p>
                Welcome to the world of Janey Dillis, Janey hasn't left her house in 25 years. No one has set foot inside her house
                in 20 years which up till now has been just the way she likes it.
            </p>
            <p>
                <b>Admission : </b> €12
            </p>
        </div>
    </div>
</div>