<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Modpoets </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Modpoets.png" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday October 27th, 7:30pm<div class="sub header">The Parlour Vintage Tea Rooms</div> </h3>
            <p>
                A night showcasing Waterford’s talents focusing on spoken word but veering in its many directions. All art
                forms are welcome. No rules, glamour always advised, be wonderful. 
                All types of humans. All types of ages.
            </p>
            <p>
                Hosted by Anna Jordan
            </p>
            <p>
                <b>Admission :</b> €2 (suggested) <a href="https://uticket.ie/event/modpoets"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>