<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Reginald D Hunter</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Reginald%20D%20Hunter.png" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday October 20th, 8pm<div class="sub header">Theatre Royal</div> </h3>
            <p>
                Reginald’s searingly honest material has garnered him a popular fan base that spans the
                generations. Over the past two decades he has become one of the UK Comedy industry’s best-
                known performers for his distinctive take on subjects including race and sexuality. His work can be
                brutally honest and is often considered to be controversial but it is always meticulously thought out
                and he has never been afraid to face challenging issues head on, even 
                when the focus is on his own principles or belief.
            </p>
        </div>
    </div>
</div>