<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Savage Love<div class="sub header">Directed by Lenny Hayden</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/savage.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday 27 & Saturday 28 October, 6pm<div class="sub header">Besco Ballybricken</div> </h3>
            <p>
                Sam Shepard, who died earlier this year, was one of America’s foremost playwrights who followed on
                from Arthur Miller as a chronicler of the human story in modern day America.
                In this play he condenses human emotions into poems or utterances that are left open to interpretation by
                the actors and the audience.
                This is an ensemble of six actors and musicians who weave their way through these utterances and find
                their own meaning in them. With song, dance, laughter and tears, this is a journey through the human
                experience.
            </p>

            <p>
                <b>Admission : </b> €12
            </p>
        </div>
    </div>
</div>