<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Shadow Dancing<div class="sub header">Workshop</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Shadow%20Dancing%20%20Karen%20and%20Trish.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Wednesday October 25th, 3pm<div class="sub header">5 O'Connell Street</div> </h3>
            <p>
                Aimed at all ages from 13 years and upwards this fun creative workshop will use Dance, Art and Music to bring participants on a journey of discovery.
            </p>
            <p>
                Often we hide aspects of ourselves and through various techniques the participants will feel a safety and freedom to express themselves and find the energy and creativity to let some of that inner beauty escape.

            </p>
            <div class="ui bulleted list">
                <div class="item">Dance</div>
                <div class="item">Art</div>
                <div class="item">Music</div>
                <div class="item">Therapeutic Dialogues</div>
            </div>
            <p>
                You will learn more about your beautiful hidden self and move into being happier with
                who you are.
            </p>
            <p>
                <b>Admission : </b>€15 <a href="https://uticket.ie/event/shadow-dancing"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>