<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">SLSD<div class="sub header">No Kissin' Ensemble</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/SLSD.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday 28 October, 10pm<div class="sub header">Besco Ballybricken</div> </h3>
            <p>
                One night we searched for hidden location of SLSD. We fought fear. In an underground rave a collective of people
                find their voice, their sound and their home - SLSD, its story told from inside its walls, by the people
                entranced ( and entrapped) by its allure. With a unique combination of spoken word, music and
                striking visuals exploring club culture and the power of a collective. No Kissin' invites you to experience the sound,
                the place and the people. There will never be another night like this
            </p>

            <p>
                <b>Admission : </b> €15
            </p>
        </div>
    </div>
</div>