<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Thebes<div class="sub header">A Life in Shadows</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Undercrofts.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday 22 October, 6pm & 6:45pm<div class="sub header">Viking Museum, Undercroft</div> </h3>
            <p>
                A shadow theatre performance with live music based on the ancient Greek story of
                'Antigone' by Sophocles and performed within the ancient walls of Waterford City
            </p>

            <p>
                <b>Admission : </b> €6
            </p>
        </div>
    </div>
</div>