<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Will it Fit in the Van?<div class="sub header">Black Comedy</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Opening%20Scene%20of%20Will%20it%20Fit%20in%20the%20Van%20with%20Alan%20Mooney,%20Darragh%20Keating%20and%20Patrick%20Lehane,%20Photography%20by%20Hayley%20Stuart.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Friday 20 October, 8pm<div class="sub header">Garter Lane Theatre</div> </h3>
            <p>
                &#39;Will it Fit in the Van?&#39; is a fresh piece of original writing from Waterford playwright Conor Clancy,
                directed by Al Dalton, and developed and produced by Strive Theatre. This farcical black comedy
                delves into a world of poorly run drug distribution in a small town in Ireland full of kidnapping,
                murder, cocaine, biscuits, beloved horses, car batteries, the clergy and a very important chipper.
            </p>
            <p>
                &quot;A brilliant and bizarre black comedy that shines light and laughter on Ireland. A must-see&quot;
                <b>Maura Walsh, The Arts Show NearFM 90.3</b>
            </p>
            <p>
                &#39;A sparkling new comedy that entertains from start to finish. Bizarre and downright insane&#39;
                <b>Pat McEvoy, Waterford News &amp; Star</b>
            <p>
                <b>Admission : </b>
            </p>
        </div>
    </div>
</div>