<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Youth Dance Celebration </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/theatre/Youth%20Dance%20Celebration.jpg" style="height: 350px">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Sunday October 22th, 5pm<div class="sub header">Theatre Royal</div> </h3>
            <p>
                Youth Dance Celebration is a unique dance feast served with energy and panache! This popular
                annual event, now in its 15th year brings Waterford's keen and dedicated young dancers together
                to celebrate their passion for dance. The variety of disciplines includes Classical Ballet,
                Contemporary Dance, Jazz, Hip Hop, Bollywood and Classical Indian Dance, presented by students of
                dance from local dance groups and schools.
            </p>
            <p>
                <b>Admission : </b> €7/€20 Family of 4 <a href="http://www.theatreroyal.ie/"><i class="ticket large black icon"></i>theatreroyal.ie</a>
            </p>
        </div>
    </div>
</div>