<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Genius Loci</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/20ten.png" style="height: 375px;">
        </div>
        <div class="ui column">
            <h3 class="ui header">Duration of Festival<div class="sub header">20ten</div> </h3>
            <p>
                The Roman idea of Genius loci - spirit of a place - is common to many cultures.  Traditionally
                the term referred to a protective deity or an elemental form bound to or part of a particular
                environment.  It may also be a powerful but benevolent, highly intelligent spirit guiding
                travellers on life&#39;s journey.
            </p>
            <p>
                Today the term is often used to describe the cherished essence of a unique landscape or a
                location&#39;s distinctive atmosphere. It may be experienced as a sentient place with intense
                energy fields - empowering and impacting the lives of ordinary people, or an environment that
                carries the imprint of those who passed through.
            </p>
            <p>
                This exhibition of new work includes paintings, photography, prints and sculpture by Group
                20ten members Pat Carri, Darragh Lyons, Pat McArdle, Christine O&#39;Brien, Conor Rush, Milia
                Tsaoussis-Maddock and Beata Zakrzewska.
            </p>
            <p>
                Gallery 20ten, 18a Lombard St, is open to the public from 1 to 5pm Wednesday to Saturday
                and by appointment. For information email gallery@20tenartgroup.com.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>