<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Aideen Barry<div class="sub header">Talk</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/AB%20Images.009.jpeg">
        </div>
        <div class="ui column">
            <h3 class="ui header">Tuesday October 25th<div class="sub header">GOMA</div> </h3>
            <p>
                Aideen Barry is visual artist with a national and international profile, whose means of
                expression are interchangeable, incorporating performance, installation, architecture,
                sculpture, film, moving image and lens based media. Barry is currently showing solo at the
                Crawford Municipal Gallery in Cork, a work in the group show &quot;The Way Things Go&quot; at the
                Butler Gallery Kilkenny, and solo with Vast, Deep, Slice, at the Lexicon Gallery Dublin. She
                recently showed a survey solo show at Royal Hibernian Academy entitled Brittlefield and will
                show solo in 2018 in MARFA contemporary (Texas), in Luan Gallery Athlone (IRE) and with a
                solo at Galería Concreta, in Santiago, Chile in November 2018 . She was Artist in Residence on
                the Irish Museum of Modern Art, residency programme for 2016 and presented work in the
                IMMA project spaces earlier this year. Barry was recently awarded a VSC fellowship and
                residency at the prestigious Vermont Studio Centre (US) and was awarded the Modern
                Ireland in 100 Artworks award fro her 2015 collaborative work Silent Moves by the Royal Irish
                Academy.  Her work has recently been acquired by the Trinity College Dublin Collection, and
                others can be found in permanent collections at the Arts Council of Ireland, The Butler Gallery
                Collection, The Headlands Centre for the Arts ( California), Art Omi Collection, (New
                York) The Museu de la Garrotxa (Catalonia), NUIG Collection, various county council
                collections, the OPW and at the Centre de Art Contemporary, Malaga ESP. Barry teaches at
                Limerick School of Art and Design.
            </p>
            <p><a href="http://www.aideenbarry.com/underneath/Index.html">aideenbarry.com</a>
            </p>
            <p>
                <b>Admission : </b>Free Event
            </p>

        </div>
    </div>
</div>