<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Boat<div class="sub header">New Paintings by Ben Hennessy</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br/>
            <img class="ui fluid image" src="../../../assets/images/events/art/boat.png" style="height: 375px;">
        </div>
        <div class="ui column">
            <h3 class="ui header">Opening Friday October 20th, 6pm<div class="sub header">GOMA</div> </h3>
            <p>
                <i>“Ben Hennessy has been using images in his work which reflect a human ambition to strive
                    higher to stretch the imagination to the limits where man’s creative spirit is a triumphant
                    part of how he lives”</i> – Sheila Pratschke –
            </p>
            <p>
                The evocative image of a ‘childlike’ boat has appeared in many of Ben Hennessy’s earlier
                works, most notably in works presented in San Francisco in the 80’s. In this exciting new
                collection of oil paintings and vivid watercolours, the boat symbol along with other mythical
                imagery, as seen in the ‘Journey to Lir’ and ‘Alizarin’ series are reworked to reveal an
                uncompromising creative narrative that transcends myth and create a compelling visual
                feast.
            </p>
            <p>
                The highly painterly, new expressionist style – with big gestural marks, bold shapes and the
                energy of early de Kooning combined with the new development of splitting the canvas into
                heavily painted surfaces reminiscent of Sean Scully’s large canvases fuse to create bold,
                dynamic surfaces, making this exhibition the must see visual art event of the year. What is
                perhaps most striking is the use of delectable colour throughout the show – deep crimsons,
                vibrant pinks, vivid blues, purple, oranges and luscious ambers. Painted on these epic
                canvases, colour celebrates its own presence – vibrating and making the paintings hum with
                their own powerful, unique force.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>