<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Bernadette Kiely<div class="sub header">A LOT OF THINGS LOOK THE SAME ON THE OUTSIDE</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/bernadette.jpg">
        </div>
        <div class="ui column">
            <h3 class="ui header">Thursday October 19th, 6pm<div class="sub header">Greyfriars Gallery</div> </h3>
            <p>
                Best known for her paintings of river and flooded
                landscapes based on the themes of the passage of time and
                the transient, fragile nature of the physical world,
                Bernadette Kiely is inspired by the riverrine landscape
                in which she lives (the river Nore) and the river Suir,
                where she grew up.
            </p>
            <p>
                Her references include philosophies of time, of distance
                and of perception.
                She is influenced by photography, both her own and
                contemporary practice, geographical and historical
                landscape drawings and paintings, maps and weather
                imagery and topographical and archaelogical drawing. She
                also refers to places and objects as sites of memory as
                related to her family history.
            </p>
            <p>
                Her largescale paintings and drawings, employing a spare,
                restrained palette, depict shifting weather patterns such
                as flooding, mists and fog, which alter and distort
                familiar landscapes and our experience of vision. ‘A lot
                of things look the same on the outside’ is a metaphor for
                Bernadette’s observation that a lot of natural growth and
                physical geography can often look alike on the surface
                but be very different underneath, which can mirror both
                art and life.
            </p>
            <p>
                <b>Admission : </b> Free Event
            </p>
        </div>
    </div>
</div>