<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">The Water Stave & Nems<div class="sub header">collaborative works by Bill Stuart and Keith Currams,</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Bill.Kieth%20Banner.JPG" style="height: 375px;">
        </div>
        <div class="ui column">
            <h3 class="ui header">Friday October 27th, 6:30pm<div class="sub header">Shine Discovery</div> </h3>
            <p>
                This event features two collaborative works by Bill Stuart and Keith Currams, exploring the
                potential for cohesion and translation between sound and vision.
            </p>
            <p>
                In The Water Stave, the music is dictated entirely by the visual, analogous to an
                instrumental performance being dictated by conventional sheet music. All visual objects
                moving in and out of view are represented aurally, with all parameters of each object (size,
                colour, place, texture, etc.) translated to an aural characteristic (stereo placing, pitch,
                loudness, timbre, etc.). With this method, the music is effectively composed as soon as the
                video has been made.
            </p>
            <p>
                Nems tackles the problem of creating a cohesive soundscape for the microscopic world,
                itself too small to produce sounds audible to us. This involved a less literal translation from
                visual to aural, relying more heavily on intuition. This piece also attempts to create a
                narrative within this setting.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>