<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Creative Identities<div class="sub header">Panel discussion and
            public forum</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/creative.png" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Monday October 23rd, 7:30pm<div class="sub header">Garter Lane Arts</div> </h3>
            <p>
                &#39;Creative Identities&#39; is a new series of open discussions which invite you to explore new ideas about the role creativity
                plays as an agent of positive change.  Join us to examine how creativity meets our challenges in Waterford and how a
                sense of identity manifests itself in an urban centre. This first discussion as part of Imagine Festival includes a panel of
                leading local and national experts to open a design-led debate about well being- urban regeneration and gender based challenges.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>