<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">The infinite whatever<div class="sub header">Debbie Godsell</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/tower%20JackOHare_Imagine-festival_sketch1.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Duration of Festival<div class="sub header">Garter Lane Arts</div> </h3>
            <p>
                Book signing : Jack O&#39;Hare will be available to sign copies of &#39;The Pleasure of
                Painting in Watercolour&#39; at 12 am on Saturday 21st October in the Tower Hotel foyer.
            </p>
            <p>
                A solo exhibition by Debbie Godsell. The infinite whatever is a term coined by the New York Times travel writer Eric
                Werner who describes his experiences of ‘thin&#39;places as where &#39;&#39;the distance between heaven and earth collapses and we
                glimpse the divine, transcendent, or the infinite whatever&#39;&#39;. Debbie Godsell responds to Werner&#39;s theory with imagery of
                the west Cork landscape- documenting such places where a person may experience a sense of wellbeing. Alongside the
                landscape, the image of the child explores fragility and the belief that children live close to these &#39;thin&#39; places.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>