<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Elaine Hoey<div class="sub header">Stranger than Fiction is Fact</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <br/>
            <img class="ui fluid image" src="../../../assets/images/events/art/ElaineHoey_StrangerThanFictionIsFact_01.jpg">
        </div>
        <div class="ui column">
            <h3 class="ui header">Friday October 20th<div class="sub header">GOMA</div> </h3>
            <p>
                <b>Admission : </b>Free
            </p>
            <p>
                Stranger than Fiction is Fact is an interactive, virtual reality- based (VR) installation which
                utilises technology to disrupt and destabilise the viewer's navigation and understanding of
                elements of our current political mediascape. This work investigates the idea of fiction as a
                new reality, drawing parallels between technological, mediated and political systems,
                proposing new ways of how we might negotiate this uncertain terrain.
            </p>
            <p>
                While preforming this work the viewer can freely navigate four separate narratives, The
                Narcissist, The Wall, The Conspiracy and The Girl. These narratives examine how the filter
                bubble effect has aided in the generation of political conspiracy theories, cast doubt over
                the existence of the 7 year old Appello Syrian girl Bana al-Abed, helped elect Donald
                Trump as President of the USA and facilitated the extreme polarisation of political
                ideologies.
            </p>
            <p>
                Elaine Hoey creates interactive based installations, appropriating contemporary digital art
                practises and aesthetics to explore the politics of digital humanity and our evolving
                relationship with the screen. Hoey’s work mainly focuses on the intersection between the
                media, technology and politics. As we become increasingly digitally dependant, her work
                reminds us of the political stakes, not only of the images the media revels, but in the way
                our eyes and bodies encounter them. Utilising virtual reality technology she investigates
                immersing the viewer in performative and often uncomfortable roles within her digitally
                constructed worlds exploring the potential of mediated presence as an experience capable
                of challenging perceptions of the virtual and the real.
            </p>
        </div>
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <p>
                Elaine Hoey works mainly creating interactive based installations, appropriating
                contemporary digital art practises and aesthetics to explore the politics of digital humanity
                and our evolving relationship with the screen. Hoey’s work mainly focuses on the
                intersection between the media, technology and politics. As we become increasingly
                digitally dependant, her work reminds us of the political stakes, not only of the images the
                media revels, but in the way our eyes, and bodies encounter them. Utilising virtual reality
                technology she investigates immersing the viewer in performative and often uncomfortable
                roles within her digitally constructed worlds exploring the potential of mediated presence
                as an experience capable of challenging perceptions of the virtual and the real.
            </p>
            <p>
                Elaine Hoey is at a very early stage in her artistic career having just recently completed a
                MFA in Fine Art Media at the National College of Art and Design in June 2017. In 2016
                Hoey won the RDS Taylor Art Award for her virtual reality work the Weight of Water. She
                has shown this work at the RDS Visual Arts Exhibition, also as part of a jointly curated
                exhibition by MoMA (Museum of Modern Art NYC) and Dublin Science Gallery titled
                Design and Violence and as part of the Futures exhibition at the RHA. Other recent
                exhibitions included Blueprint for a Virtual Nomad a virtual reality installation at This is not
                Architecture at the Highlanes in Drogheda (April 2017) and Stranger Than Fiction Is Fact
                at MFA Graduate Exhibition NCAD (June 2017).
            </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/ElaineHoey_StrangerThanFictionIsFact_002psd.jpg">
        </div>
    </div>
</div>