<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Francesca Costellanio</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/wall.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Saturday October 28th, 12pm<div class="sub header">3/4 George's street</div> </h3>
            <p>
                The physicality of my own body is the devising liminality where, in the silent connection of shared
                experiences, I can become a catalyst for  transformation to myself and to the audience.
                The universality of my language comes from authenticity and intensity of presence, in an attempt to
                belong that can not be accomplished in daily life. I am an immigrant, a feminist, an anarchist.
            </p>
            <p>
                Physical endurance and Repetition are the mediums for my work.
                I investigate the dynamics of the human condition, in the connections to each other, to society, gender
                and class, to create transitory and ritualistic Live Experiences.
            </p>
            <p>
                <b>Admission : </b> Free <a href="https://uticket.ie/event/francesca-castellano"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
</div>