<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Imagine Graduate Exhibition Awards 2017</h1>
    <p>The following are recent graduates from Waterford Institute of Technology, Crawford College of Art and Design, Limerick School of Art and Design
        and the National College of Art and Design, who received the Imagine Exhibition Award. Their work's can be viewed at <b>The Rouge Gallery</b> and
        <b>3/4 Georges Street</b> for the entire duration of the festival.
    <h2 class="ui dividing header">Chloe Tetrault Kearney<div class="sub header">3/4 Georges Street</div> </h2>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/grad%20chloe%20tetrault%20asked%20for%20new%20image.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <p>
                Chloe Tetrault Kearney is a multi disciplinary Cork artist and recent graduate of Fine Art
                from the Crawford College of Art and Design. She is currently Artist in Residence at Cork

                Sample Studios.
            </p>
            <p>
                The practice is influenced by the philosophies and ideas of the Medieval alchemical
                tradition and the neoplatonic revival of the middle ages; The concerns of which were the
                mind-body problem, the unity of opposing forces and the reconciliation of dualism, as

                seen through the lense of the natural world.
            </p>
            <p>
                Aesthetically, the artist expresses the material world of the elements, generally thought
                of as ‘fixed, solid, durable’ yet endeavours to coalesce these with the more ephemeral
                and abstract forces, such as mass, gravity and motion; knowable only through their

                interaction with the observable.
            </p>
            <p>
                Both found in nature and used in ritual, salt (which chemically balances a base and an
                acid in perfect equipoise) was symbolic of the body in the alchemical tradition. The body
                was thought of as the material embodiment of the unknowable spirit, whose essence
                could only be understood through properties it revealed in its physical form. Through

                this analogy, the artist proposes the work as a portrait of embodied experience; of
                existing simultaneously as a corporeal being and a conscious observer.
            </p>
        </div>
    </div>

    <h2 class="ui dividing header">Clare Scott<div class="sub header">3/4 Georges Street</div> </h2>
        <div class="ui stackable equal width grid">
            <div class="ui column">
                <p>
                    My work focusses on the artwork as a process. It aims to examine the nature and influence of
                    the unconscious, characterised by the individuals’ unique constellation of experiences, by fixing
                    the course of its creation in the physical world.
                </p>
                <p>
                    Regardless of media there is a way of working, peculiar to the individual, which gives the work
                    its quality. My work is a manifestation of a particular collection of decisions which are made in
                    response to its environment rather than object divorced from its origins and its maker. It is an
                    exploration of the journey rather than a fixation on the result.
                </p>
                <p>
                    While in the course of making, particular quirks can come to light which may receive emphasis.
                    Of particular interest to this artist is the blackly comic nature that often results when the knock
                    on effect of one decision on the next is embodied, giving a glimpse of the dark hilarity that
                    infects mortality.
                </p>
            </div>
            <div class="ui column">
                <img class="ui fluid image" src="../../../assets/images/events/art/grads/Clare%20Scott%20IMAGINE%203.jpg" style="height: 300px;">
            </div>
        </div>

    <h2 class="ui dividing header">Cian Carrol<div class="sub header">3/4 Georges Street</div> </h2>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/Rouge%20Cian%20Carroll.jpg" style="height: 300px;">
        </div>
        <div class="ui column">
            <p>
                At this current time, I am predominantly working in sheets of aluminium. I cut, fold and
                bend the sheet metal to achieve structural, linear objects resembling flowers. One of the
                main concerns of my work is to give the illusion of a flower bud blossoming over time.
                Surface decoration and colour also play a big role in the work. Using spray paint to decorate
                the pieces in such a way that certain folds in the metal are almost dulled, contrasting with
                other deliberately complex folds.
            </p>
        </div>
    </div>

    <h2 class="ui dividing header">Dána Dempsey<div class="sub header">The Rouge Gallery </div> </h2>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <p>
                My interest lies in the rubbish that is polluting our marine environment. My principle research is
                exploring the intertidal zone for the flotsam and jetsam, focusing on the details that relate to my
                concept and interests. Through the medium of photography I document these found objects in situ
                or in studio, the resulting imagery I translate into print format, creating an abstract representation.
            </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/grad,%20Dána%20Dempsey%20.jpg" style="height: 300px;">
        </div>
    </div>

    <h2 class="ui dividing header">Robyn Deasy<div class="sub header">The Rouge Gallery </div> </h2>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/Grad,%20Robyn%20Deasy%20.jpg" style="height: 300px;">
        </div>
        <div class="ui column">
            <p>
                In drawing I try to capture the intangible, ephemeral moments while concentrating on the human
                body. I draw with the same three models and it is the personal connections between them and
                myself that motivates the marks in the work. Using a mix of media, blind drawing, layering and
                reworking I suggest the models form and character and reflect the energy created from time spent
                with the person. In doing this I aim to create an authentic impression of this group of people by
                showing a narrative of my own perception.
            </p>
        </div>
    </div>

    <h2 class="ui dividing header">Sarah Roseingrave<div class="sub header">The Rouge Gallery </div> </h2>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <p>
                I draw on memory, such as imprints, traces, and residues as inspiration. My research
                involves deserted spaces, their interiors and exteriors. Ephemeral atmospheres are
                created via obscured, layered and cracked surfaces. Themes of growth and
                transience are linked to memory, such as nature taking back over abandoned places.
            </p>
            <p>
                Process and craftsmanship is important to me, both aesthetically and as references
                to memory. Working in and combining different materials allows for a broad
                consideration of concepts. Growth is also as a function of making, such as the
                development of ideas, processes and skills. To develop the idea of growth through
                making, I have recently used living plants, mosses, and flowers, to continue to
                transform the made work.
            </p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/grad%20sarah%20roseingrave.jpg" style="height: 300px;">
        </div>
    </div>

    <h2 class="ui dividing header">Isabela Cie<div class="sub header">The Rouge Gallery </div> </h2>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grads/rouge%20%202.png" style="height: 300px;">
        </div>
        <div class="ui column">
            <p>
                The issue I raise in my work is the meaning of the ancient distinction between ZOE, the natural,
                reproductive, animal life; and the BIOS form of life which is the political and social life in the context
                of the contemporary philosopher, Giorgio Agamben. I am transferring the difference between BIOS
                and ZOE. I ask the question here:
            </p>
            <p>
                Is it the human or animal?
            </p>
            <p>
                Sacred or profane?
            </p>
        </div>
    </div>

        <h2 class="ui dividing header">Francesca Costellanio
            <div class="sub header">3/4 George's street</div>
        </h2>
        <div class="ui stackable equal width grid">
            <div class="ui column">
                <p>
                     The physicality of my own body is the devising liminality where, in the silent connection of shared experiences, I can become
                    a catalyst for  transformation to myself and to the audience. The universality of my language comes from
                    authenticity and intensity of presence, in an attempt to belong that can not be accomplished in daily
                    life. I am an immigrant, a feminist, an anarchist.
                </p>
                <p>
                     Physical endurance and Repetition are the mediums for my work. I investigate the dynamics of the human condition, in the
                    connections to each other, to society, gender and class, to create transitory and ritualistic Live Experiences.
                </p>
            </div>
            <div class="ui column">
                <img class="ui fluid image" src="../../../assets/images/events/art/grads/wall.jpg" style="height: 300px;">
            </div>
        </div>

        <h2 class="ui dividing header">Anne Tweedy
            <div class="sub header">3/4 George's street </div>
        </h2>
        <div class="ui stackable equal width grid">
            <div class="ui column">
                <img class="ui fluid image" src="../../../assets/images/events/art/grads/6.jpg" style="height: 300px;">
            </div>
            <div class="ui column">
                <p>
                 KILLING YOUR DARLINGS
                </p>
                <p>
                     Killing your Darlings focuses on the death, abuse, violence and suffering endured by children in our society. My work was
                    particularly influenced by the horror surrounding the recent Tuam babies scandal. Innocent babies and
                    children taken from their mothers, their bodies discarded or lives permanently scarred
                </p>
            </div>
        </div>

</div>