<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">From seed to blossom <div class="sub header">Catherine Drea and Kate Quinn</div></h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/grannary.jpg" style="height: 350px;">
        </div>
        <div class="ui column">
            <h3 class="ui header">
                 The Granary
                <div class="sub header">Waterford Institute of Technology and Waterford Healing Arts Trust</div>
            </h3>
            <p>
                 Kate Quinn and Catherine Drea met last year for the first time through Waterford Healing Arts. Both are creative photographers,
                writers and lovers of the natural world. Since then they have stayed connected through their shared passions
                and work. This will be their first exhibition together as part of the Waterford Imagine Festival 2017
            </p>
            <p>
                 “I choose to risk my significance, to live so that which came to me as seed goes to the next as blossom, and that which
                came to me as blossom, goes on as fruit.” Dawna Markova
            </p>
            <p><i>Supported by The Granary, Waterford Institute of Technology and Waterford Healing Arts Trust.</i></p>
            <p>
                <b>Admission : </b> Free 
            </p>
        </div>
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <h3 class="ui header">
                 Catherine Drea
            </h3>
            <p>
                 Catherine Drea is a contemplative photographer, writer and nature loving feminist. A graduate of the National College of
                Art and Design, her blog Foxglove Lane has won 4 awards in the best Photography Category of the Irish Blog
                Awards.
            </p>
            <p>
                I explore the smaller and more intimate details of my relationship to Mother Earth. How natural light illuminates
                the hedgerows on an otherwise grey day. How the eyes of a Robin meet my gaze for a fleeting moment. By capturing
                and creating images from both inner reflections and outer worlds I hope to convey emotion, mutual vulnerability
                and the passing of time.
            </p>
            <p>
                 She has most recently exhibited in the Open House Architectural Photography Exhibition, London 2015, the Being Here Exhibition
                in Waterford in 2014, Lens Flare in Central Arts, Waterford 2016 and the Sea Horse Commemoration Exhibition
                in the Coastguard Station, Tramore 2016. She is a weekly photoblogger on Foxglove Lane and writes a fortnightly
                column in the Waterford News and Star called As I see it.
            </p>
        </div>
        <div class="ui column">
            <h3 class="ui header">
                 Kate Quinn
            </h3>
            <p>
                 Kate Quinn is a creative photographer from Mooncoin. Last year as part of the Healing Arts Project Kate’s work was exhibited
                in UHW and published in a book called Nature’s Whispers. Kate works with children and families in portrait
                sessions and is a nature lover and writer.
            </p>
            <p>
                 Kate’s latest work, Flourish, represents her personal journey. A journey of shyness to expose one’s true passion. Exploring
                our inner stories is intricate and powerful and if we get to know ourselves deeply we can create from that
                place meaningfully.
            </p>
            <p>
                 “I enjoyed exploring mine. For me it was hours of imagination, doubt, excitement a feeling of been inspired I loved looking
                at the evolving images as they came together as a whole as though I was evolving and grown through them.
                Talents came alive. To live is to create. And to create is to live, to outgrow oneself, display one’s creative
                growth from within. I hope to continue to grow and share a new journey of my art with others. So that they
                may find passion and beauty inside what we do. Everyone of us has a story gift within.”
            </p>
        </div>
    </div>
</div>