<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Nigel Rolfe</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Rolfe_Mao.2013.jpg" style="height: 350px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday October 26th, 7:30pm<div class="sub header">St. John's College</div> </h3>
            <p>
                Nigel Rolfe is recognized as a seminal figure in performance art, in this history and among current world
                practitioners. He has lived and worked in Dublin since 1974, working intensively and making significant
                contributions as an artist, curator, activist and scholar. His work spans live performance, photography, video
                and sound and has received international acclaim.
            </p>
            <p>
                <b>Admission : </b> Free <a href="https://uticket.ie/event/nigel-rolfe"><i class="ticket large black icon"></i></i> </a>
            </p>
        </div>
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Rolfe_White_Mountain.jpg" style="height: 350px;">
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Rolfe_Artic_Action_2015.jpg" style="height: 350px;">
        </div>
    </div>
</div>