<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Pinhole Photography<div class="sub header">in collaboration with Lismore Castle Arts</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/pinhole.png" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Saturday October 28th, 10am<div class="sub header">GOMA</div> </h3>
            <p>
                Enjoy a day exploring the creative possibilities of low-tech photography in collaboration with
                Lismore Castle Arts. Facilitated by Sarah Codd, participants will learn how to make the
                “perfect pinhole”, build a basic camera from recycled materials and develop paper negatives
                in the dark room.
            </p>
            <p>
                <b>Admission : </b> 
            </p>
        </div>
    </div>
</div>