<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">South East Makerspace<div class="sub header">Immersive Interactive Light Installation,</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/SEMS_pic.jpg" style="height: 275px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Friday October 20th, 1pm<div class="sub header">16/18 O'Connell Street</div> </h3>
            <p>
                I.I.L.I. is an Immersive Interactive Light Installation, created by South East
                Makerspace. A kinect camera with motion tracking software picks up the
                location and movement of people within the exhibition space. The physical
                movements of those present cause subtle shifts or directional changes to a
                beam of light originating from a projector. As the projected light changes, it
                catches fragments of reflective and translucent materials fixed within the
                installation area. The result produces ephemeral visual compositions of light
                that affect and alter the mood and experience of the surrounding
                space. I.I.L.I is a gameplay experience: a mash-up of physics, art and
                technology that encourages users’ to create their own light painting by
                combining body movement with the laws of reflection and refraction of light.
            </p>
        </div>
    </div>
</div>