<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Submerged</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/vlcsnap-2017-06-28-10h23m12s144.png" style="height: 300px">
        </div>
        <div class="ui column">
            <h3 class="ui header">Wednesday 25 & Thursday October 27, 6pm<div class="sub header">3/4 Georges Street</div> </h3>
            <p>
                &#39;Submerged&#39; is a new interdisciplinary performance piece written and directed by Natasha Everitt,
                filmed by Mick Fortune, and containing a three member cast of Natasha Everitt, Jessica Rowell and
                Chloe Quilty. After being shown as part of the Alternative Kilkenny Arts Festival, Submerged is being
                bought back to its home county to let Waterford audiences be a part of the dark magic. This
                performance details the psychological journey of a young woman detailing with the tumultous nature of
                life, issues of the psyche, and the struggle to come to terms with what it means to live. Containing an
                abstract narrative told through slam poetry, contemporary dance, film and perfomance art,
                &#39;Submerged&#39; is a visual feast that will &quot;close your ears and open your eye to light resonating between the
                spheres of reality&quot;.
            </p>
            <p>
                <b>Admission : </b>€10
            </p>
        </div>
    </div>
</div>