<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Tara Keegan</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Georges%20Court%20Shopping%20centreTara%20Keegan%20Intramural%202017.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br/>
            <h3 class="ui header">Thursday October 19th<div class="sub header">Georges Court Shopping Centre</div> </h3>
            <p>
                Visual artist Tara Keegan is a recent graduate of Sculpture &amp; Combined Media from
                the Limerick School of Art &amp; Design. Keegan is fascinated by the human body and it
                is ever present in her work. Creating forms and objects through the medium of soft
                sculpture enables Keegan to evoke a visceral quality that is inherent in the body.
                Keegan stretches pulls and prods the materials in turn stitching, stuffing, squeezing,
                scrunching and knotting them to create bouncy, bulbous, squishy, spongy, puffy
                organic forms that evoke an emotional response. Keegan is inspired and motivated
                by the human body’s ability to adapt and change to its environment biologically and
                culturally. Keegan is driven by her innate desire for self-expression through Art.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>