<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Ben Hennessy<div class="sub header">Famous European Artists</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Index%20explore-european-artists-van-gogh-pic.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Duration of Festival<div class="sub header">Index Gallery,</div> </h3>
            <p>
                This exhibition is a result of the artwork produced from children&#39;s workshops
                run by artist Ben Hennessy. Ben explored the different styles and techniques of a
                famous European artist each week with the children. They then recreated a
                famous masterpiece from that artist&#39;s work using the same medium and canvas
                size as the original. The workshops were hosted by the Greyfriars Art Gallery and
                the Waterford Europe Direct Information Centre in 2016 and 2017 respectively.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>