<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Jack O&#39;Hare.<div class="sub header">Book signing</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/tower%20JackOHare_Imagine-festival_sketch1.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Saturday October 21st, 12am<div class="sub header">Tower Hotel</div> </h3>
            <p>
                Book signing : Jack O&#39;Hare will be available to sign copies of &#39;The Pleasure of
                Painting in Watercolour&#39; at 12 am on Saturday 21st October in the Tower Hotel foyer.
            </p>
            <p>
                Exhibition of paintings by well-known watercolourist Jack O&#39;Hare. Jack will be in the
                Tower Hotel foyer at 12am on Saturday October 21st to sign copies of his inspirational book &#39;The
                Pleasure of Painting in Watercolour&#39;.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>