<div class="ui container">
    <br/>
    <h1 class="ui dividing header">Imagine's Art Trail</h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <p><b>Recent Graduates ShowCase</b> | 3/4 Georges Street</p>
            <p><b>Children's paintings, Time (Ben Hennessy)</b> | Index Gallery</p>
            <p><b>Genius Loci</b> | 20Ten</p>
            <p><b>Jenny Richardson</b> | WHAT</p>
            <p><b>From Seed to Blossom, From Blossom to Fruit, Catherine Drea, Kath Quinn</b> | The Granary</p>
            <p><b>Recent Graduates ShowCase</b> | The Rogue Gallery</p>
            <p><b>Archetype/Uchronia, Sinead McDonald</b> | Garter Lane</p>
            <p><b>Infinite Whatever, Debby Godsel</b> | Garter Lane</p>
            <p><b>Jack O'Hare</b> | Tower Hotel</p>
            <p><b>Nicola Cody</b> | Coast Guard Station</p>
            <p><b>Black Mark - Anne McDonnell, Ger Kennedy and Julie Dowling</b> | Old School House, Church Garden Centre, Tramore</p>
            <p><b>Denise McAuliffe - The Ballard of Hollis Brown</b> | Bodega</p>
            <p><b>David Curran and Richie Murphy</b> | The Bay Cafe</p>
            <p><b>Lisa Murphy - Growing</b> | Loko</p>
            <p><b>Tony Oakey</b> | Burzza</p>
            <p><b>Teri Flynnie</b> | The Baytree Bistro</p>
            <p><b>Nicola Coady</b> | Coastgaurd Station</p>
            <p><b>Alan Murphy</b> | Momo</p>
            <p><b>Tony Oakey</b> | La Fontana</p>
            <p><b>Teri Flynnie</b> | Shine Discovery</p>
            <p><b>Nicola Coady</b> | Coastgaurd Station</p>
            <p><b>Alan Murphy</b> | Pathfinders</p>
        </div>
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/Georges%20Court%20Shopping%20centreTara%20Keegan%20Intramural%202017.jpg" style="height: 360px;">
            <img class="ui fluid image" src="../../../assets/images/events/art/boat.png" style="height: 360px;">
        </div>
    </div>
</div>