<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">Archetype/ Uchronia<div class="sub header">Sinead McDonald</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/tower%20JackOHare_Imagine-festival_sketch1.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <br>
            <h3 class="ui header">Duration of Festival<div class="sub header">Garter Lane Arts</div> </h3>
            <p>
                A solo exhibition by artist Sinead McDonald. Archetype is a new site-specific installation exploring the complex
                relationship between motherhood and bereavement, and the often hyper-ridiculous media representations of female
                grief and &#39;hysteria&#39;. This multi-channel video piece sits alongside a specially commissioned text by critic and writer
                Stephanie McBride. Accompanying Archetype is Uchronia, a series of real and alternate self-portraits examining life&#39;s
                pivotal moments and how decisions, accidents and circumstances change us. Together they question what we could and
                would become. Do we have the power to shift our own narratives.
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>