<div class="ui container">
    <br><br>
    <h1 class="ui dividing header">A Year Out<div class="sub header">by Jenny Richardson</div> </h1>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../../../assets/images/events/art/WHAT%20Granny%20Brings%20Grapes.jpg" style="height: 375px;">
        </div>
        <div class="ui column">
            <h3 class="ui header">Duration of Festival<div class="sub header">University Hospital Waterford</div> </h3>
            <p>
                A Year Out is an exhibition of images by Jenny Richardson, from the book of the same name, on
                display at the University Hospital Waterford from 17 October to 8 December 2017.
            </p>
            <p>
                The exhibition comprises of a series of ten paintings that Jenny made a decade ago, from memories
                of a year she spent in hospital, away from her family, having contracted polio at the age of four. The
                other paintings in the series, which were drawn from photos that she had, document her life in Libya
                before her illness and after her recovery.
            </p>
            <p>
                Jenny will host a talk and tour of the exhibition on Thursday 26 October, at 1pm in the foyer of
                University Hospital Waterford. Admission is free and all are welcome.
            </p>
            <p>
                For further information contact Waterford Healing Arts Trust (WHAT) on 051-842664 or see
                <a href="http://www.waterfordhealingarts.com/"> www.waterfordhealingarts.com</a>
            </p>
            <p>
                <b>Admission : </b> Free
            </p>
        </div>
    </div>
</div>