<div class="ui container" id="about">
    <br>
    <div class="ui piled segment">
    <h1 class="ui dividing header">
        About the Festival
    </h1>
    <div class="ui vertical center aligned segment">
        <p><em>“The festival prides itself on its family-friendliness, A quick glance through the programme and you’ll find an array of options to keep the little ones entertained. With everything from children’s theatre to comic drawing workshops and Irish fairy stories, there’s lots to keep the kids happy”</em>-<b> Trivago UK</b></p>
    </div>
    <br>
    <div class="ui vertical center aligned segment">
        <img class="ui centered large image transition visible" src="../assets/images/about.png"><br>
        <p>Imagine Arts Festival 2017 is a unique celebration of the arts in Waterford in late October of each year and is a voluntary run festival. It is now one of the premier Irish arts festivals.</p>
        <p>Ireland’s oldest city sets the backdrop for local arts companies and artists to feature in addition to the best of national and international work. The Festival includes the John Dwyer Traditional Music Weekend and this year sees it hosting Waterford Writers Weekend. The Festival transforms the city through the arts in an engaging, fun and authentic way.</p>
        <p>Now in its 16th year Imagine features live performances, exhibitions and interactive arts experiences for people of all ages and interests including: dance, film, visual art, theatre, spoken word and literature, contemporary, classical and traditional music, cultural heritage, as well as a children and youth programs.</p>
        <p>After 15 years of voluntary effort the festival is now moving to the festival to a new level of programming, commissioning, gaining sponsorship and developing audiences. In 2016 Imagine took small steps into commissioning new work and also subsidizing work by local companies. Imagine considers commissioning new work to be central to the aim of creating a dynamic local arts scene which will gain national and international recognition. New work will help to consolidate our present audience but also attract a whole new interest in all the various artforms where it may happen. We know that artists lead the development of new areas in creative practice and feel it is important to acknowledge and invest in these developments through this commissioning element of the festival.</p>
        <p>Waterford is going through a very exciting stage in its artistic development with a whole generation of new writers, musicians, filmmakers being developed. It seems opportune for Imagine through the commissioning of new work to help bring the Waterford arts scene to national attention.</p>
        <img class="ui centered large image" src="../assets/images/events/years1.jpg"><br>
    </div>
    <br>
  </div>
  <br>
</div>
