<div class="ui container" id="about">
    <br>
    <div class="ui piled segment">
    <h1 class="ui dividing header">
        About the Festival
    </h1>
    <div class="ui vertical center aligned segment">
        <p><em>“The festival prides itself on its family-friendliness, A quick glance through the programme and you’ll find an array of options to keep the little ones entertained. With everything from children’s theatre to comic drawing workshops and Irish fairy stories, there’s lots to keep the kids happy”</em>-<b> Trivago UK</b></p>
    </div>
    <br>
    <div class="ui vertical center aligned segment">
        <img class="ui centered large image transition visible" src="../assets/images/about.png"><br>
        <p>The Imagine Festival is an annual event which celebrates the arts in Waterford.  Taking place in late October every year, it is now one of Ireland's premier arts festivals. </p>
        <p>During Imagine Ireland's oldest city is the setting for work by the best of local, national and international artists and reflects all aspects of the arts.  The festival includes the John Dwyer Traditional Music Weekend and is this year hosting the Waterford Writers Weekend  for the first time.   </p>
        <p>Now in its 16th year Imagine features live performances, exhibitions and interactive performances for people of all ages, including dance,film, visual art, theatre, spoken word and literature, as well as classical,contemporary and traditional music.  There are also events reflecting our cultural heritage and programmes for children and young people. </p>
        <p>After 15 years of voluntary effort Imagine is now moving to a new level in programming, commissioning work, sponsorship and the development of new audiences.  In 2016 the festival commissioned new work in a limited way as well as subsidising work by local companies.  The commissioning of new work is considered to be central to creating a dynamic local arts scene with the aim of gaining national and international recognition.  New work will help to consolidate the present audience but will also serve to attract widespread interest from further afield.</p>
        <p>Waterford is going through a very exciting stage in it's artistic development with the emergence of  a whole new generation of writers, musicians, visual artists and filmmakers.  This is the ideal opportunity for Imagine, through the commissioning of new work, to bring the Waterford arts scene to national attention. </p>
        <img class="ui centered large image" src="../assets/images/events/years1.jpg"><br>
    </div>
    <br>
  </div>
  <br>
</div>
