<div class="ui container">
    <div class="ui dividing header">
        <h1 class="ui header">
            Our Contact Details
        </h1>
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <p><b>Name: </b> Bla</p>
            <p><b>Email: </b> Bla@bla.com</p>
            <p><b>Phone: </b> blablabla</p>
        </div>
        <div class="ui column">
            <p><b>Name: </b> Bla</p>
            <p><b>Email: </b> Bla@bla.com</p>
            <p><b>Phone: </b> blablabla</p>
        </div>
        <div class="ui column">
            <p><b>Name: </b> Bla</p>
            <p><b>Email: </b> Bla@bla.com</p>
            <p><b>Phone: </b> blablabla</p>
        </div>
        <div class="ui column">
            <p><b>Name: </b> Bla</p>
            <p><b>Email: </b> Bla@bla.com</p>
            <p><b>Phone: </b> blablabla</p>
        </div>
    </div>
</div>