<div class="ui container">
    <div class="ui dividing header">
        <h1 class="ui header">
            Our Contact Details
        </h1>
    </div>
    <div class="ui stackable equal width grid">
        <div class="ui column">
            <p><b>Name: </b> Jenna Whelan</p>
            <p><b>Role: </b> Visual Art and Education Curator</p>
            <p><b>Email: </b> jenna.imaginefest@gmail.com</p>
            <p><b>Phone: </b> 087 934 7222</p>
        </div>
        <div class="ui column">
            <p><b>Name: </b> Imagine Arts Festival</p>
            <p><b>Role: </b> Admin</p>
            <p><b>Email: </b> imaginefest@gmail.com</p>
            <p><b>Phone: </b> 051 340 487</p>
        </div>
        <div class="ui column">
            <p><b>Name: </b> Stephen Butler</p>
            <p><b>Role: </b> Theatre and Music Curator</p>
            <p><b>Email: </b>  labyrinthmgmt@gmail.com</p>
            <p><b>Phone: </b> 086 158 9944</p>
        </div>
        <div class="ui column">
            <p><b>Name: </b> Ann Power</p>
            <p><b>Role: </b> Powerhouse PR</p>
            <p><b>Email: </b> ann@powerhosuepr.ie</p>
            <p><b>Phone: </b> 086 306 5588</p>
        </div>
    </div>
</div>
