<header>
    <div class="ui five item top fixed menu">
        <a class="ui item">
            Imagine Art Festival
        </a>
        <a class="ui item">Home</a>
        <div class="ui simple dropdown item">
            <span class="text">Events</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="ui item">Visual Arts</div>
                <div class="ui item">Music</div>
                <div class="ui item">Theatre</div>
                <div class="ui divider"></div>
                <div class="ui item">By Date</div>
            </div>
        </div>
        <a class="ui item">About Us</a>
        <a class="ui item">Contact Us</a>
    </div>
</header>
