<div class="ui container">
    <br>
    <div class="ui dividing header">
        Highlights 2016
    </div>
    <div class="ui vertical centered segment" style="padding-left: 10%">

            <iframe width="854" height="480" src="https://www.youtube.com/embed/NNKLrGTl4pU" frameborder="0" allowfullscreen></iframe>

    </div>
</div>