<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">Imagine Arts Festival</h3>
        <p>Imagine Arts Festival is a unique celebration of the arts in Waterford happening late October of each year.</p>
        <p>Imagine is a voluntary run festival which is now one of the premier Irish arts festivals.</p>
        <p>Over 100 events spanning 10 days with over 60% of the events free of charge, Imagine promises to be a festival not to be missed.</p>
        <p>We are also delighted to have the <b>Writers Weekend</b> and <b>Trad Fest</b> take place over the 10 days, ensuring something for every taste
        </p>
    </div>
</div>
