<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">Imagine Arts Festival</h3>
        <p>Imagine Arts Festival is a unique celebration of the arts in Waterford happening late <b>October</b> of each year.</p>
        <p>Imagine is a voluntary run festival providing over <b>100</b> events over <b>10</b> days.</p>
        <p>Now in its <b>16th</b> year, Imagine is one of Ireland's premier arts festivals</p>
        <p>Imagine features live performances, exhibitions and interactive performances for people of all ages, including dance,film, visual art, theatre, spoken word and literature, as well as classical,contemporary and traditional music</p>
        <p>We are delighted to have the WWW and the John Dwyer Trad Fest as part of Imagine 2017.</p>
    </div>
</div>