<header>
    <div class="ui six item top fixed menu">
        <a class="ui item" href=" /strands/events.html">
            <img src="../assets/images/imagine.png" class="ui centered tiny image">
        </a>
        <a class="ui item" href="../index.html">Home</a>
        <div class="ui simple dropdown item">
            <span class="text">Events</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="ui item" href="">Visual Arts</div>
                <div class="ui item">Music</div>
                <div class="ui item">Theatre</div>
                <div class="ui divider"></div>
                <div class="ui item">Trad Fest</div>
                <div class="ui item">Writers Weekend</div>
                <div class="ui divider"></div>
                <div class="ui item">By Date</div>
            </div>
        </div>
        <a class="ui item" href="/strands/team.html">Team</a>
        <a class="ui item">Timetable</a>
        <a class="ui item">Contact Us</a>
    </div>
</header>
