<div class="ui centered container">
    <br>
    <h1 class="ui header">
       What to expect
    </h1>
    <div class="ui special cards">
        <div class="ui stackable three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui inverted button" href="../strands/vaevent.html">Full Line-Up</a>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/events/art/va.jpg">
                    </div>
                    <div class="content">
                        <a href="../strands/vaevent.html" class="header">Visual Art</a>
                        <div class="meta">
                            <span class="date"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="../strands/mevent.html" class="ui inverted button">Full Line-Up</a>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/events/music/music1.jpg">
                    </div>
                    <div class="content">
                        <a href="../strands/mevent.html" class="header">Live Music</a>
                        <div class="meta">
                            <span class="date"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="../strands/tevent.html" class="ui inverted button">Full Line-Up</a>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/events/theatre/performance1.jpg">
                    </div>
                    <div class="content">
                        <a href="../strands/tevent.html" class="header">Live Performance</a>
                        <div class="meta">
                            <span class="date"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui stackable two column grid">
            <div class="ui column">
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="../strands/tradevent.html" class="ui inverted button">Full Line-Up</a>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/events/trad/trad.jpg">
                    </div>
                    <div class="content">
                        <a href="../strands/tradevent.html" class="header">The John Dwyer Trad Fest</a>
                        <div class="meta">
                            <span class="date"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui column">
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="../strands/writerevent.html" class="ui inverted button">Full Line-Up</a>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/events/writers/writers1.jpg">
                    </div>
                    <div class="content">
                        <a href="../strands/writerevent.html" class="header">The Writers Weekend</a>
                        <div class="meta">
                            <span class="date"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>



</div>




    <!--<div class="ui stackable equal width grid">-->
        <!--<div class="column">-->
            <!--<h3 class="ui dividing header">-->
                <!--Visual Art-->
            <!--</h3>-->
            <!--<a href="../strands/vaevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/art/va.jpg" style="padding: 2%"></a>-->
        <!--</div>-->
        <!--<div class="column">-->
            <!--<h3 class="ui dividing header">-->
                <!--Live Music-->
            <!--</h3>-->
            <!--<a href="../strands/mevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/music/music1.jpg" style="padding: 2%"></a>-->
        <!--</div>-->
        <!--<div class="column">-->
            <!--<h3 class="ui dividing header">-->
                <!--Live Performance-->
            <!--</h3>-->
            <!--<a href="../strands/tevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/theatre/performance1.jpg" style="padding: 2%"></a>-->
        <!--</div>-->
        <!--<div class="equal width row">-->
            <!--<div class="column">-->
                <!--<h3 class="ui dividing header">-->
                    <!--The John Dwyer Trad Fest-->
                <!--</h3>-->
                <!--<a href="../strands/tradevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/trad/trad.jpg" style="padding: 2%"></a>-->
            <!--</div>-->
            <!--<div class="column">-->
                <!--<h3 class="ui dividing header">-->
                    <!--The Writers Weekend-->
                <!--</h3>-->
                <!--<a href="../strands/writerevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/writers/writers1.jpg" style="padding: 2%"></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <br>
    <div class="ui divider"></div>
    <br>
</div>
