<div class="ui centered container">
    <br>
    <h2 class="ui dividing header">
       What to expect
    </h2>
    <div class="ui stackable equal width grid">
        <div class="column">
            <h3 class="ui dividing header">
                Visual Art
            </h3>
            <a href="../strands/vaevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/art/art1.jpg" style="padding: 2%"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Live Music
            </h3>
            <a href="../strands/mevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/music/music1.jpg" style="padding: 2%"></a>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Live Performance
            </h3>
            <a href="../strands/tevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/theatre/performance1.jpg" style="padding: 2%"></a>
        </div>
        <div class="equal width row">
            <div class="column">
                <h3 class="ui dividing header">
                    Trad Fest
                </h3>
                <a href="../strands/tradevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/trad/trad1.jpg" style="padding: 2%"></a>
            </div>
            <div class="column">
                <h3 class="ui dividing header">
                    Writers Weekend
                </h3>
                <a href="../strands/writerevent.html"><img class="ui fluid image" href="#" src="../assets/images/events/writers/writers1.jpg" style="padding: 2%"></a>
            </div>
        </div>
    </div>
    <br>
    <div class="ui divider"></div>
    <br>
</div>
