
<div id="map">
<div class="ui container" style="filter: grayscale(100%)">
        <div class="ui dividing header">
            <h2>Imagine Points of Interest</h2>
        </div>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf0DP5306YcsIqZm-Ly-dNjxoAMUHuwZU&callback=init"
            type="text/javascript"></script>
    <div id="map_canvas" style="height: 400px"></div>
    <script>
	    var locations = [
		    ['GOMA Gallery of Modern Art', 52.2594229, -7.1052349, 4],
		    ['Garter Lane Arts Centre', 52.261858, -7.114551, 5],
		    ['Theatre Royal', 52.259673, -7.106834, 3],
		    ['Central Arts', 52.260577, -7.1065208, 2],
		    ['Greyfriars Municipal Art Gallery', 52.2606213, -7.1068271, 1],
			['Waterford Healing Arts Trust', 52.2482351, -7.079500000000053, 6],
			['The Granary', 52.262754, -7.115170600000056, 7],
			['The Index, Waterford Library', 52.259539, -7.1110969999999725, 8],
			['The Apple Market', 52.2582441, -7.111958299999969, 9],
			['Studio 20ten', 52.2598825, -7.105491700000016, 10],
			['The Rogue Gallery', 52.2584933, -7.1119343999999955, 11],
			['St Johns College', 52.248722, -7.105811, 12],
			['St. Patrick’s Gateway Centre', 52.260326, -7.114121999999952, 13],
			['The Undercraft', 52.2598799, -7.106900499999938, 14],
			['WIT College St', 52.254544,  -7.115958, 15]
	    ];
	    var map;
	    var markers = [];

	    function init(){
		    map = new google.maps.Map(document.getElementById('map_canvas'), {
			    zoom: 15,
			    center: new google.maps.LatLng(52.2593197, -7.1100703),
			    mapTypeId: google.maps.MapTypeId.ROADMAP
		    });

		    var num_markers = locations.length;
		    for (var i = 0; i < num_markers; i++) {
			    markers[i] = new google.maps.Marker({
				    position: {lat:locations[i][1], lng:locations[i][2]},
				    map: map,
				    html: locations[i][0],
				    id: i,
			    });

			    google.maps.event.addListener(markers[i], 'click', function(){
				    var infowindow = new google.maps.InfoWindow({
					    id: this.id,
					    content:this.html,
					    position:this.getPosition()
								    });
							    google.maps.event.addListenerOnce(infowindow, 'closeclick', function(){
								    markers[this.id].setVisible(true);
							    });
							    this.setVisible(false);
							    infowindow.open(map);
						    });
				    }
		    }

		    init();
    </script>
</div>
</div>