<section>
    <div class="ui container">
        <div class="ui divider"></div>
        <div class="ui equal width row">
            <div class="ui vertical center aligned segment">
                Proudly Sponsored by
            </div>
        </div>
        <div class="ui stackable centered equal width grid">
            <div class="column">
                <div class="ui vertical center aligned segment">
                    <br>
                    <img class="ui centered small image" src="../assets/images/sponsors/spon-1.jpeg">
                </div>
            </div>
            <div class="column">
                <div class="ui vertical center aligned segment">
                    <img class="ui centered small image" src="../assets/images/sponsors/spon-3.png">
                </div>
            </div>
            <div class="column">
                <br>
                <div class="ui vertical center aligned segment">
                    <img class="ui centered small image" src="../assets/images/sponsors/spon-2.jpg">
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui equal width row">
                <div class="ui vertical center aligned segment">
                    Our Festival Partners
                </div>
            </div>
            <div class="ui stackable centered equal width grid">
                <div class="column">
                    <div class="ui vertical center aligned segment">
                        <br>
                        <img class="ui centered small image" src="../assets/images/sponsors/festpart/mediaPart1.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="ui vertical center aligned segment">
                      <br>
                        <img class="ui centered small image" src="../assets/images/sponsors/festpart/mediapart2.png">
                    </div>
                </div>
                <div class="column">
                    <br>
                    <div class="ui vertical center aligned segment">
                        <img class="ui centered small image" src="../assets/images/sponsors/festpart/mediapart5.gif">
                    </div>
                </div>
                <div class="column">
                    <br>
                    <div class="ui vertical center aligned segment">
                        <img class="ui centered tiny image" src="../assets/images/sponsors/festpart/medieval.png">
                    </div>
                </div>
                <div class="column">
                    <br>
                    <div class="ui vertical center aligned segment">
                        <img class="ui centered small image" src="../assets/images/sponsors/festpart/mediapart3.jpg">
                    </div>
                </div>
                <div class="ui stackable centered equal width row">
                    <div class="column">
                        <br>
                        <div class="ui vertical center aligned segment">
                            <img class="ui centered tiny image" src="../assets/images/sponsors/festpart/apple.png">
                        </div>
                    </div>
                  <div class="column">
                    <div class="ui vertical center aligned segment">
                      <img class="ui centered small image" src="../assets/images/sponsors/festpart/mediapart4.jpg">
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui vertical center aligned segment">
                      <img class="ui centered tiny image" src="../assets/images/sponsors/festpart/mediapart7.jpg">
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui vertical center aligned segment">
                      <img class="ui centered tiny image" src="../assets/images/sponsors/festpart/mediapart6.png">
                    </div>
                  </div>
                    <div class="column">
                        <div class="ui vertical center aligned segment">
                            <img class="ui centered tiny image" src="../assets/images/sponsors/festpart/labyrinth.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui equal width row">
            <div class="ui vertical center aligned segment">
               Our Media Partners
            </div>
        </div>
        <div class="ui stackable centered equal width grid">
            <div class="column">
                <div class="ui vertical center aligned segment">
                    <br>
                    <img class="ui centered small image" src="../assets/images/sponsors/media/munster.png">
                </div>
            </div>
            <div class="column">
                <br/>
                <div class="ui vertical center aligned segment">
                    <img class="ui centered tiny image" src="../assets/images/sponsors/media/waterford.png">
                </div>
            </div>
            <div class="column">
                <br>
                <div class="ui vertical center aligned segment">
                    <img class="ui centered tiny image" src="../assets/images/sponsors/media/wlrfm.png">
                </div>
            </div>
            <div class="column">
                <br>
                <div class="ui vertical center aligned segment">
                    <img class="ui centered tiny image" src="../assets/images/sponsors/media/WNS.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
