<div class="ui container">
            <div class="ui vertical stripe center aligned segment" id="home">
                <div class="ui text container">
                    <h3 class="ui dividing header">Reg D Hunter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <a href="../strands/events/test.html"><img class="ui centered large image" src="../assets/images/events/testsp.png"></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <a class="ui secondary basic button" href="../strands/events/test.html">Read More  <i class="send outline icon"></i></a>
                </div>
            </div>
</div>
