<div class="ui container">
            <div class="ui vertical stripe center aligned segment" id="home">
                <div class="ui text container">
                    <h3 class="ui dividing header">Battle of the Blaas<div class="sub header">Blaa-Mageddon</div> </h3>
                    <p>Sunday 22 October, 1pm, The Apple Market</p>
                    <div class="ui raised segment">
                    <a href="../strands/battle-of-the-blaas.html"><img class="ui centered huge image" src="../assets/images/blaatle/blattle1.jpg"></a>
                    </div>
                        <br>
                    <p>Something new and exciting is coming to Waterford during this years Imagine Festival.</p>
                    <a class="ui secondary basic button" href="../strands/battle-of-the-blaas.html">Read More  <i class="send outline icon"></i></a>
                </div>
            </div>
</div>
