<div class="ui container">
  <br>
  <h1 class="ui dividing header">Support Imagine</h1>

    <div class="ui stackable equal width grid">
        <div class="ui column">
            <img class="ui fluid image" src="../assets/images/support.jpg">
        </div>
        <div class="ui column">
            <br><br>
            <h3>Imagine Arts Festival is proud that over 60% of our events are provided at no cost to our audiences</h3>
            <h3>You can support the festival by making a contribution to our wristband collections at free events</h3>
            <h3>Help us keep Imagine events free & allow us to Imagine even more</h3>

        </div>
    </div>
