<div class="ui vertical stripe center aligned segment" id="home">
    <div class="ui text container">
        <h3 class="ui dividing header">Support the Festival</h3>
        <p>Imagine Arts Festival is proud that over 60% of our events are provided at no cost to our audiences</p>
        <p>You can support the festival by making a contribution to our wristband collections at free events</p>
        <p>Help us keep Imagine events free & allow us to Imagine even more</p>
        <a class="ui huge primary button" href="../strands/sponser.html">Support  <i class="send outline icon"></i></a>
    </div>
</div>